<ng-container *ngIf="form && form.controls && form.controls[field.name] && field.editable">
  <select [name]="field.name" [formControl]="form.controls[field.name]">
    <option *ngFor="let opt of field.options" [ngValue]="opt.key">{{opt.label}}</option>
  </select>
</ng-container>
<ng-container *ngIf="fieldOptionValuesMap && form && form.value && form.value[field.name] && !field.editable">{{fieldOptionValuesMap[form.value[field.name]]}}</ng-container>
