<ng-container *ngIf="doneCheckingAlreadyUploaded">
  <div class="page_content" *ngIf="step=='1.1'">
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Instruction</h1>
    </div>
    <div class="col-12">
        <img src="assets/guided-profile-1.png" class="img-fluid">
    </div>
    <div class="col-12 my-4">
      <h3 class="text-center">Recording Your Profile Video</h3>
      <p>Swaayam helps you create a super cool Video Resume which helps you stand out and get faster responses from recruiters.</p>
      <p>Be the Star: Show your cool skills on video, way better than just a paper resume!</p>
      <p>Take 2... or 3!: Oops, slipped up? Film it again until it’s perfect. You’re the boss!</p>
      <p>Replay Magic: Recruiters can watch your awesome video lots of times—no missing your awesomeness!</p>
      <p>Lights, camera, action—your dream job's just a play button away! 🎥✨</p>
      <button type="button" class="btn btn-primary btn-sm mt-20" (click)="gotostep('1.2')">Next</button>
    </div>
  </div>
  
  <div class="page_content" *ngIf="step=='1.2'">
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Step 1</h1>
    </div>
    <div class="col-12 text-center">
        <img src="assets/guided-profile-2.png" class="img-fluid cust-img">
    </div>
    <div class="col-12 my-4">
      <h3 class="text-left">Ready Steady Go !!</h3>
      <p>Just grab your phone – it has a camera and a microphone all in one!</p>
      <p>Make sure your phone is charged and you're connected to Wi-Fi.</p>
      <p>Find a quiet place and the light is good to record </p>
      <p>Think of it like getting your superhero gear on. Once you've got your phone ready, press 'Next' to go to the next step of our adventure!</p>
    </div>
    <div class="col-12 btn-group gap10">
    <button type="button" class="btn btn-primary button-ghost btn-sm mt-20" (click)="gotostep('1.1')">Previous</button>
    <button type="button" class="btn btn-primary btn-sm mt-20" (click)="gotostep('1.3')">Next</button>
    </div>
  </div>
  
  <div class="page_content" *ngIf="step=='1.3'">
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Step 2</h1>
    </div>
    <div class="col-12 text-center">
        <img src="assets/guided-profile-3.png" class="img-fluid cust-img">
    </div>
    <div class="col-12 my-4">
      <h3 class="text-left">Create a Presence</h3>
      <p>Alright, future stars! Once you've got your phone or camera, mic ready, and the perfect spot picked out, here comes the fun part:</p>
      <ul>
      <li>Dress to Impress: Dress well and make sure you you are presentable</li>
      <li>To Sit or Not to Sit: That is the question! Choose your throne or stand tall and proud. Just make sure you’re comfy.</li>
      <li>Chatter in Your Flavor: Whether it’s English, Hinglish, or any language that feels like home, speak in what makes you shine!</li>
      </ul>
      <p>Lights, camera, sparkle—let’s roll and show the world your glow! 🌟📸</p>
    </div>
    <div class="col-12 btn-group gap10">
    <button type="button" class="btn btn-primary button-ghost btn-sm mt-20" (click)="gotostep('1.2')">Previous</button>
    <button type="button" class="btn btn-primary btn-sm mt-20" (click)="gotostep('1.4')">Next</button>
    </div>
  </div>
  
  <div class="page_content" *ngIf="step=='1.4'">
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Step 3</h1>
    </div>
    <div class="col-12 text-center">
        <img src="assets/guided-profile-4.png" class="img-fluid cust-img">
    </div>
    <div class="col-12 my-4">
      <h3 class="text-left">Record the Video Resume</h3>
      <p>Awesome! You're all set to create your Video Resume.</p>
      <p>Here's what happens next:</p>
      <ul>
        <li>You'll get 4 cool questions to answer.</li>
        <li>If you're on a phone or tablet, pick from 2 camera options.</li>
        <li>Hit “Record my Answer” and a countdown begins, so get ready to shine!</li>
        <li>After recording, you can jump to the next question or do a retake if you want.</li>
        <li>Before you hit submit, make sure to check out all your answers one last time.</li>
      </ul>
      <p>If you need any help WhatsApp us on +919981859930</p>
      <p>Get ready to rock with your New Video Resume! 🌟🎥</p>
    </div>
    <div class="col-12 btn-group gap10">
    <button type="button" class="btn btn-primary button-ghost btn-sm mt-20" (click)="gotostep('1.4')">Previous</button>
    <button type="button" class="btn btn-primary btn-sm mt-20" (click)="gotostep('recordingselection')">Next</button>
    </div>
  </div>
  
  <div class="page_content" *ngIf="step=='continueorrestart'">
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Incomplete</h1>
    </div>
    <div class="col-12 text-center">
        <img src="assets/guided-profile-4.png" class="img-fluid cust-img">
    </div>
    <div class="col-12 my-4">
      <h3 class="text-left">Complete your Recording</h3>
      <p>You last uploaded profile video is incomplete. Continue from where you left off or star from the beginning.</p>
    </div>
    <div class="row btn-group gap10 justify-content-center">
    <button type="button" class="col-10 btn btn-primary button-ghost btn-sm mt-5" (click)="gotostep('1.1')">Start from Beginning</button>
    <button type="button" class="col-10 btn btn-primary btn-sm mt-20" (click)="continueRecording()">Continue from Previous</button>
    </div>
  </div>
  
  
  <div class="page_content" *ngIf="steptype=='recordingselection'">
    <ng-container *ngIf="cameraList!=null">  
      <div class="col-12 my-4">
        <h1 class="text-dark hosttitle font-weight-bold">Choose Camera</h1>
      </div>
      <div class="col-12 my-4">
        <select [(ngModel)]="chosenDeviceId" (change)="createPreviewVideo()">
          <option value="">No Camera Selected</option>
          <option *ngFor="let camera of cameraList" [value]="camera.deviceId">{{ camera.label }}</option>
        </select>
      </div>
      <div class="col-12 my-4" id="previewvideocontainer">
      </div>
      <div class="col-12 my-4">
        <button *ngIf="chosenDeviceId!==''" type="button" class="btn btn-primary btn-sm mt-20" (click)="gotostep('recordingdescription_0')">Choose camera</button>
      </div>
    </ng-container>  
    <ng-container *ngIf="cameraList==null">
      <div style="position: fixed; top: 10em; left: 10%; width: 80%; height: auto;">
        <div class="text-center mb-4">
          <img [src]="envService.values['staticmediaurl'] + 'loading.gif'" class="col-6" />
        </div> 
        <div class="text-center mb-2">Initializing Cameras</div> 
      </div>  
    </ng-container>  
  </div>
  
  <div class="page_content" *ngIf="steptype=='recordingdescription'">
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Stage {{(stepnumber + 1)}}</h1>
    </div>
    <div class="col-12 text-center">
      <div class="stepper-wrapper">
        <div class="stepper-item" *ngFor="let obj of partwiseQuestions; let questionNum = index" [class.completed]="questionNum<stepnumber" [class.active]="questionNum==stepnumber">
          <div class="step-counter">{{(questionNum + 1)}}</div>
          <div class="step-name">Stage {{(questionNum + 1)}}</div>
        </div>
      </div>
    </div>
    <div class="col-12 my-4">
      <h3 class="text-left">{{partwiseQuestions[stepnumber].question}}</h3>
      <div [innerHTML]="partwiseQuestions[stepnumber].question_description_html"></div>
      <button type="button" class="btn btn-primary btn-sm mt-20" (click)="gotorecordingstep(stepnumber)">Record my answer</button>
    </div>
  </div>
  
  <div class="page_content" *ngIf="showInitializeRecordingScreen" style="position:fixed; top: 0em; left: 0em; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.75);">
    <div class="initialize_record_timer" style="background:#EA4359; position: fixed; bottom: 1em; left: 50%; right: 0em; width: 3em; height: 3em; border: 3px solid #FFF; border-radius: 100px; font-size: 2em; text-align: center; z-index: 10; margin-left: -1.5em; padding-top: 1em; color: #fff;">
      {{initializeRecordingTimerNum}}
    </div>
  </div>
  
  <div class="" *ngIf="steptype=='recording'" style="background:#000;">
    <div class="position-relative d-flex flex-wrap justify-content-center" [id]="'parent_' + idx">
      <div class="col-12 px-0"><canvas *ngIf="showCanvas" [id]="'canvas_' + idx" width="320" height="240"></canvas></div>
    </div>
    <div class="text-right px-2 py-2">
      <small class="text-dark" *ngIf="recordingStatus === RECORDING.INITIALIZING">Initializing...</small>
      <small class="text-danger" *ngIf="recordingStatus === RECORDING.INPROGRESS">Recording in progress...</small>
      <small class="text-dark" *ngIf="recordingStatus === RECORDING.PAUSED">Recording Paused</small>
      <small class="text-primary" *ngIf="recordingStatus === RECORDING.STOPPED">Recording Stopped</small>
      <small class="text-primary" *ngIf="recordingStatus === RECORDING.PLAYING">Playing Recorded Video...</small>
      <small class="text-primary" *ngIf="recordingStatus === RECORDING.PLAYINGPAUSED">Paused Playing Video...</small>
    </div>
    <div class="text-center px-2 py-2 recording-action-btn" *ngIf="(recordingErrorMessage === undefined && recordingStatus === RECORDING.COMPLETED) || recordingStatus === RECORDING.PLAYING || recordingStatus === RECORDING.PLAYINGPAUSED">
      <button class="btn btn-sm btn-dark m-1 col-5 recording-cancel-btn" (click)="playRecordedVideo()" *ngIf="recordingStatus !== RECORDING.PLAYING"><span class="material-icons-outlined">play_circle</span> Play</button>
      <button class="btn btn-sm btn-dark m-1 col-5" (click)="pauseRecordedVideo()" *ngIf="recordingStatus === RECORDING.PLAYING"><span class="material-icons-outlined">pause</span> Pause</button>
      <button class="btn btn-sm btn-dark m-1 col-5 recording-done-btn" (click)="useRecording()"><span class="material-icons-outlined">arrow_circle_right</span> NEXT</button>
    </div>
    <div class="text-center px-2 py-2 recording-action-btn" *ngIf="recordingStatus === RECORDING.INPROGRESS">
      <button class="btn btn-sm btn-dark m-1 col-5 recording-cancel-btn" onclick="history.back()"><span class="material-icons-outlined">arrow_circle_left</span> CANCEL</button>
      <button class="btn btn-sm btn-dark m-1 col-5 recording-done-btn" (click)="stopRecording()"><span class="material-icons-outlined">arrow_circle_right</span> DONE</button>
    </div>
    <div class="text-center px-2 py-2" *ngIf="recordingQuestion !== undefined" style="background: #444; color: #FFF; font-weight: bold; border-radius: 0; width: 100%; position: fixed; top: 5em; left: 0;">
      {{recordingQuestion}}
    </div>
    <div *ngIf="recordingQuestion !== undefined && recordingStatus === RECORDING.INPROGRESS" style="background: #444; color: #FFF; font-weight: bold; border-radius: 100px; width: 3em; height: 3em; position: fixed; top: 10em; right: 1em; text-align: center; padding: 9px;">
      {{recordingTimeInSeconds}}
    </div>
  </div>
  
  <div class="page_content" *ngIf="step=='1.9'">
    <div class="col-12 my-4">
        <img src="assets/guided-profile-6.png" class="img-fluid">
    </div>
    <div class="col-12 my-4">
      <h3 class="text-center">Congratulations on <br>recording your Video</h3>
      <p class="text-center">Your video is being uploaded. You can navigate to other pages while we upload, but please do not minimize or close this App.</p>
    </div>
    <div class="position-relative d-flex flex-wrap justify-content-center" [id]="'finalrecording_parent_' + idx"></div>
  </div>
</ng-container>