<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">My Profile</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 field field_type__button field_name__edit_details_top text-right mb-0 nonstandardiconcontainer">
      <div class="fieldelement">
        <button class="btn btn-link text-danger text-underline" (click)="templateutilsService.navigateToRoute('employer/editprofile')"><i class="icontype__element material-icons std_icon iconval__drive_file_rename_outline">drive_file_rename_outline</i> Edit Profile</button>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__group field_name__candidate_top_card std_card_iconimg_text">
      <div class="fieldelement">
        <div class="fieldsgroup">
          <div class="col-12 col-md-4 mb-4 field field_type__image-cropper field_name__photo_id">
            <div class="fieldelement">
              <div class="image-cropper-field" [field]="{editable: false, media_name_key: 'photo_id_media_file_internal_name', media_id_key: 'photo_id', category: 'userprofile__image__base64', roundCropper: true, data: response_data}" [localform]="localform"></div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__label field_name__name font-weight-bold h4">
            <div class="fieldelement">
              <span>{{localform.value["name"]}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__mobile">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Mobile Number </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__mobile_friendly">mobile_friendly</i>
        <span>{{localform.value["mobile"]}}</span>
        <span class="validationerror minLength" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.minlength">Must contain minimum 10 characters</span>
        <span class="validationerror maxLength" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.maxlength">Must contain maximum 10 characters</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__email">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Email </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__email">email</i>
        <span>{{localform.value["email"]}}</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__current_location">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Current Location </span>
      </div>
      <div class="fieldelement">
        <span>{{localform.value["current_location"]}}</span>
      </div>
    </div>
  </div>
  <div class="row mx-0 section px-md-3">
    <div class="sectiontitlesubtitlegroup px-0 mt-2 mb-3 col-12">
      <h2 class="font-weight-bold col-12 sectiontitle my-md-2 text-primary py-0 my-0">Company Details</h2>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__image-cropper field_name__company_logo_id nonroundedimg">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Company Logo </span>
      </div>
      <div class="fieldelement">
        <div class="image-cropper-field" [field]="{editable: false, media_name_key: 'company_logo_id_media_file_internal_name', media_id_key: 'company_logo_id', category: 'userprofile__image__base64', roundCropper: false, data: response_data}" [localform]="localform"></div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__video-record field_name__video_id">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> About Video </span>
      </div>
      <div class="fieldelement">
        <div
          class="video-record-field"
          [field]="{editable: false, hideupload: false, uploadtype: '', sprout_embedded_url_key: 'video_id_sprout_embedded_url', media_name_key: 'video_id_media_file_internal_name', media_url_key: 'video_id_media_file_url', media_frame_key: 'video_id_media_frame_url', media_id_key: 'video_id', embedvideodirectly: false, category: 'company__video', data: response_data}"
          [localform]="localform"
        ></div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__company_name">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Company Name </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__business_center">business_center</i>
        <span>{{localform.value["company_name"]}}</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__company_location">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Company Location </span>
      </div>
      <div class="fieldelement">
        <span>{{localform.value["company_location"]}}</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__no_of_employees">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Employees </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__groups">groups</i>
        <span>{{localform.value["no_of_employees"]}}</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__gstin">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> GSTIN </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__account_balance_wallet">account_balance_wallet</i>
        <span>{{localform.value["gstin"]}}</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__pan">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> PAN </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__credit_card">credit_card</i>
        <span>{{localform.value["pan"]}}</span>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__richtextlabel field_name__company_description col-md-12 border py-3 rounded">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Company Description </span>
      </div>
      <div class="fieldelement">
        <div class="fieldvalue" innerHTML='{{localform.value["company_description"]}}'></div>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__node_obj_list field_name__attachments multifile col-md-12 py-3">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Additional Media </span>
      </div>
      <div class="fieldelement">
        <span class="validationerror min" *ngIf="localform.controls['attachments'].errors && localform.controls['attachments'].errors.min">Must be greater than 1</span>
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['attachments']['controls'])?localform.controls['attachments']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['attachments']['controls'] && localform.controls['attachments']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['attachments']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_attachments" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['attachments']['controls'] && localform.controls['attachments']['controls'].length===0">
              <div class="px-2 text-center">No additional attachments for this Company</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template_nodelist_attachments let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 mb-4 field field_type__file field_name__attachment_media_id">
        <div class="fieldelement">
          <div
            class="file-upload"
            [field]="{editable: false, file_url_key: 'media_file_url', file_aws_name_key: 'media_file_internal_name', file_name_key: 'media_file_external_name', file_id_key: 'attachment_media_id', category: 'additional__attachment', allowedtypes: ['pdf','image','video'], data: (response_data['attachments'])?response_data['attachments'][index]:undefined}"
            [localform]="localform"
          ></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
