<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Find Jobs</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__job_location_city offset-md-1">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> City </span>
      </div>
      <div class="fieldelement">
        <customdropdown [form]="localform" [field]="{config: {assign_first_option: false, addblankoption: {'key':'','value':''}}, name: 'job_location_city', editable: true, options: response_city_id_options, data: response_data}"></customdropdown>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__job_category_id">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Job Category </span>
      </div>
      <div class="fieldelement">
        <customdropdown [form]="localform" [field]="{config: {assign_first_option: false, addblankoption: {'key':'','value':''}}, name: 'job_category_id', editable: true, options: response_category_id_options, data: response_data}"></customdropdown>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__button field_name__searchbutton col-md-2">
      <div class="fieldelement">
        <button class="btn btn-sm bg-dark text-white px-3 mt-4" (click)="searchPublicJobs()"><i class="icontype__element material-icons std_icon iconval__search">search</i> Search Jobs</button>
      </div>
    </div>
  </div>
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 field field_type__group field_name__sort_filter_buttons_group mb-0 standardfilterscard py-2">
      <div class="fieldelement">
        <div class="row pb-1 fieldsgroup">
          <div class="col-md-4 field field_type__label field_name__filter_button text-center" [class.filternotempty]="(filter_data | isvalueempty) !== true">
            <div class="fieldelement">
              <span class="col-12" (click)="openFilterModal()"> <i class="text-dark icontype__element material-icons std_icon iconval__filter_alt">filter_alt</i> Filter Results</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 field field_type__node_obj_list field_name__jobs col-md-10 m-auto">
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['jobs']['controls'])?localform.controls['jobs']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['jobs']['controls'] && localform.controls['jobs']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['jobs']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_jobs" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['jobs']['controls'] && localform.controls['jobs']['controls'].length===0">
              <div class="px-2 text-center">No Results Found</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template_nodelist_jobs let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 field field_type__group field_name__job_card my-3 px-0">
        <div class="fieldelement">
          <div class="fieldsgroup">
            <div class="col-12 col-md-4 mb-4 field field_type__group field_name__job_top_card std_card_iconimg_text companylogocardcontainer">
              <div class="fieldelement">
                <div class="fieldsgroup">
                  <div class="col-12 col-md-4 mb-4 field field_type__image-cropper field_name__company_photo_id nonroundedimg">
                    <div class="fieldelement">
                      <div
                        class="image-cropper-field"
                        [field]="{editable: false, media_name_key: 'company_photo_id_media_file_internal_name', media_id_key: 'company_photo_id', category: 'userprofile__image__base64', roundCropper: false, data: (response_data['jobs'])?response_data['jobs'][index]:undefined}"
                        [localform]="localform"
                      ></div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-4 field field_type__group field_name__company_name_job_title std_card_text_group">
                    <div class="fieldelement">
                      <div class="fieldsgroup">
                        <div class="col-12 col-md-4 mb-4 field field_type__label field_name__job_title">
                          <div class="fieldelement">
                            <span>{{localform.value["job_title"] | fieldvaluetransform:'truncate':30}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 field field_type__group field_name__company_name_buttons mb-2 px-0">
              <div class="fieldelement">
                <div class="fieldsgroup">
                  <div class="col-12 field_type__label field_name__company_name mb-3 mb-md-0 px-0 col-md-8">
                    <div class="fieldelement">
                      <span>{{localform.value["company_name"]}}</span>
                    </div>
                  </div>
                  <div class="field_type__button field_name__applybutton text-right col-6 col-md-2 px-0">
                    <div class="fieldelement">
                      <button class="btn btn-sm btn-primary font-weight-bold" (click)="dialogService.openComponent('CandidateNologinFormComponent', 'CandidateNologinFormModule', dialogService.DIALOGTYPES.XS, undefined, 'floatingsmallform')">
                        <i class="icontype__element material-icons std_icon iconval__touch_app">touch_app</i> Apply
                      </button>
                    </div>
                  </div>
                  <div class="field_type__button field_name__sharebutton col-6 col-md-2 pl-2 pr-0">
                    <div class="fieldelement">
                      <button
                        class="btn btn-sm btn-danger font-weight-bold"
                        (click)="dialogService.openComponent('SharepopupComponent', 'SharepopupModule', dialogService.DIALOGTYPES.XS, {url:('https://app.swaayam.co/job/'+localform.value['id']), image:localform.value['video_id_media_frame_url'], title:localform.value['job_title'], description:localform.value['job_description_clean'], include:['facebook','twitter','linkedin','whatsapp']}, 'floatingsmallform')"
                      >
                        <i class="icontype__element material-icons std_icon iconval__share">share</i> Share
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 field field_type__group field_name__job_noncard_details std_twocolumn_flex">
              <div class="fieldelement">
                <div class="bg-secondary rounded-sm p-2 fieldsgroup">
                  <div class="col-12 col-md-4 field field_type__label field_name__job_location_city my-2">
                    <div class="fieldelement">
                      <i class="material-icons std_icon iconval__fmd_good">fmd_good</i>
                      <span>{{localform.value["job_location_city"] | fieldvaluetransform:'truncate':15}}</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 field field_type__label field_name__min_job_salary my-2">
                    <div class="fieldelement">
                      <i class="material-icons std_icon iconval__sell">sell</i>
                      <span>{{localform.value["min_job_salary"] | fieldvaluetransform:'formatcurrency'}}</span>
                      <span class="validationerror min" *ngIf="localform.controls['min_job_salary'].errors && localform.controls['min_job_salary'].errors.min">Must be greater than 0</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 field field_type__label field_name__num_of_openings my-2">
                    <div class="fieldelement">
                      <i class="material-icons std_icon iconval__stream">stream</i>
                      <span>{{localform.value["num_of_openings"]}}</span>
                      <span class="validationerror min" *ngIf="localform.controls['num_of_openings'].errors && localform.controls['num_of_openings'].errors.min">Must be greater than 0</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 field field_type__label field_name__experience my-2">
                    <div class="fieldelement">
                      <i class="material-icons std_icon iconval__switch_account">switch_account</i>
                      <span>{{localform.value["experience"] | fieldvaluetransform:'append':' Yrs'}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div class="pagination-container">
  <ul class="pagination justify-content-center" *ngIf="total_pages>1">
    <li class="page-item"><button [disabled]="page_number==1" [class.disabled]="page_number==1" class="page-link" (click)="load_data_page(1)">First</button></li>
    <li class="page-item"><button [disabled]="page_number==1" [class.disabled]="page_number==1" class="page-link" (click)="load_data_page(page_number-1)">Prev</button></li>
    <li class="page-item active">
      <button class="page-link"><strong>{{page_number}}</strong></button>
    </li>
    <li class="page-item"><button [disabled]="page_number==total_pages" [class.disabled]="page_number==total_pages" class="page-link" (click)="load_data_page(page_number+1)">Next</button></li>
    <li class="page-item"><button [disabled]="page_number==total_pages" [class.disabled]="page_number==total_pages" class="page-link" (click)="load_data_page(total_pages)">Last</button></li>
  </ul>
</div>
