<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Update Profile</h1>
  <h4 class="w-100 my-2 text-center hostsubtitle text-danger font-weight-bold">Welcome to Swaayam</h4>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__dummytext">
      <div class="fieldelement">
        <span>Welcome to Swaayam, create an awesome profile. Make sure you fill out all the details and create a video about your self. See the video below for help.</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__video-record field_name__video_id">
      <div class="fieldelement">
        <div
          class="video-record-field"
          [field]="{editable: false, hideupload: false, uploadtype: '', sprout_embedded_url_key: 'video_id_sprout_embedded_url', media_name_key: 'video_id_media_file_internal_name', media_url_key: 'video_id_media_file_url', media_frame_key: 'video_id_media_frame_url', media_id_key: 'video_id', embedvideodirectly: true, category: 'company__video', data: response_data}"
          [localform]="localform"
        ></div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__button field_name__okay">
      <div class="fieldelement text-center nonstandardiconcontainer">
        <button class="px-4 btn btn-sm btn-primary" (click)="templateutilsService.navigateToRoute('candidate/editprofile')"><i class="icontype__element material-icons std_icon iconval__done">done</i> Okay</button>
      </div>
    </div>
  </div>
</div>
