<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Edit Job</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 mb-4 field field_type__text field_name__job_title col-md-8">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Job Title </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__work">work</i>
        <input [formControl]="localform.controls['job_title']" type="text" name="job_title" />
        <span class="validationerror required" *ngIf="localform.controls['job_title'].errors && localform.controls['job_title'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__video-record field_name__video_id">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Job Description Video </span>
      </div>
      <div class="fieldelement">
        <div
          class="video-record-field"
          [field]="{editable: true, hideupload: false, sprout_embedded_url_key: 'video_id_sprout_embedded_url', uploadtype: '', media_name_key: 'video_id_media_file_internal_name', media_url_key: 'video_id_media_file_url', media_frame_key: 'video_id_media_frame_url', media_id_key: 'video_id', embedvideodirectly: false, category: 'job__video', data: response_data}"
          [localform]="localform"
        ></div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__is_remote_job">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Can Work Remotely? </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <customdropdown [form]="localform" [field]="{config: {assign_first_option: false}, name: 'is_remote_job', editable: true, options: [{'key':'No','label':'No'},{'key':'Yes','label':'Yes'}], data: response_data}"></customdropdown>
        <span class="validationerror required" *ngIf="localform.controls['is_remote_job'].errors && localform.controls['is_remote_job'].errors.required">This field is required</span>
      </div>
    </div>
    <ng-container *ngIf="this.localform.value['is_remote_job']==='No'">
      <div class="col-12 col-md-4 mb-4 field field_type__maplocation field_name__job_location">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Job Location </span>
        </div>
        <div class="fieldelement">
          <maplocation
            class="d-block"
            [field]="{editable: true, location_name_key: 'job_location', location_latitude_key: 'job_latitude_location', location_longitude_key: 'job_longitude_location', location_city_key: 'job_location_city', location_state_key: 'job_location_state', location_country_key: 'job_location_country', data: response_data}"
            [form]="localform"
          ></maplocation>
        </div>
      </div>
    </ng-container>
    <div class="col-12 col-md-4 mb-4 field field_type__number field_name__min_experience">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Minimum Experience (in years) </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__switch_account">switch_account</i>
        <input min="0" [formControl]="localform.controls['min_experience']" type="number" name="min_experience" />
        <span class="validationerror required" *ngIf="localform.controls['min_experience'].errors && localform.controls['min_experience'].errors.required">This field is required</span>
        <span class="validationerror min" *ngIf="localform.controls['min_experience'].errors && localform.controls['min_experience'].errors.min">Must be greater than 0</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__number field_name__max_experience">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Maximum Experience (in years) </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__switch_account">switch_account</i>
        <input min="0" [formControl]="localform.controls['max_experience']" type="number" name="max_experience" />
        <span class="validationerror required" *ngIf="localform.controls['max_experience'].errors && localform.controls['max_experience'].errors.required">This field is required</span>
        <span class="validationerror min" *ngIf="localform.controls['max_experience'].errors && localform.controls['max_experience'].errors.min">Must be greater than 0</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__number field_name__min_job_salary">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Minium Monthly Salary (in Rs.) </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__sell">sell</i>
        <input min="0" [formControl]="localform.controls['min_job_salary']" type="number" name="min_job_salary" />
        <span class="validationerror required" *ngIf="localform.controls['min_job_salary'].errors && localform.controls['min_job_salary'].errors.required">This field is required</span>
        <span class="validationerror min" *ngIf="localform.controls['min_job_salary'].errors && localform.controls['min_job_salary'].errors.min">Must be greater than 0</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__number field_name__max_job_salary">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Maximum Monthly Salary (in Rs.) </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__sell">sell</i>
        <input min="0" [formControl]="localform.controls['max_job_salary']" type="number" name="max_job_salary" />
        <span class="validationerror min" *ngIf="localform.controls['max_job_salary'].errors && localform.controls['max_job_salary'].errors.min">Must be greater than 0</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__education_requirement">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Education </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <customdropdown
          [form]="localform"
          [field]="{config: {assign_first_option: true}, name: 'education_requirement', editable: true, options: [{'key':'8th Class Pass','label':'8th Class Pass'},{'key':'10th Class Pass','label':'10th Class Pass'},{'key':'12th Class Pass','label':'12th Class Pass'},{'key':'Graduation','label':'Graduation'},{'key':'Post Graduation','label':'Post Graduation'}], data: response_data}"
        ></customdropdown>
        <span class="validationerror required" *ngIf="localform.controls['education_requirement'].errors && localform.controls['education_requirement'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__number field_name__num_of_openings">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> No. of Openings </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__stream">stream</i>
        <input min="0" [formControl]="localform.controls['num_of_openings']" type="number" name="num_of_openings" />
        <span class="validationerror required" *ngIf="localform.controls['num_of_openings'].errors && localform.controls['num_of_openings'].errors.required">This field is required</span>
        <span class="validationerror min" *ngIf="localform.controls['num_of_openings'].errors && localform.controls['num_of_openings'].errors.min">Must be greater than 0</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__job_category_id">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Job Category </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <customdropdown [form]="localform" [field]="{config: {assign_first_option: true}, name: 'job_category_id', editable: true, options: response_category_id_options, data: response_data}"></customdropdown>
        <span class="validationerror required" *ngIf="localform.controls['job_category_id'].errors && localform.controls['job_category_id'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__job_role_id">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Job Role </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <customdropdown [form]="localform" [field]="{config: {assign_first_option: true}, name: 'job_role_id', editable: true, options: response_role_id_options, data: response_data}"></customdropdown>
        <span class="validationerror required" *ngIf="localform.controls['job_role_id'].errors && localform.controls['job_role_id'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__richtext field_name__job_description col-md-12 border py-3 rounded">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Job Description </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <div class="customtextarea" [field]="{editable: true, value_key: 'job_description', data: response_data}" [form]="localform"></div>
        <span class="validationerror required" *ngIf="localform.controls['job_description'].errors && localform.controls['job_description'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__node_obj_list field_name__attachments multifile col-md-12 py-3">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Additional Media </span>
      </div>
      <div class="fieldelement">
        <span class="validationerror min" *ngIf="localform.controls['attachments'].errors && localform.controls['attachments'].errors.min">Must be greater than 1</span>
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['attachments']['controls'])?localform.controls['attachments']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_add">
            <button type="button" class="btn btn-sm btn-primary nonstandardiconcontainer" (click)="addNode_attachments()"><i class="material-icons">add_circle</i>ADD</button>
          </div>
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['attachments']['controls'] && localform.controls['attachments']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['attachments']['controls'];let i=index;">
                <div class="nodeslist_remove mt-3">
                  <button class="btn btn-link text-danger nonstandardiconcontainer" (click)="removeNode_attachments(i)"><i class="material-icons">remove_circle</i>Remove</button>
                </div>
                <ng-container [ngTemplateOutlet]="template_nodelist_attachments" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['attachments']['controls'] && localform.controls['attachments']['controls'].length===0">
              <div class="px-2 text-center">No additional attachments for this Job</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-0 section px-md-3">
    <div class="sectiontitlesubtitlegroup px-0 mt-2 mb-3 col-12">
      <h2 class="font-weight-bold col-12 sectiontitle my-md-2 text-primary py-0 my-0">Interview Questions</h2>
      <small class="col-12 sectionsubtitle py-0"> Need to be answered by candidates while applying </small>
    </div>
    <div class="col-12 mb-4 field field_type__node_obj_list field_name__screening_questions col-md-12">
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['screening_questions']['controls'])?localform.controls['screening_questions']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_add">
            <div class="px-2 text-center mt-2">
              <button class="btn btn-primary nonstandardiconcontainer" (click)="attach_interview()"><i class="material-icons">drive_file_rename_outline</i>
                <ng-container *ngIf="localform.controls['screening_questions']['controls'].length===0">Attach Interview Questions</ng-container>
                <ng-container *ngIf="localform.controls['screening_questions']['controls'].length!==0">Modify Interview Questions</ng-container>
              </button>
            </div>
          </div>
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['screening_questions']['controls'] && localform.controls['screening_questions']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['screening_questions']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_screening_questions" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['screening_questions']['controls'] && localform.controls['screening_questions']['controls'].length===0">
              <div class="px-2 text-center">No Interview Questions for this Job</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center my-4 nonstandardiconfield" (click)="submitForm()">
  <button class="btn btn-primary btn-md shadow-sm col-6 col-md-2 stdsubmitbutton" type="button">
    <i class="material-icons std_icon iconval__check_circle">check_circle</i>
    Submit
  </button>
</div>
<ng-container *ngIf="localform.value['status_id']===1">
  <div class="col-12 mb-4 field field_type__button field_name__unpublish_details text-center">
    <div class="fieldelement">
      <button class="btn btn-warning text-center px-5 font-weight-bold nonstandardiconcontainer" (click)="unpublishJob(localform.value['id'])"><i class="icontype__element material-icons std_icon iconval__delete">delete</i> Unpublish Job</button>
    </div>
  </div> 
</ng-container>
<ng-container *ngIf="localform.value['status_id']===2">
  <div class="col-12 col-md-4 mb-4 field field_type__button field_name__publish_details text-center">
    <div class="fieldelement">
      <button class="btn btn-warning text-center px-5 font-weight-bold nonstandardiconcontainer" (click)="publishJob(localform.value['id'])"><i class="icontype__element material-icons std_icon iconval__done">done</i> Publish Job</button>
    </div>
  </div> </ng-container>
<ng-container *ngIf="localform.value['status_id']===2">
  <div class="col-12 col-md-4 field field_type__label field_name__dummyunpublished text-center py-2 mb-2 text-danger bg-secondary font-weight-bold">
    <div class="fieldelement">
      <span>This Job is INACTIVE</span>
    </div>
  </div>
</ng-container>
<ng-template #template_nodelist_attachments let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 mb-4 field field_type__file field_name__attachment_media_id">
        <div class="fieldelement">
          <div
            class="file-upload"
            [field]="{editable: true, file_url_key: 'media_file_url', file_aws_name_key: 'media_file_internal_name', file_name_key: 'media_file_external_name', file_id_key: 'attachment_media_id', category: 'additional__attachment', allowedtypes: ['pdf','image','video'], data: (response_data['attachments'])?response_data['attachments'][index]:undefined}"
            [localform]="localform"
          ></div>
          <span class="validationerror required" *ngIf="localform.controls['attachment_media_id'].errors && localform.controls['attachment_media_id'].errors.required">This field is required</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #template_nodelist_screening_questions let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 field field_type__textarea field_name__question mb-2">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Question {{(index + 1)}}</span>
        </div>
        <div class="fieldelement">
          <span>{{localform.controls['question'].value}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
