<div class="fieldset">
  <div class="d-flex">
    <ng-container *ngIf="navigationService.enableBack">
      <div class="pt-2 pl-1 pr-0 col-1 nonstandardiconfield clickable d-sm-none menuicon backbutton text-dark" (click)="navigationService.back()">
        <div class="fieldelement">
          <i class="material-icons std_icon iconval__arrow_back_ios">arrow_back_ios</i>
          <span></span>
        </div>
      </div> </ng-container
    ><ng-container *ngIf="appstateService.appState.user!==undefined">
      <div class="nonstandardiconfield logo ml-3 clickable col-7 px-0" (click)="templateutilsService.navigateToRoute('/')">
        <div class="fieldelement">
          <img src="{{envService.values['staticmediaurl']}}logo.png" />
        </div>
      </div> </ng-container
    ><ng-container *ngIf="appstateService.appState.user==undefined">
      <div class="nonstandardiconfield logo ml-3 clickable col-7 px-0" (click)="templateutilsService.navigateToURL('https://swaayam.co')">
        <div class="fieldelement">
          <img src="{{envService.values['staticmediaurl']}}logo.png" />
        </div>
      </div> </ng-container
    ><ng-container *ngIf="appstateService.appState.user!==undefined && appstateService.appState.usertype=='candidate'">
      <div class="text-right pt-2 col-2 clickable d-sm-none menuicon nonstandardiconfield text-dark px-0 ml-auto" (click)="templateutilsService.navigateToRoute('candidate/notifications')" [class.filternotempty]="appstateService.hasunreadnotifications">
        <div class="fieldelement">
          <span> <i class="large icontype__element material-icons std_icon iconval__notifications_active">notifications_active</i> </span>
        </div>
      </div> </ng-container
    ><ng-container *ngIf="appstateService.appState.user!==undefined && appstateService.appState.usertype=='employer'">
      <div class="text-right pt-2 col-2 clickable d-sm-none menuicon nonstandardiconfield text-dark px-0 ml-auto" (click)="templateutilsService.navigateToRoute('employer/notifications')" [class.filternotempty]="appstateService.hasunreadnotifications">
        <div class="fieldelement">
          <span> <i class="large icontype__element material-icons std_icon iconval__notifications_active">notifications_active</i> </span>
        </div>
      </div> </ng-container
    ><ng-container *ngIf="appstateService.appState.user!==undefined && appstateService.appState.usertype=='candidate'">
      <div class="text-right pt-2 col-2 clickable menuicon nonstandardiconfield text-dark mr-2 ml-auto" (click)="dialogService.openComponent('NavbarexpandedcandidateComponent', 'NavbarexpandedcandidateModule', dialogService.DIALOGTYPES.LG, undefined, 'mobilenavbar')">
        <div class="fieldelement">
          <span> <i class="large icontype__element material-icons std_icon iconval__menu">menu</i> </span>
        </div>
      </div> </ng-container
    ><ng-container *ngIf="appstateService.appState.user!==undefined && appstateService.appState.usertype=='employer'">
      <div class="text-right pt-2 col-2 clickable menuicon nonstandardiconfield text-dark mr-2 ml-auto" (click)="dialogService.openComponent('NavbarexpandedemployerComponent', 'NavbarexpandedemployerModule', dialogService.DIALOGTYPES.LG, undefined, 'mobilenavbar')">
        <div class="fieldelement">
          <span> <i class="large icontype__element material-icons std_icon iconval__menu">menu</i> </span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
