<div class="page_content candiate-oneway-interview">
  <div class="col-12">
      <img src="assets/video-request.png" class="img-fluid">
  </div>
  <div class="col-12 my-4" *ngIf="interviewRequests && interviewRequests.length>0">
    <h3 class="text-center">Request for Interview</h3>
    <p>Hi <strong>{{username}}</strong>, {{interviewRequests[0].company_name}} has requested you to attend a One Way Interview for the Job <b>{{interviewRequests[0].job_title}}</b>.</p>
    <button type="button" class="btn btn-info btn-sm mt-20 col-12" (click)="router.navigate(['candidate/job', interviewRequests[0].job_id])">Go to Job Details</button>
    
    <button type="button" class="btn btn-primary btn-sm mt-20" (click)="router.navigate(['candidate/applyforjob', interviewRequests[0].job_id])">Go to Interview</button>
    <p class="custom-skip mt-4" (click)="router.navigate(['candidate/home'])">I’ll do this later</p>
  </div>
</div>