<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Download App</h1>
  <h4 class="w-100 my-2 text-center hostsubtitle">Get Swaayam App for your Phone Now!</h4>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 mb-4 field field_type__text field_name__name col-md-12">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Name </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__person">person</i>
        <input [formControl]="localform.controls['name']" type="text" name="name" />
        <span class="validationerror required" *ngIf="localform.controls['name'].errors && localform.controls['name'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__mobile_number field_name__mobile col-md-12">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Mobile Number </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__mobile_friendly">mobile_friendly</i>
        <span class="emptyspan"></span>
        <input placeholder="Enter 10 digit Mobile Number" [formControl]="localform.controls['mobile']" type="tel" name="mobile" />
        <span class="validationerror minLength" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.minlength">Must contain minimum 10 characters</span>
        <span class="validationerror maxLength" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.maxlength">Must contain maximum 10 characters</span>
      </div>
    </div>
  </div>
</div>
<div class="text-center my-4 nonstandardiconfield" (click)="submitForm()">
  <button class="btn btn-primary btn-md shadow-sm col-6 col-md-2 stdsubmitbutton" type="button">
    <i class="material-icons std_icon iconval__check_circle">check_circle</i>
    Submit
  </button>
</div>
