<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Filters</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__job_id">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Job </span>
      </div>
      <div class="fieldelement">
        <customdropdown [form]="localform" [field]="{config: {assign_first_option: false, addblankoption: {'key':'','label':'Any'}}, name: 'job_id', editable: true, options: response_jobs_options, data: this.filter_data}"></customdropdown>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__job_application_status">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Application Status </span>
      </div>
      <div class="fieldelement">
        <customdropdown
          [form]="localform"
          [field]="{config: {assign_first_option: false}, name: 'job_application_status', editable: true, options: [{'key':'','label':'Any'},{'key':'SELECTED','label':'Selected'},{'key':'ONHOLD','label':'Shortlist'},{'key':'REJECTED','label':'Rejected'},{'key':'UNREAD','label':'Unread'}], data: this.filter_data}"
        ></customdropdown>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__button field_name__filter_button text-center nonstandardiconcontainer">
      <div class="fieldelement">
        <button class="btn btn-md btn-warning col-6 nonroundedbutton" (click)="submitFilterData()"><i class="icontype__element material-icons std_icon iconval__filter_alt">filter_alt</i> Filter</button>
      </div>
    </div>
  </div>
</div>
