<div class="fieldset">
  <div class="row mx-0 section px-md-3 mb-2">
    <div class="col-12 col-md-4 field field_type__label field_name__welcomemessage py-3 px-2 bg-dark mb-3">
      <div class="fieldelement">
        <span class="h3 text-white font-weight-bold">{{'Welcome ' + appstateService.appState.user.name}}</span>
      </div>
    </div>
  </div>
  <div class="row mx-0 section px-md-3 mb-2">
    <div class="sectiontitlesubtitlegroup px-0 mt-2 mb-3 col-12">
      <h2 class="font-weight-bold col-12 sectiontitle my-md-2 text-primary py-0 my-0">Your Notifications</h2>
    </div>
    <div class="col-12 col-md-4 field field_type__node_obj_list field_name__notifications">
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['notifications']['controls'])?localform.controls['notifications']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['notifications']['controls'] && localform.controls['notifications']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['notifications']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_notifications" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['notifications']['controls'] && localform.controls['notifications']['controls'].length===0">
              <div class="px-2 text-center">Your notifications are empty</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="localform.value['notifications'].length>5">
      <div class="col-12 col-md-4 field field_type__button field_name__select text-right nonstandardiconfield">
        <div class="fieldelement">
          <button class="btn btn-link font-weight-bold text-danger" (click)="this.templateutilsService.navigateToRoute('candidate/notifications')"><i class="icontype__element material-icons std_icon iconval__ads_click">ads_click</i> Go to Notifications</button>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row mx-0 section px-md-3 mb-2">
    <div class="sectiontitlesubtitlegroup px-0 mt-2 mb-3 col-12">
      <h2 class="font-weight-bold col-12 sectiontitle my-md-2 text-primary py-0 my-0">Your Jobs</h2>
    </div>
    <div class="kpibox2 py-2 px-2">
      <div class="col-12 col-md-4 field field_type__label field_name__jobsviewed shadow-sm rounded py-2">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Viewed Jobs </span>
        </div>
        <div class="fieldelement">
          <span class="h3 font-weight-bold"> <i class="text-warning icontype__element material-icons std_icon iconval__visibility">visibility</i> {{localform.value["jobsviewed"]}}</span>
        </div>
      </div>
    </div>
    <div class="kpibox2 py-2 px-2">
      <div class="col-12 col-md-4 field field_type__label field_name__jobsshortlisted shadow-sm rounded py-2">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Favourites </span>
        </div>
        <div class="fieldelement">
          <span class="h3 font-weight-bold"> <i class="text-warning icontype__element material-icons std_icon iconval__rule">rule</i> {{localform.value["jobsshortlisted"]}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-0 section px-md-3 mb-2">
    <div class="sectiontitlesubtitlegroup px-0 mt-2 mb-3 col-12">
      <h2 class="font-weight-bold col-12 sectiontitle my-md-2 text-primary py-0 my-0">Your Applications</h2>
    </div>
    <div class="kpibox2 py-2 px-2">
      <div class="col-12 col-md-4 field field_type__label field_name__applications shadow-sm rounded py-2">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Applications </span>
        </div>
        <div class="fieldelement">
          <span class="h3 font-weight-bold"> <i class="text-danger icontype__element material-icons std_icon iconval__grading">grading</i> {{localform.value["applications"]}}</span>
        </div>
      </div>
    </div>
    <div class="kpibox2 py-2 px-2">
      <div class="col-12 col-md-4 field field_type__label field_name__unreadapplications shadow-sm rounded py-2">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Unread </span>
        </div>
        <div class="fieldelement">
          <span class="h3 font-weight-bold"> <i class="text-dark icontype__element material-icons std_icon iconval__visibility_off">visibility_off</i> {{localform.value["unreadapplications"]}}</span>
        </div>
      </div>
    </div>
    <div class="kpibox2 py-2 px-2">
      <div class="col-12 col-md-4 field field_type__label field_name__selectedapplications shadow-sm rounded py-2">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Selected </span>
        </div>
        <div class="fieldelement">
          <span class="h3 font-weight-bold"> <i class="text-primary icontype__element material-icons std_icon iconval__check_circle">check_circle</i> {{localform.value["selectedapplications"]}}</span>
        </div>
      </div>
    </div>
    <div class="kpibox2 py-2 px-2">
      <div class="col-12 col-md-4 field field_type__label field_name__onholdapplications shadow-sm rounded py-2">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Shortlisted </span>
        </div>
        <div class="fieldelement">
          <span class="h3 font-weight-bold"> <i class="text-warning icontype__element material-icons std_icon iconval__pan_tool">pan_tool</i> {{localform.value["onholdapplications"]}}</span>
        </div>
      </div>
    </div>
    <div class="kpibox2 py-2 px-2">
      <div class="col-12 col-md-4 field field_type__label field_name__rejectedapplications shadow-sm rounded py-2">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Rejected </span>
        </div>
        <div class="fieldelement">
          <span class="h3 font-weight-bold"> <i class="text-danger icontype__element material-icons std_icon iconval__close">close</i> {{localform.value["rejectedapplications"]}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-0 section px-md-3 mb-2"></div>
</div>
<ng-template #template_nodelist_notifications let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3 mb-2">
      <div class="col-12 col-md-4 field field_type__richtextlabel field_name__notification_title my-2">
        <div class="fieldelement">
          <div class="fieldvalue" innerHTML='{{localform.value["notification_title"]}}'></div>
        </div>
      </div>
      <div class="col-12 col-md-4 field field_type__richtextlabel field_name__notification_text mb-2">
        <div class="fieldelement">
          <div class="fieldvalue" innerHTML='{{localform.value["notification_text"]}}'></div>
        </div>
      </div>
      <div class="col-12 col-md-4 field field_type__group field_name__notification_actions text-center buttons_group nonstandardiconcontainer std_threecolumn_flex">
        <div class="fieldelement">
          <div class="fieldsgroup">
            <div class="col-md-4 field field_type__button field_name__select col-4 mb-2 px-0">
              <div class="fieldelement">
                <button class="btn btn-link font-weight-bold text-primary" (click)="evalCode(localform.value['notification_action_onclick'])"><i class="icontype__element material-icons std_icon iconval__file_download_done">file_download_done</i> View</button>
              </div>
            </div>
            <div class="col-md-4 field field_type__button field_name__onhold col-4 mb-2 px-0">
              <div class="fieldelement">
                <button class="btn btn-link font-weight-bold text-danger" (click)="markNotification(localform, localform.value['notification_read_status'], 0)"><i class="icontype__element material-icons std_icon iconval__delete">delete</i> Delete</button>
              </div>
            </div>
            <ng-container *ngIf="localform.value['notification_read_status']=='UNREAD'">
              <div class="col-md-4 field field_type__button field_name__reject col-4 mb-2 px-0">
                <div class="fieldelement">
                  <button class="btn btn-link font-weight-bold text-dark" (click)="markNotification(localform, 'READ', localform.value['status_id'])">Mark Read</button>
                </div>
              </div> </ng-container
            ><ng-container *ngIf="localform.value['notification_read_status']=='READ'">
              <div class="col-md-4 field field_type__button field_name__reject col-4 mb-2 px-0">
                <div class="fieldelement">
                  <button class="btn btn-link font-weight-bold text-warning" (click)="markNotification(localform, 'UNREAD', localform.value['status_id'])">Mark Unread</button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
