<div class="page_content candiate-oneway-interview" *ngIf="step=='1.1'">
  <div class="col-12">
      <img src="assets/video-request.png" class="img-fluid">
  </div>
  <div class="col-12 my-4">
    <h3 class="text-center">Video Resume Request</h3>
    <p>Hi <strong>{{username}}</strong>, {{videorequest.company_name}} has requested a video for your profile.</p>
    <button type="button" class="btn btn-primary btn-sm mt-20" (click)="router.navigate(['candidate/guided_profile'])">Accept</button>
    <!--<button type="button" class="btn btn-reject btn-sm mt-20" (click)="gotostep('1.2')">Reject</button>-->
    <p class="custom-skip mt-2" (click)="router.navigate([gotonextstate])">I’ll do this later</p>
  </div>
</div>

<div class="page_content" *ngIf="step=='1.2'">
  <div class="col-12 my-4">
    <h1 class="text-dark hosttitle font-weight-bold">Instruction</h1>
  </div>
  <div class="col-12">
      <img src="assets/guided-profile-1.png" class="img-fluid">
  </div>
  <div class="col-12 my-4">
    <h3 class="text-center">Recording Your Profile Video</h3>
    <p>Once you click on “Create my video profile” you will be prompt with some questions. It is very helpful to make your profile video smoothly. Watch the how-to-record video below.</p>
    <button type="button" class="btn btn-primary btn-sm mt-20" (click)="gotostep('1.3')">Next</button>
  </div>
  
</div>

<div class="page_content" *ngIf="step=='1.3'">
  <div class="col-12 my-4">
    <h1 class="text-dark hosttitle font-weight-bold">Stage 1</h1>
  </div>
  <div class="col-12 text-center">
      <div class="stepper-wrapper">
  <div class="stepper-item completed active">
    <div class="step-counter">1</div>
    <div class="step-name">Stage 1</div>
  </div>
  <div class="stepper-item">
    <div class="step-counter">2</div>
    <div class="step-name">Stage 2</div>
  </div>
  <div class="stepper-item active">
    <div class="step-counter">3</div>
    <div class="step-name">Stage 3</div>
  </div>

</div>
  </div>
  <div class="col-12 my-4 text-left">
    <h3 class="text-left">Tell us about yourself and your background</h3>
    <p>Use the “Present-Past-Future” formula to shape your answer.</p>
    <ul class="guided-list">
      <li>Start with what you’re doing now in terms of your career. Throw in some personal preferences.</li>
      <li>Take the recruiter back to the past and show him/her how your past shaped your present.</li>
      <li>End this answer with your future goals and aspirations you want to achieve.</li>
    </ul>
      <button type="button" class="btn btn-primary btn-sm mt-20" (click)="gotostep('1.7')">Record my answer</button>

  </div>

</div>


<div class="page_content" *ngIf="step=='1.7'">
  <div class="col-12 my-4">
    <h1 class="text-dark hosttitle font-weight-bold">Stage 2</h1>
  </div>
  <div class="col-12 text-center">
      <div class="stepper-wrapper">
  <div class="stepper-item completed">
    <div class="step-counter">1</div>
    <div class="step-name">Stage 1</div>
  </div>
  <div class="stepper-item completed active">
    <div class="step-counter">2</div>
    <div class="step-name">Stage 2</div>
  </div>
  <div class="stepper-item">
    <div class="step-counter">3</div>
    <div class="step-name">Stage 3</div>
  </div>

</div>
  </div>
  <div class="col-12 my-4 text-left">
    <h3 class="text-left">Tell us about a time when you overcame a challenge.</h3>
    <p>Use the “STAR” formula to formulate your answer. The STAR method uses four vital elements, which include:</p>
    <ul class="guided-list">
      <li>Start your answer with a simple circumstance you faced.  Did you have a tight deadline on a team project?</li>
      <li>Continue with your role in the event or are you the individual responsible to do the task?</li>
      <li>Tell them what action you took to complete the task. Mention what you did, not what your team did.</li>
    </ul>
      <button type="button" class="btn btn-primary btn-sm mt-20" (click)="gotostep('1.8')">Record my answer</button>

  </div>

</div>


<div class="page_content" *ngIf="step=='1.8'">
  <div class="col-12 my-4">
    <h1 class="text-dark hosttitle font-weight-bold">Stage 3</h1>
  </div>
  <div class="col-12 text-center">
      <div class="stepper-wrapper">
  <div class="stepper-item completed">
    <div class="step-counter">1</div>
    <div class="step-name">Stage 1</div>
  </div>
  <div class="stepper-item completed">
    <div class="step-counter">2</div>
    <div class="step-name">Stage 2</div>
  </div>
  <div class="stepper-item completed active">
    <div class="step-counter">3</div>
    <div class="step-name">Stage 3</div>
  </div>

</div>
  </div>
  <div class="col-12 my-4 text-left">
    <h3 class="text-left">Tell us about a time when you overcame a challenge.</h3>
    <p>Use the “STAR” formula to formulate your answer. The STAR method uses four vital elements, which include:</p>
    <ul class="guided-list">
      <li>Start your answer with a simple circumstance you faced.  Did you have a tight deadline on a team project?</li>
      <li>Continue with your role in the event or are you the individual responsible to do the task?</li>
      <li>Tell them what action you took to complete the task. Mention what you did, not what your team did.</li>
    </ul>
      <button type="button" class="btn btn-primary btn-sm mt-20" (click)="gotostep('1.9')">Record my answer</button>

  </div>

</div>

<div class="page_content" *ngIf="step=='1.9'">
  <div class="col-12 my-4">
      <img src="assets/guided-profile-6.png" class="img-fluid">
  </div>
  <div class="col-12 my-4">
    <h3 class="text-center">Congratulations on <br>creating your Video</h3>
    <p class="text-center">Please wait while your videos upload..</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>

  </div>
  <button type="button" class="btn btn-primary btn-sm mt-20" (click)="gotostep('1.8')">Preview Profile Video</button>
</div>