<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 mb-4 field field_type__node_obj_list field_name__hotcourses col-md-10 m-auto stdhorizontallist">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Hot Courses </span>
      </div>
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['hotcourses']['controls'])?localform.controls['hotcourses']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['hotcourses']['controls'] && localform.controls['hotcourses']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['hotcourses']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_hotcourses" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['hotcourses']['controls'] && localform.controls['hotcourses']['controls'].length===0">
              <div class="px-2 text-center">No Courses marked as HOT</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__node_obj_list field_name__coursecategories col-md-10 m-auto stdhorizontallist">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Courses by Category </span>
      </div>
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['coursecategories']['controls'])?localform.controls['coursecategories']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['coursecategories']['controls'] && localform.controls['coursecategories']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['coursecategories']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_coursecategories" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['coursecategories']['controls'] && localform.controls['coursecategories']['controls'].length===0">
              <div class="px-2 text-center">No Course Categories Available</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template_nodelist_hotcourses let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 field field_type__label field_name__content_category_name mb-3 font-weight-bold text-dark" (click)="this.templateutilsService.navigateToRoute('course/' + localform.value['id'])">
        <div class="fieldelement">
          <span>{{localform.value["content_category_name"]}}</span>
          <span class="validationerror required" *ngIf="localform.controls['content_category_name'].errors && localform.controls['content_category_name'].errors.required">This field is required</span>
        </div>
      </div>
      <div class="col-12 field field_type__image-cropper field_name__course_image_dummy_id mb-2" (click)="this.templateutilsService.navigateToRoute('course/' + localform.value['id'])">
        <div class="fieldelement">
          <div
            class="image-cropper-field"
            [field]="{editable: false, media_name_key: 'content_category_media_file_url', media_id_key: 'featured_image_dummy_id', category: '', roundCropper: false, data: (response_data['hotcourses'])?response_data['hotcourses'][index]:undefined}"
            [localform]="localform"
          ></div>
          <span class="validationerror required" *ngIf="localform.controls['course_image_dummy_id'].errors && localform.controls['course_image_dummy_id'].errors.required">This field is required</span>
        </div>
      </div>
      <div class="col-12 mb-4 field field_type__label field_name__content_category_short_description" (click)="this.templateutilsService.navigateToRoute('course/' + localform.value['id'])">
        <div class="fieldelement">
          <span>{{localform.value["content_category_short_description"]}}</span>
          <span class="validationerror required" *ngIf="localform.controls['content_category_short_description'].errors && localform.controls['content_category_short_description'].errors.required">This field is required</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #template_nodelist_coursecategories let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 field field_type__label field_name__content_category_name mb-3 font-weight-bold text-dark" (click)="this.templateutilsService.navigateToRoute('coursesincategory/' + localform.value['id'])">
        <div class="fieldelement">
          <span>{{localform.value["content_category_name"]}}</span>
          <span class="validationerror required" *ngIf="localform.controls['content_category_name'].errors && localform.controls['content_category_name'].errors.required">This field is required</span>
        </div>
      </div>
      <div class="col-12 field field_type__image-cropper field_name__course_image_dummy_id mb-2" (click)="this.templateutilsService.navigateToRoute('coursesincategory/' + localform.value['id'])">
        <div class="fieldelement">
          <div
            class="image-cropper-field"
            [field]="{editable: false, media_name_key: 'content_category_media_file_url', media_id_key: 'featured_image_dummy_id', category: '', roundCropper: false, data: (response_data['coursecategories'])?response_data['coursecategories'][index]:undefined}"
            [localform]="localform"
          ></div>
          <span class="validationerror required" *ngIf="localform.controls['course_image_dummy_id'].errors && localform.controls['course_image_dummy_id'].errors.required">This field is required</span>
        </div>
      </div>
      <div class="col-12 mb-4 field field_type__label field_name__content_category_short_description" (click)="this.templateutilsService.navigateToRoute('coursesincategory/' + localform.value['id'])">
        <div class="fieldelement">
          <span>{{localform.value["content_category_short_description"]}}</span>
          <span class="validationerror required" *ngIf="localform.controls['content_category_short_description'].errors && localform.controls['content_category_short_description'].errors.required">This field is required</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
