<div class="row m-0 col-md-12 py-0 py-sm-4">
  <div class="px-0 row col-12 no-gutters section specialsectiontemplate1">
    <div class="sectiontitlesubtitlegroup px-0 mt-2 mb-3 col-12">
      <h2 class="font-weight-bold col-12 my-md-2 py-0 my-0 text-center">Welcome to Khoj</h2>
    </div>
    <div class="col-12 mb-4 field field_type__label field_name__submittext px-3 text-center col-md-12">
      <div class="fieldelement">
        <span>In order to Continue, Please do your KYC</span>
      </div>
    </div>
    <div class="col-12 field field_type__button field_name__submit px-3 nonstandardiconfield mb-2 col-md-12">
      <div class="fieldelement text-center">
        <button class="btn btn-md btn-main-2 px-5" (click)="templateutilsService.navigateToRoute('kyc_form')"><i class="icontype__element material-icons std_icon iconval__touch_app">touch_app</i> Continue for KYC</button>
      </div>
    </div>
  </div>
  <div class="px-0 row col-12 no-gutters section specialsectiontemplate1">
    <div class="col-12 mb-4 field field_type__label field_name__khoj_intro_question px-3 text-center h3 font-weight-bold col-md-12">
      <div class="fieldelement">
        <span>Why become a Khoj Reseller?</span>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__label field_name__khoj_intro_buyers col-md-3 px-3 kpibox1">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Sign Up </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons-outlined std_icon iconval__done_all">done_all</i>
        <span>Sellers can signup for free</span>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__label field_name__khoj_intro_makers col-md-3 px-3 kpibox1">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Pick & Choose </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons-outlined std_icon iconval__shopping_cart">shopping_cart</i>
        <span>Pick and choose one or more products and categories</span>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__label field_name__khoj_intro_sellers col-md-3 px-3 kpibox1">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Sales Pitch </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons-outlined std_icon iconval__thumb_up_alt">thumb_up_alt </i>
        <span>Pitch with pitch maker or themselves and Tools help with proposals, quotes, follow-ups etc.</span>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__label field_name__khoj_intro_influencers col-md-3 px-3 kpibox1">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Payouts </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons-outlined std_icon iconval__touch_app">touch_app</i>
        <span>Our deals transparency ensures fair payouts and also get benefits from renewals, upgrades etc.</span>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__video-record field_name__about_video_id px-3 col-md-12">
      <div class="fieldelement">
        <div
          class="video-record-field"
          [field]="{editable: false, hideupload: false, sprout_embedded_url_key: 'video_id_sprout_embedded_url', uploadtype: '', media_name_key: '', media_url_key: 'about_video_file_url', media_frame_key: '', media_id_key: 'about_video_id', embedvideodirectly: true, category: 'userprofile__video', data: response_data}"
          [localform]="localform"
        ></div>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__button field_name__logout px-3 nonstandardiconfield col-md-12">
      <div class="fieldelement text-center">
        <button class="btn btn-md btn-info px-5" (click)="logout()"><i class="icontype__element material-icons std_icon iconval__logout">logout</i> Logout</button>
      </div>
    </div>
  </div>
</div>
