<div class="step2" *ngIf="step=='interviewmenu'">
    <div class="col-12">
      <h1 class="text-dark hosttitle font-weight-bold">My Interviews</h1>
    </div>
    <div class="col-sm-12">
        <div class="new-card">
            <div class="new-card-body">
                <button type="button" class="btn btn-primary btn-sm mb-4" (click)="gotostep('managequestionlibrary')">Manage Question Library</button>
                <button type="button" class="btn btn-warning btn-sm mb-4 w-100" (click)="gotostep('managejobquestions')">Manage Job Questions</button>
                <button type="button" class="btn btn-reject btn-sm my-0" (click)="gotostep('managesubmissions')">Manage Submissions</button>
            </div>
        </div>
    </div>
</div>

<div class="step1" *ngIf="step=='managejobquestions'">
    <div class="col-12 my-4">
        <h1 class="text-dark hosttitle font-weight-bold">Manage Interview</h1>
    </div>
    <div class="page_content">
        <div class="row">
            <div class="col-sm-12">
                <div class="new-card">
                    <div class="new-card-header">
                        <h4>Job Details</h4>
                    </div>
                <div class="new-card-body">
                    <div class="form-group">
                        <label>Select Job</label>
                        <select name="job" [(ngModel)]="chosenJobID" (change)="populateChosenJobFromJobsList()">
                            <option *ngFor="let job of response_data?.jobs" [value]="job.id">{{job.job_title}}</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="chosenJob">
                        <label>Description</label>
                        <span class="text-left" [innerHtml]="chosenJob.job_description"></span>
                    </div>
                    <div class="form-group text-right mb-0 mt-2" *ngIf="chosenJob">
                        <button class="btn btn-link text-warning nonstandardiconcontainer mr-2" (click)="modify_job()"><i class="material-icons">drive_file_rename_outline</i> Modify Job</button>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="new-card">
                    <div class="new-card-header">
                        <h4>Interview Questions</h4>
                        <button type="button" class="btn btn-action-red btn-sm" (click)="gotostep('managequestionlibrary', 'JOBID')"><i class="navbaricon material-icons std_icon iconval__add_box">add_box</i>Add</button>
                    </div>
                    <div class="new-card-body">
                        <div class="row mx-0 question-list pb-3" *ngFor="let questionObj of chosenJob?.screening_questions;let i=index">
                            <div class="col-9 px-1">{{questionObj.question}}</div>
                            <div class="col-3 px-1 text-right">
                                <button type="button" class="material-icons btn btn-action-red btn-sm text-center" (click)="removeQuestionFromJob(i)">remove
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="new-card">
                    <div class="new-card-header">
                        <h4>Invited Candidates</h4>
                        <button type="button" class="btn btn-action-red btn-sm" (click)="gotostep('invitecandidate', 'JOBID')"><i class="navbaricon material-icons std_icon iconval__add_box">add_box</i>Invite</button>
                    </div>
                <div class="new-card-body">
                    <div class="row" style="max-height: 300px; overflow-y: auto;">
                        <div class="col-12 px-4 text-center" *ngIf="invitedCandidates && invitedCandidates.length==0">
                            No candidates invited so far
                        </div>
                        <div class="col-12" *ngIf="invitedCandidates && invitedCandidates.length>0">
                            <div class="oneway-interview-list" *ngFor="let candidate of invitedCandidates" (click)="gotostep('1.10')">
                                <img *ngIf="candidate.media_file_url!==null" [src]="candidate.media_file_url">
                                <img *ngIf="candidate.media_file_url===null" src="assets/user.png">
                                <div class="interview-info">
                                    <h4>{{candidate.name}}</h4>
                                    <p><span>Invited</span> on {{candidate.created_at| date: 'MMM dd, y'}}</p>
                                    <p *ngIf="candidate.request_status!=='REQUEST_SENT'"><span>Completed</span> on Fri 21 Oct, 2022</p>
                                    <p *ngIf="candidate.request_status=='REQUEST_SENT'"><span>Request Status:</span> PENDING</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="step2" *ngIf="step=='managequestionlibrary'">
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Interview Questions</h1>
    </div>
    <div class="col-sm-12">
        <div class="new-card">
            <div class="new-card-header">
                <h4>Enter New Question</h4>
            </div>
            <div class="new-card-body">
                <div class="added-question">
                    <p class="text-red">Question (max 100 words)</p>
                    <div>
                        <textarea class="w-100" [(ngModel)]="newquestion"></textarea>
                    </div>
                    <div class="pt-2 text-align-right">
                        <button type="buttom" class="btn btn-primary btn-sm" (click)="add_interview_question()" *ngIf="chosenJobID!==undefined">Add & Select</button>
                        <button type="buttom" class="btn btn-primary btn-sm" (click)="add_interview_question()" *ngIf="chosenJobID==undefined">Add to Library</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-card">
            <div class="new-card-header">
                <h4>Choose from Questions Library</h4>
            </div>
            <div class="new-card-body">
                <div class="custom-question-list d-flex text-left" *ngFor="let questionObj of interviewquestions">
                    <p (click)="add_question_to_job(questionObj)" [class.disabled]="questionObj.disabled">{{questionObj.question}}</p>
                    <i class="navbaricon material-icons std_icon iconval__cancel" (click)="remove_interview_question(questionObj.id)" *ngIf="chosenJobID==undefined">cancel</i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="step3" *ngIf="step=='invitecandidate'">
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Invite Candidate</h1>
      <p>We’ll send link to join Swaayam platform and submit this Interview to the added candidate</p>
    </div>
    <div class="page_content">
    <!--<div class="col-12 my-4">
        <div class="formgroup invite-oneway">
            <label class="form-label">Email</label>
            <input type="text" name="email" class="form-control" placeholder="Enter email" [(ngModel)]="inviteEmail" />
        </div>
    </div>
    <div class="col-12 my-4">
        <p class="highlight2">OR</p>
    </div>-->
        <div class="col-12 my-4">
            <div class="formgroup invite-oneway">
                <label class="form-label">Mobile Number</label>
                <input type="phone" name="mobile" class="form-control" placeholder="Enter mobile" [(ngModel)]="inviteMobile" />
            </div>
        </div>
        <div class="row d-flex mt-20">
            <button type="button" class="col-3 btn btn-plain" (click)="navigationService.back()">Cancel</button>
            <button type="button" class="col-9 btn btn-primary btn-sm px-2" (click)="invitecandidate()">Send Interview Request</button>
        </div>
    </div>
</div>


<div class="step2" *ngIf="step=='1.6'">
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Add Candidates</h1>
    </div>
    <div class="col-sm-12">
        <div class="new-card">
            <div class="new-card-header">
                <h4>Candidates</h4>
            </div>
        <div class="new-card-body">
            <button type="button" class="btn btn-primary btn-sm" (click)="gotostep('1.7')">Add Internal Candidate</button>
            <button type="button" class="btn btn-reject btn-sm" (click)="gotostep('1.8')">Add External Candidate</button>
        </div>
        </div>
    </div>
</div>

<div class="step3" *ngIf="step=='1.7'">
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Add Internal Candidate</h1>
    </div>
    <div class="page_content">
    <div class="col-12 search-questions">
        <input type="search" name="" placeholder="Search by name or email"/>
    </div>
    <div class="col-12 my-4">
        <div class="d-flex question-list">
        <p>Sandeep K</p>
        <p class="highlight" (click)="gotostep('1.6')"><i class="navbaricon material-icons std_icon iconval__add_circle">add_circle</i></p>
        </div>
        <div class="d-flex question-list">
        <p>Amit Bhandari</p>
        <p class="highlight"><i class="navbaricon material-icons std_icon iconval__add_circle">add_circle</i></p>
        </div>
        <div class="d-flex question-list">
        <p>Sandeep K</p>
        <p class="highlight" (click)="gotostep('1.6')"><i class="navbaricon material-icons std_icon iconval__add_circle">add_circle</i></p>
        </div>
        <div class="d-flex question-list">
        <p>Amit Bhandari</p>
        <p class="highlight"><i class="navbaricon material-icons std_icon iconval__add_circle">add_circle</i></p>
        </div>
        <div class="d-flex question-list">
        <p>Sandeep K</p>
        <p class="highlight" (click)="gotostep('1.4')"><i class="navbaricon material-icons std_icon iconval__add_circle">add_circle</i></p>
        </div>
        <div class="d-flex question-list">
        <p>Amit Bhandari</p>
        <p class="highlight"><i class="navbaricon material-icons std_icon iconval__add_circle">add_circle</i></p>
        </div>
        <div class="d-flex question-list">
        <p>Sandeep K</p>
        <p class="highlight" (click)="gotostep('1.4')"><i class="navbaricon material-icons std_icon iconval__add_circle">add_circle</i></p>
        </div>
        <div class="d-flex question-list">
        <p>Amit Bhandari</p>
        <p class="highlight"><i class="navbaricon material-icons std_icon iconval__add_circle">add_circle</i></p>
        </div>
    </div>
    </div>
</div>


<div class="step3" *ngIf="step=='managesubmissions'">
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Interviews</h1>
    </div>
    <div class="page_content">
    <div class="view-interview">
        <div class="row">
            <div class="col-12">
                <div class="selection-tab">
                    <button type="submit" class="btn btn-plain">All</button>
                    <button type="submit" class="btn btn-plain select">One-way</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="oneway-interview-list" (click)="gotostep('1.10')">
                    <img src="assets/avatar-11.png">
                    <div class="interview-info">
                        <h4>Sandeep K</h4>
                        <p>Project Manager Intern</p>
                        <p><span>Completed</span> on Fri 21 Oct, 2022</p>
                    </div>
                </div>
                <div class="oneway-interview-list">
                    <img src="assets/avatar-11.png">
                    <div class="interview-info">
                        <h4>Sandeep K</h4>
                        <p>Project Manager Intern</p>
                        <p><span>Completed</span> on Fri 21 Oct, 2022</p>
                    </div>
                </div>
                <div class="oneway-interview-list">
                    <img src="assets/avatar-11.png">
                    <div class="interview-info">
                        <h4>Sandeep K</h4>
                        <p>Project Manager Intern</p>
                        <p><span>Completed</span> on Fri 21 Oct, 2022</p>
                    </div>
                </div>
                <div class="oneway-interview-list">
                    <img src="assets/avatar-11.png">
                    <div class="interview-info">
                        <h4>Sandeep K</h4>
                        <p>Project Manager Intern</p>
                        <p><span>Completed</span> on Fri 21 Oct, 2022</p>
                    </div>
                </div>
                <div class="oneway-interview-list">
                    <img src="assets/avatar-11.png">
                    <div class="interview-info">
                        <h4>Sandeep K</h4>
                        <p>Project Manager Intern</p>
                        <p><span>Completed</span> on Fri 21 Oct, 2022</p>
                    </div>
                </div>
                <div class="oneway-interview-list">
                    <img src="assets/avatar-11.png">
                    <div class="interview-info">
                        <h4>Sandeep K</h4>
                        <p>Project Manager Intern</p>
                        <p><span>Completed</span> on Fri 21 Oct, 2022</p>
                    </div>
                </div>
                <div class="oneway-interview-list">
                    <img src="assets/avatar-11.png">
                    <div class="interview-info">
                        <h4>Sandeep K</h4>
                        <p>Project Manager Intern</p>
                        <p><span>Completed</span> on Fri 21 Oct, 2022</p>
                    </div>
                </div>
                <div class="oneway-interview-list">
                    <img src="assets/avatar-11.png">
                    <div class="interview-info">
                        <h4>Sandeep K</h4>
                        <p>Project Manager Intern</p>
                        <p><span>Completed</span> on Fri 21 Oct, 2022</p>
                    </div>
                </div>
                <div class="oneway-interview-list">
                    <img src="assets/avatar-11.png">
                    <div class="interview-info">
                        <h4>Sandeep K</h4>
                        <p>Project Manager Intern</p>
                        <p><span>Completed</span> on Fri 21 Oct, 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="step1" *ngIf="step=='1.10'">
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Sandeep K</h1>
    </div>
    <div class="page_content">
        <div class="row">
            <div class="col-sm-12">
                <div class="new-card">
                    <div class="new-card-header">
                        <h4>Interview Questions</h4>
                    </div>
                <div class="new-card-body">
                    <div class="final-interview-list">
                        <p>1. What do you consider your best strenght?</p>
                        <i class="navbaricon material-icons std_icon iconval__play_circle">play_circle</i>
                    </div>
                    <div class="final-interview-list">
                        <p>2. What do you consider your best strenght?</p>
                        <i class="navbaricon material-icons std_icon iconval__play_circle">play_circle</i>
                    </div>
                    <div class="final-interview-list">
                        <p>3. What do you consider your best strenght?</p>
                        <i class="navbaricon material-icons std_icon iconval__play_circle">play_circle</i>
                    </div>
                    <div class="final-interview-list">
                        <p>4. What do you consider your best strenght?</p>
                        <i class="navbaricon material-icons std_icon iconval__play_circle">play_circle</i>
                    </div>
                    <div class="final-interview-list">
                        <p>5. What do you consider your best strenght?</p>
                        <i class="navbaricon material-icons std_icon iconval__play_circle">play_circle</i>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="new-card">
                    <div class="new-card-header">
                        <h4>Ratings</h4>
                    </div>
                <div class="new-card-body">
                    <div class="ratings">
                        <div class="rating-list">
                            <div>
                                <p>Communication:</p>
                            </div>
                            <div>
                                <i class="navbaricon material-icons std_icon iconval__stars">stars</i>
                                <i class="navbaricon material-icons std_icon iconval__stars">stars</i>
                                <i class="navbaricon material-icons std_icon iconval__stars">stars</i>
                                <i class="navbaricon material-icons std_icon iconval__stars">stars</i>
                                <i class="navbaricon material-icons std_icon iconval__stars">stars</i>
                            </div>
                        </div>
                        <div class="rating-list">
                            <div>
                                <p>Expertise:</p>
                            </div>
                            <div>
                                <i class="navbaricon material-icons std_icon iconval__stars">stars</i>
                                <i class="navbaricon material-icons std_icon iconval__stars">stars</i>
                                <i class="navbaricon material-icons std_icon iconval__stars">stars</i>
                                <i class="navbaricon material-icons std_icon iconval__stars">stars</i>
                            </div>
                        </div>
                        <div class="rating-list">
                            <div>
                                <p>Presentability:</p>
                            </div>
                            <div>
                                <i class="navbaricon material-icons std_icon iconval__stars">stars</i>
                                <i class="navbaricon material-icons std_icon iconval__stars">stars</i>
                                <i class="navbaricon material-icons std_icon iconval__stars">stars</i>
                                <i class="navbaricon material-icons std_icon iconval__stars">stars</i>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-12 d-flex mt-20">
                <button type="button" class="btn btn-primary btn-sm" (click)="gotostep('1.1')">Submit Feedback</button>
            </div>
        </div>
    </div>
</div>

<div class="step3" *ngIf="step=='1.3'">
    <div class="page_content">
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Questions Library</h1>
    </div>
    <div class="col-12 search-questions">
        <input type="search" name="" placeholder="Search by keyword"/>
    </div>
    <div class="col-12 my-4">
        <div class="d-flex question-list">
        <p>What do you consider your best strenght?</p>
        <p class="highlight" (click)="gotostep('1.4')"><i class="navbaricon material-icons std_icon iconval__add_box">add_box</i> Add</p>
        </div>
        <div class="d-flex question-list">
        <p>What attracted you to apply for this position?</p>
        <p class="highlight"><i class="navbaricon material-icons std_icon iconval__add_box">add_box</i> Add</p>
        </div>
        <div class="d-flex question-list">
        <p>Where do you see yourself in five years?</p>
        <p class="highlight"><i class="navbaricon material-icons std_icon iconval__add_box">add_box</i> Add</p>
        </div>
        <div class="d-flex question-list">
        <p>What is your greatest weakness?</p>
        <p class="highlight"><i class="navbaricon material-icons std_icon iconval__add_box">add_box</i> Add</p>
        </div>
        <div class="d-flex question-list">
        <p>What do you consider your best strenght?</p>
        <p class="highlight"><i class="navbaricon material-icons std_icon iconval__add_box">add_box</i> Add</p>
        </div>
        <div class="d-flex question-list">
        <p>What attracted you to apply for this position?</p>
        <p class="highlight"><i class="navbaricon material-icons std_icon iconval__add_box">add_box</i> Add</p>
        </div>
        <div class="d-flex question-list">
        <p>Where do you see yourself in five years?</p>
        <p class="highlight"><i class="navbaricon material-icons std_icon iconval__add_box">add_box</i> Add</p>
        </div>
        <div class="d-flex question-list">
        <p>What is your greatest weakness?</p>
        <p class="highlight"><i class="navbaricon material-icons std_icon iconval__add_box">add_box</i> Add</p>
        </div>
        <div class="d-flex question-list">
        <p>What attracted you to apply for this position?</p>
        <p class="highlight"><i class="navbaricon material-icons std_icon iconval__add_box">add_box</i> Add</p>
        </div>
        <div class="d-flex question-list">
        <p>Where do you see yourself in five years?</p>
        <p class="highlight"><i class="navbaricon material-icons std_icon iconval__add_box">add_box</i> Add</p>
        </div>
        <div class="d-flex question-list">
        <p>What is your greatest weakness?</p>
        <p class="highlight"><i class="navbaricon material-icons std_icon iconval__add_box">add_box</i> Add</p>
        </div>
    </div>
    </div>
</div>
<div class="step2" *ngIf="step=='1.4'">
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Add Questions</h1>
    </div>
    <div class="col-sm-12">
        <div class="new-card">
            <div class="new-card-header">
                <h4>Interview Questions</h4>
            </div>
        <div class="new-card-body">
            <div class="added-question">
                <p class="text-red">Question 1</p>
                <div class="question-box">
                    What attracted you to apply for this position?
                </div>
                <p class="text-red">Time Limits (minutes)</p>
                <div class="row">
                    <div class="col-6">
                    <p>Think</p>
                    <div class="quantity quantity--small quantity--page">
						<input type="button" value="-" class="quantity__button quantity__button--minus" field="quantity1">
						<input type="text" name="quantity1" value="1" class="quantity__input">
						<input type="button" value="+" class="quantity__button quantity__button--plus" field="quantity1">
					</div>    
                    </div>
                    <div class="col-6">
                    <p>Response</p>
                    <div class="quantity quantity--small quantity--page" (click)="gotostep('1.2')">
						<input type="button" value="-" class="quantity__button quantity__button--minus" field="quantity1">
						<input type="text" name="quantity1" value="1" class="quantity__input">
						<input type="button" value="+" class="quantity__button quantity__button--plus" field="quantity1">
					</div>    
                    </div>
                    <div class="col-6 pt-4">
                        <a href="#">Remove this question</a>
                    </div>
                </div>
			</div>
        </div>
        </div>
    </div>
</div>