<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Lessons</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 field field_type__node_obj_list field_name__lessons my-2">
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['lessons']['controls'])?localform.controls['lessons']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['lessons']['controls'] && localform.controls['lessons']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['lessons']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_lessons" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['lessons']['controls'] && localform.controls['lessons']['controls'].length===0">
              <div class="px-2 text-center">No Results Found</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template_nodelist_lessons let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 field field_type__label field_name__content_article_name font-weight-bold text-dark pr-1 pl-4 my-2 lesson_icon_holder">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Article Title </span>
          <span class="text-danger fieldlabelrequired"> * </span>
        </div>
        <div class="fieldelement">
          <span> <i class="icontype__element material-icons std_icon iconval__chevron_right">chevron_right</i> {{localform.value["content_article_name"]}}</span>
          <span class="validationerror required" *ngIf="localform.controls['content_article_name'].errors && localform.controls['content_article_name'].errors.required">This field is required</span>
        </div>
      </div>
      <div class="col-12 field field_type__node_obj_list field_name__attachments col-md-10 m-auto stdhorizontallist">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Article Media </span>
        </div>
        <div class="fieldelement">
          <div class="nodeslist nodeslist_ofsize_{{(localform.controls['attachments']['controls'])?localform.controls['attachments']['controls'].length:'controlsmissing'}}">
            <div class="nodeslist_nodes_container">
              <ng-container *ngIf="localform.controls['attachments']['controls'] && localform.controls['attachments']['controls'].length>0">
                <div class="nodeslist_node" *ngFor="let node of localform.controls['attachments']['controls'];let i=index;">
                  <ng-container [ngTemplateOutlet]="template_nodelist_attachments" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4 field field_type__richtextlabel field_name__content_article_content">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Article Content </span>
          <span class="text-danger fieldlabelrequired"> * </span>
        </div>
        <div class="fieldelement">
          <div class="fieldvalue" innerHTML='{{localform.value["content_article_content"]}}'></div>
          <span class="validationerror required" *ngIf="localform.controls['content_article_content'].errors && localform.controls['content_article_content'].errors.required">This field is required</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div class="pagination-container">
  <ul class="pagination justify-content-center" *ngIf="total_pages>1">
    <li class="page-item"><button [disabled]="page_number==1" [class.disabled]="page_number==1" class="page-link" (click)="load_data_page(1)">First</button></li>
    <li class="page-item"><button [disabled]="page_number==1" [class.disabled]="page_number==1" class="page-link" (click)="load_data_page(page_number-1)">Prev</button></li>
    <li class="page-item active">
      <button class="page-link"><strong>{{page_number}}</strong></button>
    </li>
    <li class="page-item"><button [disabled]="page_number==total_pages" [class.disabled]="page_number==total_pages" class="page-link" (click)="load_data_page(page_number+1)">Next</button></li>
    <li class="page-item"><button [disabled]="page_number==total_pages" [class.disabled]="page_number==total_pages" class="page-link" (click)="load_data_page(total_pages)">Last</button></li>
  </ul>
</div>
