<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="px-2 py-2 col-12">
      <div class="rounded navbarelementbody kpibox1 mb-2">
        <div class="fieldelement">
          <div class="image-cropper-field" [field]="{editable: false, media_name_key: 'photo_id_media_file_internal_name', media_id_key: 'photo_id', category: 'userprofile__image__base64', roundCropper: true, data: response_data}" [localform]="localform"></div>
          <span class="validationerror required" *ngIf="localform.controls['photo_id'].errors && localform.controls['photo_id'].errors.required">This field is required</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('employer/dashboard')">
      <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
        <i class="text-left navbaricon material-icons std_icon iconval__speed">speed</i>
        <div class="font-weight-bold fieldlabel mb-0">
          <span class="h4 font-weight-bold"> Dashboard </span>
        </div>
        <div class="fieldelement">
          <span>A dashboard of all your activities</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('employer/myprofile')">
      <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
        <i class="text-left navbaricon material-icons std_icon iconval__account_circle">account_circle</i>
        <div class="font-weight-bold fieldlabel mb-0">
          <span class="h4 font-weight-bold"> Company & Profile Info </span>
        </div>
        <div class="fieldelement">
          <span>Your Public Details</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('employer/myjobs')">
      <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
        <i class="text-left navbaricon material-icons std_icon iconval__format_list_numbered_rtl">format_list_numbered_rtl</i>
        <div class="font-weight-bold fieldlabel mb-0">
          <span class="h4 font-weight-bold"> My Jobs </span>
        </div>
        <div class="fieldelement">
          <span>All your posted Jobs in one place</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('employer/myjobapplications')">
      <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
        <i class="text-left navbaricon material-icons std_icon iconval__fact_check">fact_check</i>
        <div class="font-weight-bold fieldlabel mb-0">
          <span class="h4 font-weight-bold"> Job Applications </span>
        </div>
        <div class="fieldelement">
          <span>Your current and past applicants</span>
        </div>
      </div>
    </div>
    <ng-container *ngIf="appstateService.appState.user!==undefined && appstateService.appState.user.can_find_jobseekers==1">
      <div class="col-6 col-md-4 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('employer/findjobseekers')">
        <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
          <i class="text-left navbaricon material-icons std_icon iconval__youtube_searched_for">youtube_searched_for</i>
          <div class="font-weight-bold fieldlabel mb-0">
            <span class="h4 font-weight-bold"> Find Jobseekers </span>
          </div>
          <div class="fieldelement">
            <span>Search & find the right candidates</span>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="col-6 col-md-4 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('employer/notifications')">
      <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
        <i class="text-left navbaricon material-icons std_icon iconval__notifications_active">notifications_active</i>
        <div class="font-weight-bold fieldlabel mb-0">
          <span class="h4 font-weight-bold"> My Notifications </span>
        </div>
        <div class="fieldelement">
          <span>Your notifications in one place</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('employer/employer_manage_team')" *ngIf="showManageTeam">
      <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
        <i class="text-left navbaricon material-icons std_icon iconval__groups">groups</i>
        <div class="font-weight-bold fieldlabel mb-0">
          <span class="h4 font-weight-bold"> Manage Team </span>
        </div>
        <div class="fieldelement">
          <span>Add members to your team</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('employer/oneway_interview')">
      <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
        <i class="text-left navbaricon material-icons std_icon iconval__headphones">headphones</i>
        <div class="font-weight-bold fieldlabel mb-0">
          <span class="h4 font-weight-bold"> My Interviews</span>
        </div>
        <div class="fieldelement">
          <span>Super fast hiring online</span>
        </div>
      </div>
    </div>
    <div class="text-center mt-2 mb-3 col-12">
      <button class="btn btn-danger btn-md col-12 col-md-3 mt-md-3 shadow py-2" (click)="logout()"><i class="icontype__element material-icons std_icon iconval__logout">logout</i> Logout</button>
    </div>
  </div>
</div>
