<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Courses</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 field field_type__label field_name__content_category_name font-weight-bold text-center h3 mt-2 mb-3">
      <div class="fieldelement">
        <span>{{localform.value["content_category_name"]}}</span>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__node_obj_list field_name__courses">
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['courses']['controls'])?localform.controls['courses']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['courses']['controls'] && localform.controls['courses']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['courses']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_courses" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['courses']['controls'] && localform.controls['courses']['controls'].length===0">
              <div class="px-2 text-center">No Results Found</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template_nodelist_courses let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 field field_type__label field_name__content_category_name mb-3 font-weight-bold text-dark" (click)="templateutilsService.navigateToRoute('course/' + localform.value['id'])">
        <div class="fieldelement">
          <span>{{localform.value["content_category_name"]}}</span>
          <span class="validationerror required" *ngIf="localform.controls['content_category_name'].errors && localform.controls['content_category_name'].errors.required">This field is required</span>
        </div>
      </div>
      <div class="col-12 field field_type__image-cropper field_name__course_image_dummy_id mb-2" (click)="templateutilsService.navigateToRoute('course/' + localform.value['id'])">
        <div class="fieldelement">
          <div
            class="image-cropper-field"
            [field]="{editable: false, media_name_key: 'content_category_media_file_url', media_id_key: 'featured_image_dummy_id', category: '', roundCropper: false, data: (response_data['courses'])?response_data['courses'][index]:undefined}"
            [localform]="localform"
          ></div>
          <span class="validationerror required" *ngIf="localform.controls['course_image_dummy_id'].errors && localform.controls['course_image_dummy_id'].errors.required">This field is required</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div class="pagination-container">
  <ul class="pagination justify-content-center" *ngIf="total_pages>1">
    <li class="page-item"><button [disabled]="page_number==1" [class.disabled]="page_number==1" class="page-link" (click)="load_data_page(1)">First</button></li>
    <li class="page-item"><button [disabled]="page_number==1" [class.disabled]="page_number==1" class="page-link" (click)="load_data_page(page_number-1)">Prev</button></li>
    <li class="page-item active">
      <button class="page-link"><strong>{{page_number}}</strong></button>
    </li>
    <li class="page-item"><button [disabled]="page_number==total_pages" [class.disabled]="page_number==total_pages" class="page-link" (click)="load_data_page(page_number+1)">Next</button></li>
    <li class="page-item"><button [disabled]="page_number==total_pages" [class.disabled]="page_number==total_pages" class="page-link" (click)="load_data_page(total_pages)">Last</button></li>
  </ul>
</div>
