<ng-container *ngIf="field.editable">
  <div>
    <ng-container *ngIf="field.edit === undefined || field.edit === true">
      <input [id]="randomid" ngx-google-places-autocomplete [options]="options" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" type="text" onkeypress="return" placeholder="Start typing for suggestions" />
    </ng-container>
    <ng-container *ngIf="field.edit === false">
      <div class="pr-1 pt-2">{{ formattedAddressTruncated }}</div>
    </ng-container>
  </div>
  <div class="mt-1 row">
    <div class="d-block col-9">
      <small *ngIf="field.edit === undefined || field.edit === true" [title]="formattedAddress">{{ formattedAddressTruncated }}</small>
    </div>
    <ng-container *ngIf="field.edit !== undefined">
      <div class="col-3 text-right text-danger pr-2 maplocationchangeback" (click)="field.edit = !field.edit">
        <ng-container *ngIf="field.edit === true">Back</ng-container>
        <ng-container *ngIf="field.edit === false">Change</ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="!field.editable">{{ formattedAddressTruncated }}</ng-container>
