<div *ngIf="(!field.media_url || field.media_url=='') && field.editable" class="video_iconholder fieldeditable" (click)="video_upload()">
  <i class="material-icons">upgrade</i>
</div>
<div *ngIf="(!field.media_url || field.media_url=='') && !field.editable" class="video_frameholder">
  <div class="video-frame-display position-relative">
    <div class="text-danger" style="position:absolute; width: 100%; text-align: center; top: 1em; left: 0em;"><i class="material-icons">do_not_disturb_off</i> <b>No Video</b></div>
    <img src="assets/videomissingframe.png" />
  </div>
</div>
<div *ngIf="((field.media_url && field.media_url!='') || (field.media_id && field.media_id!='')) && !refreshing" class="video_frameholder">
  <div class="d-none">
    <canvas [id]="'canvas' + randomid" width="360" height="240"></canvas>
    <video [id]="'video' + randomid" width="320" height="240" controls>
      <source [src]="field.media_url" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="video-frame-display position-relative nonstandardiconcontainer" *ngIf="!field.embedvideodirectly">
    <div class="video-frame-display-img" (click)="video_display()" *ngIf="!field.is_sprout_embed">
      <img *ngIf="(field.media_frame_url === undefined || field.media_frame_url === null) && field.media_url!=''" src="assets/videomissingframe.png" />
      <img *ngIf="field.media_frame_url !== undefined && field.media_frame_url !== null" [src]="field.media_frame_url" onerror="this.onerror=null; this.src='assets/videomissingframe.png'" />
    </div>
    <div class="video-frame-display-embed" *ngIf="field.is_sprout_embed">
      <ng-container *ngIf="!field.is_play_list">
        <iframe class="sproutvideo-player" frameborder="0" allowfullscreen width="100%" [src]="field.media_url_sanitized"></iframe>
      </ng-container>  
      <ng-container *ngIf="field.is_play_list">
        <iframe class='sproutvideo-playlist' [src]="field.media_url_sanitized" width='100%' frameborder='0' allowfullscreen></iframe>
        <!--<iframe class='sproutvideo-playlist' type='text/html' src='https://videos.sproutvideo.com/playlist/4e9dd9b61317c3/91736a807e461c90?layout=1' width='640' height='605' frameborder='0' allowfullscreen referrerpolicy='no-referrer-when-downgrade'  title='Video Player'></iframe>-->
      </ng-container>  
    </div>
    <div class="mt-2">
      <button *ngIf="field.editable" class="btn btn-link text-danger" (click)="video_upload()"><i class="material-icons">drive_file_rename_outline</i>Change</button>
    </div>
  </div>
  <div *ngIf="field.embedvideodirectly">
    <video [id]="'videodirectembed' + randomid" width="320" height="240" controls [poster]="field.media_frame_url">
      <source [src]="field.media_url" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</div>
<div *ngIf="(field.media_id || field.media_url) && refreshing" class="video_frameholder">
  <img [src]="envService.values['staticmediaurl'] + 'loading.gif'" />
</div>
