<div class="text-right px-2 pt-2 pb-0 fixed-top position-absolute">
  <span class="clickable d-inline-block" (click)="closeDialog()"><i class="material-icons">cancel</i></span>
</div>
<h1 class="text-center mb-2">Media</h1>
<h5 class="text-center mb-2 px-3">All uploaded videos, images, documents are stored securely with privacy</h5>

<hr />
<div class="px-2 row h4 font-bold text-center font-weight-bold">
  <div class="col-6 texticoninline" [class.text-danger]="selected == 'record'" (click)="chooseSelected('record')"><i class="material-icons">videocam</i> Record Video</div>
  <div class="col-6 texticoninline" [class.text-danger]="selected == 'upload'" (click)="chooseSelected('upload')"><i class="material-icons">file_upload</i> Gallery</div>
</div>
<hr />

<ng-container *ngIf="selected == 'record'">
  <div class="text-center px-2 py-2 text-danger" *ngIf="recordingErrorMessage !== undefined">{{ recordingErrorMessage }}</div>
  <div class="position-relative d-flex flex-wrap justify-content-center">
    <video [id]="idx" class="video-js vjs-default-skin shadow" playsinline></video>
    <div class="col-12 px-0 pt-1">
      <a href="javascript:void(0)" class="text-info text-center" (click)="switchCamera()">Switch Camera</a>
    </div>
    <div class="col-12 px-0"><canvas *ngIf="showCanvas" [id]="'canvas_' + idx" width="320" height="240"></canvas></div>
    
    <div class="position-absolute bg-white box-shadow rounded-10 py-2 videorecorder-readymessage d-flex align-contents-center text-center text-dark flex-column" *ngIf="recordingStatus === RECORDING.INITIALIZING">
      <h2 class="m-1">{{ title }}</h2>
      <h4 class="m-1">{{ subtitle }}</h4>
      <h1 class="py-2 text-danger font-weight-bold m-1">{{ readymessage }}</h1>
    </div>
  </div>
  <div class="text-right px-2 py-2">
    <small class="text-dark" *ngIf="recordingStatus === RECORDING.INITIALIZING">Initializing...</small>
    <small class="text-danger" *ngIf="recordingStatus === RECORDING.INPROGRESS">Recording in progress...</small>
    <small class="text-dark" *ngIf="recordingStatus === RECORDING.PAUSED">Recording Paused</small>
    <small class="text-primary" *ngIf="recordingStatus === RECORDING.STOPPED">Recording Stopped</small>
    <small class="text-primary" *ngIf="recordingStatus === RECORDING.PLAYING">Playing Recorded Video...</small>
    <small class="text-primary" *ngIf="recordingStatus === RECORDING.PLAYINGPAUSED">Paused Playing Video...</small>
  </div>
  <div class="text-center px-2 py-2" *ngIf="(recordingErrorMessage === undefined && recordingStatus === RECORDING.STOPPED) || recordingStatus === RECORDING.PLAYING || recordingStatus === RECORDING.PLAYINGPAUSED">
    <button class="btn btn-sm btn-dark m-1 col-8" (click)="playRecordedVideo()" *ngIf="recordingStatus !== RECORDING.PLAYING"><span class="material-icons-outlined">play_circle</span> Play Recording</button>
    <button class="btn btn-sm btn-dark m-1 col-8" (click)="pauseRecordedVideo()" *ngIf="recordingStatus === RECORDING.PLAYING"><span class="material-icons-outlined">pause</span> Pause Recording</button>

    <button class="btn btn-sm btn-dark m-1 text-white" (click)="useRecording()"><span class="material-icons">file_upload</span> Proceed to Upload</button>
    <button class="btn btn-sm btn-dark m-1 text-white" (click)="discardRecording()"><span class="material-icons-outlined">clear</span> Delete</button>
  </div>
  <div class="text-center px-2 py-2" *ngIf="recordingErrorMessage === undefined">
    <button class="btn btn-sm btn-dark m-1" *ngIf="recordingStatus === RECORDING.UNINITIALIZED" (click)="startRecording()"><span class="material-icons-outlined">album</span> Start Recording</button>

    <button class="btn btn-sm btn-dark m-1 text-white" *ngIf="recordingStatus === RECORDING.INPROGRESS" (click)="pauseRecording()"><span class="material-icons-outlined">pause</span> Pause Recording</button>
    <button class="btn btn-sm btn-dark m-1 text-white" *ngIf="recordingStatus === RECORDING.PAUSED" (click)="unpauseRecording()"><span class="material-icons-outlined">play_arrow</span> Unpause Recording</button>

    <button class="btn btn-sm btn-dark m-1" *ngIf="recordingStatus === RECORDING.INPROGRESS || recordingStatus === RECORDING.PAUSED" (click)="stopRecording()"><span class="material-icons">stop</span> Stop Recording</button>
    <button class="btn btn-sm btn-dark m-1" *ngIf="recordingStatus !== RECORDING.UNINITIALIZED" (click)="restartRecording()"><span class="material-icons-outlined">replay</span> Restart Recording</button>
  </div>
</ng-container>
<ng-container *ngIf="selected == 'upload'">
  <div class="my-4 d-flex align-center flex-column">
    <h4 *ngIf="!captureRecordedFrame" class="text-center mb-3 px-2">Choose the video from your device.<br />Allowed formats are webm and mp4.</h4>
    <div class="video_iconholder" (click)="video_upload()" *ngIf="!captureRecordedFrame">
      <i class="material-icons">upgrade</i>
    </div>
    <h4 *ngIf="captureRecordedFrame" class="text-center mb-3">Processing your video, please wait...</h4>
    <div *ngIf="captureRecordedFrame">
      <video preload="auto" width="320" height="240" crossorigin="anonymous" [id]="frameidx" class="video-js vjs-default-skin shadow" playsinline></video>
      <canvas [id]="'canvas_' + frameidx"></canvas>
    </div>
  </div>
</ng-container>
<input [id]="randomUploaderID" accept="video/mp4,video/webm" type="file" class="d-none" (change)="handleFileInput($event.target.files)" />
