<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Update Profile</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 mb-4 field field_type__image-cropper field_name__photo_id">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Profile Photo </span>
      </div>
      <div class="fieldelement">
        <div class="image-cropper-field" [field]="{editable: true, media_name_key: 'photo_id_media_file_internal_name', media_id_key: 'photo_id', category: 'userprofile__image__base64', roundCropper: true, data: response_data}" [localform]="localform"></div>
      </div>
    </div>
    <div class="col-12 col-md-4 field field_type__label field_name__whatsthis d-flex justify-content-between align-items-baseline">
      <div class="mb-2 font-weight-bold fieldlabel mb-0">
        <span class="font-weight-bold fieldlabeltext"> Profile Video </span>
      </div>
      <div class="fieldelement text-warning font-weight-bold clickable text-underline">
        <span (click)="templateutilsService.navigateToRoute('login_signup_otp')"></span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__video-record field_name__video_id">
      <div class="fieldelement">
        <div
          class="video-record-field"
          [field]="{editable: true, hideupload: false, uploadtype: '', sprout_embedded_url_key: 'video_id_sprout_embedded_url', media_name_key: 'video_id_media_file_internal_name', media_url_key: 'video_id_media_file_url', media_frame_key: 'video_id_media_frame_url', media_id_key: 'video_id', embedvideodirectly: false, category: 'userprofile__video', data: response_data}"
          [localform]="localform"
        ></div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__text field_name__name">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Name </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__person">person</i>
        <input [formControl]="localform.controls['name']" type="text" name="name" />
        <span class="validationerror required" *ngIf="localform.controls['name'].errors && localform.controls['name'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__group field_name__mobilegroup">
      <div class="fieldelement">
        <div class="fieldsgroup">
          <div class="col-12 col-md-4 field field_type__label field_name__changemobile d-flex justify-content-between align-items-baseline pb-1">
            <div class="mb-2 font-weight-bold fieldlabel mb-0">
              <span class="font-weight-bold fieldlabeltext"> Mobile Number </span>
            </div>
            <div class="fieldelement text-warning font-weight-bold clickable text-underline">
              <span (click)="templateutilsService.navigateToRoute('login_signup_otp')">Change Number</span>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__label field_name__mobile">
            <div class="fieldelement">
              <i class="material-icons std_icon iconval__mobile_friendly">mobile_friendly</i>
              <span>{{localform.value["mobile"]}}</span>
              <span class="validationerror minLength" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.minlength">Must contain minimum 10 characters</span>
              <span class="validationerror maxLength" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.maxlength">Must contain maximum 10 characters</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__text field_name__email">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Email (Optional) </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__email">email</i>
        <input [formControl]="localform.controls['email']" type="text" name="email" />
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__job_category_id">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Preferred Job Category </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <customdropdown [form]="localform" [field]="{config: {assign_first_option: false}, name: 'job_category_id', editable: true, options: response_category_id_options, data: response_data}"></customdropdown>
        <span class="validationerror required" *ngIf="localform.controls['job_category_id'].errors && localform.controls['job_category_id'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__job_role_id">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Preferred Job Role </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <customdropdown [form]="localform" [field]="{config: {assign_first_option: false}, name: 'job_role_id', editable: true, options: response_role_id_options, data: response_data}"></customdropdown>
        <span class="validationerror required" *ngIf="localform.controls['job_role_id'].errors && localform.controls['job_role_id'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__maplocation field_name__preferred_job_location">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Preferred Job Location </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <maplocation
          class="d-block"
          [field]="{editable: true, location_name_key: 'preferred_job_location', location_latitude_key: 'preferred_job_latitude_location', location_longitude_key: 'preferred_job_longitude_location', location_city_key: 'preferred_job_location_city', location_state_key: 'preferred_job_location_state', location_country_key: 'preferred_job_location_country', data: response_data}"
          [form]="localform"
        ></maplocation>
        <span class="validationerror required" *ngIf="localform.controls['preferred_job_location'].errors && localform.controls['preferred_job_location'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__maplocation field_name__current_location">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Current Location </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <maplocation
          class="d-block"
          [field]="{editable: true, location_name_key: 'current_location', location_latitude_key: 'current_latitude_location', location_longitude_key: 'current_longitude_location', location_city_key: 'current_location_city', location_state_key: 'current_location_state', location_country_key: 'current_location_country', data: response_data}"
          [form]="localform"
        ></maplocation>
        <span class="validationerror required" *ngIf="localform.controls['current_location'].errors && localform.controls['current_location'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__richtext field_name__about_yourself">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> A little about you... </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <div class="customtextarea" [field]="{editable: true, value_key: 'about_yourself', data: response_data}" [form]="localform"></div>
        <span class="validationerror required" *ngIf="localform.controls['about_yourself'].errors && localform.controls['about_yourself'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__number field_name__current_salary">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Current Monthly Salary (Rs.) </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__payments">payments</i>
        <input min="0" [formControl]="localform.controls['current_salary']" type="number" name="current_salary" />
        <span class="validationerror required" *ngIf="localform.controls['current_salary'].errors && localform.controls['current_salary'].errors.required">This field is required</span>
        <span class="validationerror min" *ngIf="localform.controls['current_salary'].errors && localform.controls['current_salary'].errors.min">Must be greater than 0</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__date field_name__dob">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Date of Birth </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <input [formControl]="localform.controls['dob']" type="date" name="dob" />
        <span class="validationerror required" *ngIf="localform.controls['dob'].errors && localform.controls['dob'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__text field_name__pan_card">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Aadhaar Card / PAN </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__credit_card">credit_card</i>
        <input [formControl]="localform.controls['pan_card']" type="text" name="pan_card" />
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__text field_name__languages_known">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Languages Known </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__supervised_user_circle">supervised_user_circle</i>
        <input [formControl]="localform.controls['languages_known']" type="text" name="languages_known" />
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__file field_name__resume_id">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Resume / BioData (Optional) </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__attach_file">attach_file</i>
        <div
          class="file-upload"
          [field]="{editable: true, file_url_key: 'resume_file_url', file_aws_name_key: 'resume_file_internal_name', file_name_key: 'resume_file_external_name', file_id_key: 'resume_id', category: 'userprofile__resume', allowedtypes: ['pdf'], data: response_data}"
          [localform]="localform"
        ></div>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__node_obj_list field_name__attachments multifile col-md-12 py-3">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Additional Media </span>
      </div>
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['attachments']['controls'])?localform.controls['attachments']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_add">
            <button type="button" class="btn btn-sm btn-primary nonstandardiconcontainer" (click)="addNode_attachments()"><i class="material-icons">add_circle</i>ADD</button>
          </div>
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['attachments']['controls'] && localform.controls['attachments']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['attachments']['controls'];let i=index;">
                <div class="nodeslist_remove mt-3">
                  <button class="btn btn-link text-danger nonstandardiconcontainer" (click)="removeNode_attachments(i)"><i class="material-icons">remove_circle</i>Remove</button>
                </div>
                <ng-container [ngTemplateOutlet]="template_nodelist_attachments" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['attachments']['controls'] && localform.controls['attachments']['controls'].length===0">
              <div class="px-2 text-center">No additional attachments from this Candidate</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center my-4 nonstandardiconfield" (click)="submitForm()">
  <button class="btn btn-primary btn-md shadow-sm col-6 col-md-2 stdsubmitbutton" type="button">
    <i class="material-icons std_icon iconval__check_circle">check_circle</i>
    Submit
  </button>
</div>
<ng-template #template_nodelist_attachments let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 mb-4 field field_type__file field_name__attachment_media_id">
        <div class="fieldelement">
          <div
            class="file-upload"
            [field]="{editable: true, file_url_key: 'media_file_url', file_aws_name_key: 'media_file_internal_name', file_name_key: 'media_file_external_name', file_id_key: 'attachment_media_id', category: 'additional__attachment', allowedtypes: ['pdf','image','video'], data: (response_data['attachments'])?response_data['attachments'][index]:undefined}"
            [localform]="localform"
          ></div>
          <span class="validationerror required" *ngIf="localform.controls['attachment_media_id'].errors && localform.controls['attachment_media_id'].errors.required">This field is required</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
