<div class="row m-0 col-md-12 py-0 py-sm-4">
  <div class="row col-md-6 col-sm-12 no-gutters">
    <div class="col-12 mb-4 field field_type__img field_name__loginscreen_image col-md-12">
      <div class="fieldelement">
        <img class="otp-splash" src="../assets/otp-splash.webp" />
      </div>
    </div>
  </div>
  <div class="row col-md-6 col-sm-12 no-gutters">
    <div class="sectiontitlesubtitlegroup px-0 mt-2 mb-3 col-12">
      <h2 class="font-weight-bold col-12 my-md-2 py-0 my-0 text-center">One Time Password (OTP)</h2>
    </div>
    <div class="col-12 field field_type__label field_name__mobile col-md-12">
      <div class="d-inline">
        <span class="d-inline"> Please enter 4 digit OTP sent to +91 </span>
      </div>
      <div class="d-inline text-warning font-weight-bold">
        <i class="material-icons std_icon iconval__mobile_friendly">mobile_friendly</i>
        <span>{{mobile}}</span>
        <span class="validationerror minLength" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.minlength">Must contain minimum 10 characters</span>
        <span class="validationerror maxLength" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.maxlength">Must contain maximum 10 characters</span>
      </div>
    </div>
    <ng-container *ngIf="!appstateService.appState['username']">
      <div class="col-12 field field_type__text field_name__name col-md-12 mt-2 mb-3">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Name </span>
          <span class="text-danger fieldlabelrequired"> * </span>
        </div>
        <div class="fieldelement">
          <i class="material-icons std_icon iconval__person">person</i>
          <input [formControl]="localform.controls['name']" type="text" name="name" />
          <span class="validationerror required" *ngIf="localform.controls['name'].errors && localform.controls['name'].errors.required">This field is required</span>
        </div>
      </div>
    </ng-container>
    <div class="col-12 field field_type__text field_name__otp col-md-12">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> OTP </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__lock_open">lock_open</i>
        <input placeholder="Enter OTP" [formControl]="localform.controls['otp']" type="text" name="otp" />
        <span class="validationerror required" *ngIf="localform.controls['otp'].errors && localform.controls['otp'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 field field_type__button field_name__resentotp col-md-12 mb-2">
      <div class="fieldelement text-right">
        <button class="btn btn-link text-warning btn-sm" (click)="templateutilsService.navigateToRoute('login_signup_otp')">Resend OTP</button>
      </div>
    </div>
    <ng-container *ngIf="(this.appstateService.appState.userexists===false || this.appstateService.appState.userexists===undefined || this.appstateService.appState.userexists===null)">
      <div class="col-12 mb-4 field field_type__group field_name__accepttermsgroup col-md-12">
        <div class="fieldelement">
          <div class="fieldsgroup">
            <div class="d-inline">
              <div class="d-inline">
                <input type="checkbox" [formControl]="localform.controls['acceptterms']" />
              </div>
            </div>
            <div class="d-inline">
              <div class="d-inline">
                <span class="d-inline"> I have read and agree to the </span>
              </div>
              <div class="d-inline text-warning font-weight-bold">
                <a target="_blank" href="{{localform.value['accepttermslink']}}">Terms and Conditions</a>
              </div>
            </div>
            <div class="d-inline">
              <div class="d-inline">
                <span class="d-inline"> and </span>
              </div>
              <div class="d-inline text-warning font-weight-bold">
                <a target="_blank" href="{{localform.value['accepttermslink']}}">Privacy Policy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="col-12 mb-4 field field_type__button field_name__submit col-md-12 nonstandardiconfield">
      <div class="fieldelement text-center">
        <button class="btn btn-md btn-primary" (click)="submitForm()"><i class="icontype__element material-icons std_icon iconval__check_circle">check_circle</i> Verify & Proceed</button>
      </div>
    </div>
  </div>
</div>
