<div class="col-12 my-4 p-0">
  <h1 class="text-dark hosttitle font-weight-bold">Hello!</h1>
  <h4 class="w-100 my-2 text-center hostsubtitle">Please choose one option to continue</h4>
</div>
<div class="col-12 p-0">
  <div class="row mx-0 col-12 px-0">
    <div class="sectiontitlesubtitlegroup px-0 mt-2 mb-3 col-12">
      <small class="col-12 sectionsubtitle py-0 px-3 text-center mb-4"> You can switch the roles at any point of time after registration </small>
    </div>
    <ng-container *ngIf="showchoice">
      <div class="col-6 p-1 p-sm-4 mb-4 clickable" (click)="chooseUserType('candidate')">
        <div class="fieldelement text-center p-3 shadow-sm rounded-lg">
          <span class="iconimg freesizeimg position-relative mb-2"><img src="../assets/job-seeker.png" /></span>
          <button class="btn btn-link p-0 w-100 font-weight-bold">Find a Job</button>
        </div>
      </div> </ng-container
    ><ng-container *ngIf="showchoice">
      <div class="col-6 p-1 p-sm-4 mb-4 clickable" (click)="chooseUserType('employer')">
        <div class="fieldelement text-center p-3 shadow-sm rounded-lg">
          <span class="iconimg freesizeimg position-relative mb-2"><img src="../assets/employer.png" /></span>
          <button class="btn btn-link p-0 w-100 font-weight-bold">Post Jobs</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
