<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Welcome</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 mb-4 field field_type__text field_name__username mt-3">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Username </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__account_circle">account_circle</i>
        <input [formControl]="localform.controls['username']" type="text" name="username" />
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__password field_name__password">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Password </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__visibility_off">visibility_off</i>
        <input [formControl]="localform.controls['password']" type="password" name="password" />
      </div>
    </div>
  </div>
</div>
<div class="text-center my-4 nonstandardiconfield" (click)="submitForm()">
  <button class="btn btn-primary btn-md shadow-sm col-6 col-md-2 stdsubmitbutton" type="button">
    <i class="material-icons std_icon iconval__check_circle">check_circle</i>
    Login
  </button>
</div>
