<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 field field_type__label field_name__content_category_name mb-3 font-weight-bold text-dark">
      <div class="fieldelement">
        <span>{{localform.value["content_category_name"]}}</span>
      </div>
    </div>
    <div class="col-12 field field_type__image-cropper field_name__course_image_dummy_id mb-2">
      <div class="fieldelement">
        <div class="image-cropper-field" [field]="{editable: false, media_name_key: 'content_category_media_file_url', media_id_key: 'featured_image_dummy_id', category: '', roundCropper: false, data: response_data}" [localform]="localform"></div>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__button field_name__view_lessons_button mt-2 text-center nonstandardiconcontainer">
      <div class="fieldelement">
        <button class="btn btn-primary font-weight-bold px-5" (click)="templateutilsService.navigateToRoute('lessons/' + localform.value['id'])"><i class="icontype__element material-icons std_icon iconval__remove_red_eye">remove_red_eye</i> View Lessons</button>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__label field_name__content_category_short_description">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Short Description </span>
      </div>
      <div class="fieldelement">
        <span>{{localform.value["content_category_short_description"]}}</span>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__richtextlabel field_name__content_category_full_description">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Full Description </span>
      </div>
      <div class="fieldelement">
        <div class="fieldvalue" innerHTML='{{localform.value["content_category_full_description"]}}'></div>
      </div>
    </div>
  </div>
</div>
