<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Upload Video</h1>
  <h4 class="w-100 my-2 text-center hostsubtitle">For upload, file should be in .mp4 or .avi format</h4>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="px-2 col-5">
      <div class="box-shadow-5 rounded-10 py-2 ripple">
        <div class="fieldelement">
          <i class="material-icons std_icon iconval__folder">folder</i>
          <span>Browse Video</span>
        </div>
      </div>
    </div>
    <div class="px-2 col-5" (click)="dialogService.openVideoRecorder()">
      <div class="box-shadow-5 rounded-10 py-2 ripple">
        <div class="fieldelement">
          <i class="material-icons std_icon iconval__photo_camera">photo_camera</i>
          <span>Record Video</span>
        </div>
      </div>
    </div>
  </div>
</div>
