<div class="page_content candiate-oneway-interview" *ngIf="step=='1.1'">
  <div class="col-12">
      <img src="assets/oneway-interview.png" class="img-fluid">
  </div>
  <div class="col-12 my-4">
    <h3 class="text-center">Interview Request</h3>
    <p>Hi <strong>Sandeep K</strong>, Zomato has sent you an interview request. Kindly respond to their request.</p>
    <p><span>Submit by: </span>Dec 20, 2022</p>
    <button type="button" class="btn btn-primary btn-sm mt-20" (click)="gotostep('1.2')">Accept</button>
    <button type="button" class="btn btn-reject btn-sm mt-20" (click)="gotostep('1.2')">Reject</button>
    <p class="custom-skip">I’ll do this later</p>
  </div>
  
</div>

<div class="page_content" *ngIf="step=='1.2'">
  <div class="d-flex intro mt-4">
    <img *ngIf="response_data && response_data['company_photo_id_media_file_internal_name']" [src]="response_data['company_photo_id_media_file_internal_name']" style="max-width: 50px;" />
    <h5>Tell us your story!</h5>
  </div>
  <div class="col-12 my-4">
    <p>Hi there! Thank you for your interest in working at <b>{{response_data?.company_name}}</b>. We’re very excited to learn more about you.</p>
    <p>We have put together a few questions that should help you tell your story. This app is used to record videos of your answers to these questions.</p>
    <p>Below, you’ll find more details the job and useful information on this step of the process.</p>
    <p>Good luck!</p>
    
  </div>
  <hr>
  <div class="col-12 d-flex align-baseline">
    <!--<input type="checkbox" name=""/>-->
    <p>After starting, you’ll have time to read the question and record when you’re comfortable.</p>
  </div>
  <div class="col-12">
  <button type="button" class="btn btn-primary btn-sm mt-20" (click)="gotostep('recordingdescription_0')">I’m ready, let’s start</button>
  <!--<button type="button" class="btn btn-orange btn-sm mt-20">Need Help?</button>-->
  </div>
</div>

<div class="page_content" *ngIf="steptype=='recordingdescription'">
  <div class="col-12 my-4 custom-height">
    <h3 class="text-left">{{response_data?.screening_questions[stepnumber].question}}</h3>
    <!--<p>Thinking time: <strong>1 minute</strong></p>-->
    <p>Recording Answer Time: <strong>{{numOfMinutesPerQuestion}} minutes</strong></p>
  </div>
  <div class="col-12">
    <button type="button" class="btn btn-primary btn-sm mt-20" (click)="gotorecordingstep(stepnumber)">Start Recording</button>
    <!--<button type="button" class="btn btn-orange btn-sm mt-20">Need Help?</button>-->
  </div>
</div>

<div class="page_content" *ngIf="step=='1.4'">
  <div class="col-12 my-4">
      <img src="assets/guided-profile-6.png" class="img-fluid">
  </div>
  <div class="col-12 my-4">
    <h3 class="text-center">Success</h3>
    <p class="text-center">Please wait while your videos upload..</p>
  </div>
</div>


<div class="page_content" *ngIf="step=='1.5'">
  <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Interview Preview</h1>
  </div>
  <div class="row">
    <div class="col-12 d-flex align-start">
        <img src="assets/zomato-logo.png" class="img-fluid">
        <div class="chat-content">
          <p>Tell us about a time when you overcame a challenge?</p>
        </div>
    </div>
    <div class="col-12 d-flex chat-preview">
      <img src="assets/chat-img.png">
      <a href=""><i class="material-icons std_icon iconval__play_arrow">play_arrow</i></a>
    </div>
    <div class="col-12 d-flex align-start">
        <img src="assets/zomato-logo.png" class="img-fluid">
        <div class="chat-content">
          <p>Tell us about a time when you overcame a challenge?</p>
        </div>
    </div>
    <div class="col-12 d-flex chat-preview">
      <img src="assets/chat-img.png">
      <a href=""><i class="material-icons std_icon iconval__play_arrow">play_arrow</i></a>
    </div>
  </div>

</div>

<div class="page_content" *ngIf="steptype=='recordingselection'">
  <ng-container *ngIf="cameraList!=null">  
    <div class="col-12 my-4">
      <h1 class="text-dark hosttitle font-weight-bold">Choose Camera</h1>
    </div>
    <div class="col-12 my-4">
      <select [(ngModel)]="chosenDeviceId" (change)="createPreviewVideo()">
        <option value="">No Camera Selected</option>
        <option *ngFor="let camera of cameraList" [value]="camera.deviceId">{{ camera.label }}</option>
      </select>
    </div>
    <div class="col-12 my-4" id="previewvideocontainer">
    </div>
    <div class="col-12 my-4">
      <button *ngIf="chosenDeviceId!==''" type="button" class="btn btn-primary btn-sm mt-20" (click)="gotostep('recordingdescription_0')">Choose camera</button>
    </div>
  </ng-container>  
  <ng-container *ngIf="cameraList==null">
    <div style="position: fixed; top: 10em; left: 10%; width: 80%; height: auto;">
      <div class="text-center mb-4">
        <img [src]="envService.values['staticmediaurl'] + 'loading.gif'" class="col-6" />
      </div> 
      <div class="text-center mb-2">Initializing Cameras</div> 
    </div>  
  </ng-container>  
</div>

<div class="page_content" *ngIf="showInitializeRecordingScreen" style="position:fixed; top: 0em; left: 0em; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.75);">
  <div class="initialize_record_timer" style="background:#EA4359; position: fixed; bottom: 1em; left: 50%; right: 0em; width: 3em; height: 3em; border: 3px solid #FFF; border-radius: 100px; font-size: 2em; text-align: center; z-index: 10; margin-left: -1.5em; padding-top: 1em; color: #fff;">
    {{initializeRecordingTimerNum}}
  </div>
</div>

<div class="" *ngIf="steptype=='recording'" style="background:#000;">
  <div class="position-relative d-flex flex-wrap justify-content-center" [id]="'parent_' + idx">
    <div class="col-12 px-0"><canvas *ngIf="showCanvas" [id]="'canvas_' + idx" width="320" height="240"></canvas></div>
  </div>
  <div class="text-right px-2 py-2">
    <small class="text-dark" *ngIf="recordingStatus === RECORDING.INITIALIZING">Initializing...</small>
    <small class="text-danger" *ngIf="recordingStatus === RECORDING.INPROGRESS">Recording in progress...</small>
    <small class="text-dark" *ngIf="recordingStatus === RECORDING.PAUSED">Recording Paused</small>
    <small class="text-primary" *ngIf="recordingStatus === RECORDING.STOPPED">Recording Stopped</small>
    <small class="text-primary" *ngIf="recordingStatus === RECORDING.PLAYING">Playing Recorded Video...</small>
    <small class="text-primary" *ngIf="recordingStatus === RECORDING.PLAYINGPAUSED">Paused Playing Video...</small>
  </div>
  <div class="text-center px-2 py-2 recording-action-btn" *ngIf="(recordingErrorMessage === undefined && recordingStatus === RECORDING.COMPLETED) || recordingStatus === RECORDING.PLAYING || recordingStatus === RECORDING.PLAYINGPAUSED">
    <button class="btn btn-sm btn-dark m-1 col-5 recording-cancel-btn" (click)="playRecordedVideo()" *ngIf="recordingStatus !== RECORDING.PLAYING"><span class="material-icons-outlined">play_circle</span> Play</button>
    <button class="btn btn-sm btn-dark m-1 col-5" (click)="pauseRecordedVideo()" *ngIf="recordingStatus === RECORDING.PLAYING"><span class="material-icons-outlined">pause</span> Pause</button>
    <button class="btn btn-sm btn-dark m-1 col-5 recording-done-btn" (click)="useRecording()"><span class="material-icons-outlined">arrow_circle_right</span> NEXT</button>
  </div>
  <div class="text-center px-2 py-2 recording-action-btn" *ngIf="recordingStatus === RECORDING.INPROGRESS">
    <button class="btn btn-sm btn-dark m-1 col-5 recording-cancel-btn" onclick="history.back()"><span class="material-icons-outlined">arrow_circle_left</span> CANCEL</button>
    <button class="btn btn-sm btn-dark m-1 col-5 recording-done-btn" (click)="stopRecording()"><span class="material-icons-outlined">arrow_circle_right</span> DONE</button>
  </div>
  <div class="text-center px-2 py-2" *ngIf="recordingQuestion !== undefined" style="background: #444; color: #FFF; font-weight: bold; border-radius: 0; width: 100%; position: fixed; top: 5em; left: 0;">
    {{recordingQuestion}}
  </div>
  <div *ngIf="recordingQuestion !== undefined && recordingStatus === RECORDING.INPROGRESS" style="background: #444; color: #FFF; font-weight: bold; border-radius: 100px; width: 3em; height: 3em; position: fixed; top: 10em; right: 1em; text-align: center; padding: 9px;">
    {{recordingTimeInSeconds}}
  </div>
</div>