<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 mb-4 field field_type__group field_name__candidate_card px-0 standardcard nonstandardiconcontainer">
      <div class="fieldelement">
        <div class="fieldsgroup">
          <div class="col-12 col-md-4 field field_type__video-record field_name__video_id mb-3">
            <div class="fieldelement">
              <div
                class="video-record-field"
                [field]="{editable: false, hideupload: false, sprout_embedded_url_key: 'video_id_sprout_embedded_url', uploadtype: '', media_name_key: 'video_id_media_file_internal_name', media_url_key: 'video_id_media_file_url', media_frame_key: 'video_id_media_frame_url', media_id_key: 'video_id', embedvideodirectly: false, category: 'userprofile__video', data: response_data}"
                [localform]="localform"
              ></div>
            </div>
          </div>
          <div class="col-12 col-md-4 field field_type__group field_name__candidate_noncard_details std_threecolumn_flex mb-2 bg-light p-2" *ngIf="localform.value['video_id']=='' || localform.value['video_id']==null">
            <div class="text-center font-weight-bold mb-2" *ngIf="response_data?.video_requested_id!==null">This user has not uploaded a Video. A request to upload video has been shared with the user on {{response_data?.video_requested_created_at | date: 'mediumDate'}} and the response is awaited.</div>
            <div class="text-center font-weight-bold mb-2" *ngIf="response_data?.video_requested_id==null">This user has not uploaded a Video. Click the button below to request.</div>
            <div class="text-center font-weight-bold mb-2" *ngIf="response_data?.video_requested_id==null">
              <button class="btn btn-danger btn-sm font-weight-bold px-4" (click)="request_video_from_user()">
                <i class="icontype__element material-icons std_icon iconval__crop_free" style="font-size: 130% !important;">missed_video_call</i> Request Video
              </button>
            </div>
          </div>
          <div class="row mx-0">
            <div class="col-6 col-md-4 std_threecolumn_flex mb-2 bg-light p-2" *ngIf="localform.value['video_id_media_file_url']=='' || localform.value['video_id_media_file_url']==null">
              <div class="mb-2 font-weight-bold text-center">Average Ratings</div>
              <star-rating [starType]="'svg'" [rating]="avgRating" [readOnly]="true"></star-rating>
            </div>
            <div class="col-6 col-md-4 std_threecolumn_flex mb-2 bg-light p-2" *ngIf="localform.value['video_id_media_file_url']=='' || localform.value['video_id_media_file_url']==null">
              <div class="mb-2 font-weight-bold text-center">Your Rating</div>
              <star-rating [starType]="'svg'" [rating]="employerRating" staticColor="ok" (starClickChange)="onRatingChange($event)"></star-rating>
              <div style="font-size: 10px; font-weight: bold; text-align: center;">Click here to rate</div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__group field_name__candidate_top_card std_card_iconimg_text">
            <div class="fieldelement">
              <div class="fieldsgroup">
                <div class="col-12 col-md-4 mb-4 field field_type__image-cropper field_name__photo_id">
                  <div class="fieldelement">
                    <div class="image-cropper-field" [field]="{editable: false, media_name_key: 'photo_id_media_file_internal_name', media_id_key: 'photo_id', category: 'userprofile__image__base64', roundCropper: true, data: response_data}" [localform]="localform"></div>
                  </div>
                </div>
                <div class="col-12 col-md-4 mb-4 field field_type__group field_name__candidate_name_phone hiddeniconscontainer">
                  <div class="fieldelement">
                    <div class="flex-column fieldsgroup">
                      <div class="col-12 col-md-4 mb-4 field field_type__label field_name__name font-weight-bold h4">
                        <div class="fieldelement">
                          <i class="material-icons std_icon iconval__person">person</i>
                          <span>{{localform.value["name"]}}</span>
                        </div>
                      </div>
                      <div class="col-12 col-md-4 mb-4 field field_type__tellink field_name__mobile px-0">
                        <i class="material-icons std_icon iconval__mobile_friendly">mobile_friendly</i>
                        <div class="fieldelement">
                          <a href="tel:{{localform.value['mobile']}}"> <i class="icontype__element material-icons std_icon iconval__settings_phone">settings_phone</i> Click to call </a>
                          <span class="validationerror minLength" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.minlength">Must contain minimum 10 characters</span>
                          <span class="validationerror maxLength" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.maxlength">Must contain maximum 10 characters</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 field field_type__group field_name__candidate_noncard_details std_threecolumn_flex mb-2">
            <div class="fieldelement">
              <div class="bg-secondary rounded-sm p-2 fieldsgroup">
                <div class="col-12 col-md-4 mb-4 field field_type__label field_name__preferred_job_location_city">
                  <div class="fieldelement">
                    <i class="material-icons std_icon iconval__fmd_good">fmd_good</i>
                    <span>{{localform.value["preferred_job_location_city"] | fieldvaluetransform:'truncate':10}}</span>
                  </div>
                </div>
                <div class="col-12 col-md-4 mb-4 field field_type__label field_name__current_salary">
                  <div class="fieldelement">
                    <i class="material-icons std_icon iconval__payments">payments</i>
                    <span>{{localform.value["current_salary"] | fieldvaluetransform:'formatcurrency'}}</span>
                    <span class="validationerror min" *ngIf="localform.controls['current_salary'].errors && localform.controls['current_salary'].errors.min">Must be greater than 0</span>
                  </div>
                </div>
                <div class="col-12 col-md-4 mb-4 field field_type__label field_name__dob">
                  <div class="fieldelement">
                    <i class="material-icons std_icon iconval__perm_contact_calendar">perm_contact_calendar</i>
                    <span>{{localform.value["dob"] | fieldvaluetransform:'calculateage'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 field field_type__social-share-buttons field_name__social_share my-2 text-center">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Share Online </span>
            </div>
            <div class="fieldelement">
              <share-buttons
                [url]="'https://app.swaayam.co/candidate/profile/'+localform.value['id']"
                [theme]="'material-dark'"
                [image]="localform.value['video_id_media_frame_url']"
                [title]="localform.value['name']"
                [description]="localform.value['name']"
                [include]="['whatsapp',  'copy']"
              ></share-buttons>
            </div>
          </div>
          <div class="col-12 col-md-4 field field_type__group field_name__application_status text-center buttons_group std_threecolumn_flex pb-2 mt-3">
            <div class="font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Application Status </span>
            </div>
            <div class="fieldelement">
              <div class="fieldsgroup">
                <div class="col-md-4 field field_type__button field_name__select col-4 mb-2 px-0">
                  <div class="fieldelement">
                    <button class="btn btn-link font-weight-bold" [class.text-dark]="localform.value['job_application_status']!='SELECTED'" [class.text-primary]="localform.value['job_application_status']=='SELECTED'" (click)="markApplication(localform, 'SELECTED')">
                      <i class="icontype__element material-icons std_icon iconval__file_download_done">file_download_done</i> Selected
                    </button>
                  </div>
                </div>
                <div class="col-md-4 field field_type__button field_name__onhold col-4 mb-2 px-0">
                  <div class="fieldelement">
                    <button class="btn btn-link font-weight-bold" [class.text-dark]="localform.value['job_application_status']!='SHORTLISTED'" [class.text-warning]="localform.value['job_application_status']=='SHORTLISTED'" (click)="markApplication(localform, 'SHORTLISTED')">
                      <i class="icontype__element material-icons std_icon iconval__crop_free">crop_free</i> Shortlist
                    </button>
                  </div>
                </div>
                <div class="col-md-4 field field_type__button field_name__reject col-4 mb-2 px-0">
                  <div class="fieldelement">
                    <button class="btn btn-link font-weight-bold" [class.text-dark]="localform.value['job_application_status']!='REJECTED'" [class.text-danger]="localform.value['job_application_status']=='REJECTED'" (click)="markApplication(localform, 'REJECTED')">
                      <i class="icontype__element material-icons std_icon iconval__block">block</i> Rejected
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__group field_name__candidate_non_card std_twocolumn_flex-md mt-md-4 bg-light py-3">
      <div class="fieldelement">
        <div class="fieldsgroup">
          <div class="col-12 col-md-4 mb-4 field field_type__label field_name__pan_card">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Aadhaar Card / PAN </span>
            </div>
            <div class="fieldelement">
              <i class="material-icons std_icon iconval__credit_card">credit_card</i>
              <span>{{localform.value["pan_card"]}}</span>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__label field_name__email">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Email (Optional) </span>
            </div>
            <div class="fieldelement">
              <i class="material-icons std_icon iconval__email">email</i>
              <span>{{localform.value["email"]}}</span>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__label field_name__current_location">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Current Location </span>
            </div>
            <div class="fieldelement">
              <span>{{localform.value["current_location"]}}</span>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__label field_name__preferred_job_location">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Preferred Job Location </span>
            </div>
            <div class="fieldelement">
              <span>{{localform.value["preferred_job_location"]}}</span>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__job_category_id">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Preferred Job Category </span>
            </div>
            <div class="fieldelement">
              <customdropdown [form]="localform" [field]="{config: {assign_first_option: false}, name: 'job_category_id', editable: false, options: response_category_id_options, data: response_data}"></customdropdown>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__job_role_id">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Preferred Job Role </span>
            </div>
            <div class="fieldelement">
              <customdropdown [form]="localform" [field]="{config: {assign_first_option: false}, name: 'job_role_id', editable: false, options: response_role_id_options, data: response_data}"></customdropdown>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__label field_name__languages_known">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Languages Known </span>
            </div>
            <div class="fieldelement">
              <i class="material-icons std_icon iconval__supervised_user_circle">supervised_user_circle</i>
              <span>{{localform.value["languages_known"]}}</span>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__file field_name__resume_id">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Resume / BioData (Optional) </span>
            </div>
            <div class="fieldelement">
              <i class="material-icons std_icon iconval__attach_file">attach_file</i>
              <div
                class="file-upload"
                [field]="{editable: false, file_url_key: 'resume_file_url', file_aws_name_key: 'resume_file_internal_name', file_name_key: 'resume_file_external_name', file_id_key: 'resume_id', category: 'userprofile__resume', allowedtypes: ['pdf'], data: response_data}"
                [localform]="localform"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__richtextlabel field_name__message">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Message from Candidate </span>
      </div>
      <div class="fieldelement">
        <div class="fieldvalue" innerHTML='{{localform.value["message"]}}'></div>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__richtextlabel field_name__about_yourself">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> A little about you... </span>
      </div>
      <div class="fieldelement">
        <div class="fieldvalue" innerHTML='{{localform.value["about_yourself"]}}'></div>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__node_obj_list field_name__attachments multifile col-md-12 py-3">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Additional Media </span>
      </div>
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['attachments']['controls'])?localform.controls['attachments']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['attachments']['controls'] && localform.controls['attachments']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['attachments']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_attachments" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['attachments']['controls'] && localform.controls['attachments']['controls'].length===0">
              <div class="px-2 text-center">No additional attachments from this Candidate</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-0 section px-md-3">
    <div class="sectiontitlesubtitlegroup px-0 my-2 col-12">
      <h2 class="font-weight-bold col-12 sectiontitle my-md-2 text-primary py-0 my-0">Interview Questions</h2>
    </div>
    <div class="row mx-2 mb-1" *ngIf="localform.controls['screening_questions']['controls'].length>0 && showRating">
      <div class="col-6 col-md-4 std_threecolumn_flex bg-light px-2 pt-2">
        <div style="font-size: 10px; font-weight: bold; text-align: center;">&nbsp;&nbsp;</div>
      </div>
      <div class="col-6 col-md-4 std_threecolumn_flex bg-light px-2 pt-2">
        <div style="font-size: 10px; font-weight: bold; text-align: center;">Click here to rate</div>
      </div>
      <div class="col-6 col-md-4 std_threecolumn_flex bg-light px-2">
        <div class="font-weight-bold text-center">Average Ratings</div>
      </div>
      <div class="col-6 col-md-4 std_threecolumn_flex bg-light px-2">
        <div class="font-weight-bold text-center">Your Rating</div>
      </div>
      <div class="col-6 col-md-4 std_threecolumn_flex bg-light p-2">
        <div style="font-size: 8px; font-weight: bold; text-align: center;">COMMUNICATION</div>
        <star-rating [starType]="'svg'" [rating]="communicationAvgRating" [readOnly]="true"></star-rating>
      </div>
      <div class="col-6 col-md-4 std_threecolumn_flex bg-light p-2">
        <div style="font-size: 8px; font-weight: bold; text-align: center;">COMMUNICATION</div>
        <star-rating [starType]="'svg'" [rating]="communicationUserRating" staticColor="ok" (starClickChange)="onInterviewRatingChange('COMMUNICATION', $event)"></star-rating>
      </div>
      <div class="col-6 col-md-4 std_threecolumn_flex bg-light p-2">
        <div style="font-size: 8px; font-weight: bold; text-align: center;">EXPERTISE</div>
        <star-rating [starType]="'svg'" [rating]="expertiseAvgRating" [readOnly]="true"></star-rating>
      </div>
      <div class="col-6 col-md-4 std_threecolumn_flex bg-light p-2">
        <div style="font-size: 8px; font-weight: bold; text-align: center;">EXPERTISE</div>
        <star-rating [starType]="'svg'" [rating]="expertiseUserRating" staticColor="ok" (starClickChange)="onInterviewRatingChange('EXPERTISE', $event)"></star-rating>
      </div>
      <div class="col-6 col-md-4 std_threecolumn_flex bg-light p-2">
        <div style="font-size: 8px; font-weight: bold; text-align: center;">PRESENTABILITY</div>
        <star-rating [starType]="'svg'" [rating]="presentabilityAvgRating" [readOnly]="true"></star-rating>
      </div>
      <div class="col-6 col-md-4 std_threecolumn_flex bg-light p-2">
        <div style="font-size: 8px; font-weight: bold; text-align: center;">PRESENTABILITY</div>
        <star-rating [starType]="'svg'" [rating]="presentabilityUserRating" staticColor="ok" (starClickChange)="onInterviewRatingChange('PRESENTABILITY', $event)"></star-rating>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__node_obj_list field_name__screening_questions">
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['screening_questions']['controls'])?localform.controls['screening_questions']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['screening_questions']['controls'] && localform.controls['screening_questions']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['screening_questions']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_screening_questions" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['screening_questions']['controls'] && localform.controls['screening_questions']['controls'].length===0">
              <div class="px-2 text-center">No Interview Questions for this Job</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template_nodelist_attachments let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 mb-4 field field_type__file field_name__attachment_media_id">
        <div class="fieldelement">
          <div
            class="file-upload"
            [field]="{editable: false, file_url_key: 'media_file_url', file_aws_name_key: 'media_file_internal_name', file_name_key: 'media_file_external_name', file_id_key: 'attachment_media_id', category: 'additional__attachment', allowedtypes: ['pdf','image','video'], data: (response_data['attachments'])?response_data['attachments'][index]:undefined}"
            [localform]="localform"
          ></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #template_nodelist_screening_questions let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 field field_type__label field_name__question mt-2 font-weight-bold">
        <div class="fieldelement mb-2">
          <span>{{localform.value["question"]}}</span>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4 field field_type__video-record field_name__answer_id">
        <div class="fieldelement">
          <div
            class="video-record-field"
            [field]="{editable: false, hideupload: false, sprout_embedded_url_key: 'video_id_sprout_embedded_url', uploadtype: '', media_name_key: 'answer_id_media_file_internal_name', media_url_key: 'answer_id_media_file_url', media_frame_key: 'answer_id_media_frame_url', media_id_key: 'answer_id', embedvideodirectly: false, category: 'company__video', data: (response_data['screening_questions'])?response_data['screening_questions'][index]:undefined}"
            [localform]="localform"
          ></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
