<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Choose Language</h1>
  <h4 class="w-100 my-2 text-center hostsubtitle">You can change back anytime</h4>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__english kpibox1" (click)="chooseLanguage('en')">
      <div class="fieldelement h5 mb-0 shadow-sm rounded-lg py-2 font-weight-bold">
        <span class="iconimg mb-3"><img src="{{envService.values['staticmediaurl']}}languages/english.jpeg" /></span>
        <span>English</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__hindi kpibox1" (click)="chooseLanguage('en')">
      <div class="fieldelement h5 mb-0 shadow-sm rounded-lg py-2 font-weight-bold">
        <span class="iconimg mb-3"><img src="{{envService.values['staticmediaurl']}}languages/hindi.jpeg" /></span>
        <span>Hindi</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__telugu kpibox1" (click)="chooseLanguage('en')">
      <div class="fieldelement h5 mb-0 shadow-sm rounded-lg py-2 font-weight-bold">
        <span class="iconimg mb-3"><img src="{{envService.values['staticmediaurl']}}languages/telugu.jpeg" /></span>
        <span>Telugu</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__bengali kpibox1" (click)="chooseLanguage('en')">
      <div class="fieldelement h5 mb-0 shadow-sm rounded-lg py-2 font-weight-bold">
        <span class="iconimg mb-3"><img src="{{envService.values['staticmediaurl']}}languages/bengali.jpeg" /></span>
        <span>Bengali</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__kannada kpibox1" (click)="chooseLanguage('en')">
      <div class="fieldelement h5 mb-0 shadow-sm rounded-lg py-2 font-weight-bold">
        <span class="iconimg mb-3"><img src="{{envService.values['staticmediaurl']}}languages/kannada.jpeg" /></span>
        <span>Kannada</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__tamil kpibox1" (click)="chooseLanguage('en')">
      <div class="fieldelement h5 mb-0 shadow-sm rounded-lg py-2 font-weight-bold">
        <span class="iconimg mb-3"><img src="{{envService.values['staticmediaurl']}}languages/tamil.jpeg" /></span>
        <span>Tamil</span>
      </div>
    </div>
  </div>
</div>
