<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Find Jobs</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 field field_type__group field_name__sort_filter_buttons_group mb-0 standardfilterscard py-2">
      <div class="fieldelement">
        <div class="row pb-1 fieldsgroup">
          <div class="col-md-4 field field_type__label field_name__filter_button text-center" [class.filternotempty]="(filter_data | isvalueempty) !== true">
            <div class="fieldelement">
              <span class="col-12" (click)="openFilterModal()"> <i class="text-dark icontype__element material-icons std_icon iconval__filter_alt">filter_alt</i> Filter Results</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 field field_type__node_obj_list field_name__jobs col-md-10 m-auto">
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['jobs']['controls'])?localform.controls['jobs']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['jobs']['controls'] && localform.controls['jobs']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['jobs']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_jobs" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['jobs']['controls'] && localform.controls['jobs']['controls'].length===0">
              <div class="px-2 text-center">No Results Found</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template_nodelist_jobs let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 mb-4 field field_type__group field_name__job_card standardcard">
        <div class="fieldelement">
          <div class="fieldsgroup">
            <ng-container *ngIf="localform.value['video_id']!==null">
              <div class="col-12 col-md-4 field field_type__video-record field_name__video_id my-3">
                <div class="fieldelement">
                  <div
                    class="video-record-field"
                    [field]="{editable: false, hideupload: false, uploadtype: '', sprout_embedded_url_key: 'video_id_sprout_embedded_url', media_name_key: 'video_id_media_file_internal_name', media_url_key: 'video_id_media_file_url', media_frame_key: 'video_id_media_frame_url', media_id_key: 'video_id', embedvideodirectly: false, category: 'job__video', data: (response_data['jobs'])?response_data['jobs'][index]:undefined}"
                    [localform]="localform"
                  ></div>
                </div>
              </div>
            </ng-container>
            <div class="col-12 col-md-4 mb-4 field field_type__group field_name__job_top_card std_card_iconimg_text companylogocardcontainer">
              <div class="fieldelement">
                <div class="fieldsgroup">
                  <div class="col-12 col-md-4 mb-4 field field_type__image-cropper field_name__company_photo_id nonroundedimg">
                    <div class="fieldelement">
                      <div
                        class="image-cropper-field"
                        [field]="{editable: false, media_name_key: 'company_photo_id_media_file_internal_name', media_id_key: 'company_photo_id', category: 'userprofile__image__base64', roundCropper: false, data: (response_data['jobs'])?response_data['jobs'][index]:undefined}"
                        [localform]="localform"
                      ></div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-4 field field_type__group field_name__company_name_job_title std_card_text_group">
                    <div class="fieldelement">
                      <div class="fieldsgroup">
                        <div class="col-12 col-md-4 mb-4 field field_type__label field_name__job_title">
                          <div class="fieldelement">
                            <span>{{localform.value["job_title"] | fieldvaluetransform:'truncate':30}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 field field_type__group field_name__job_noncard_details std_twocolumn_flex">
              <div class="fieldelement">
                <div class="bg-secondary rounded-sm p-2 fieldsgroup">
                  <div class="col-12 col-md-4 field field_type__label field_name__job_location_city my-2">
                    <div class="fieldelement">
                      <i class="material-icons std_icon iconval__fmd_good">fmd_good</i>
                      <span>{{localform.value["job_location_city"] | fieldvaluetransform:'truncate':15}}</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 field field_type__label field_name__min_job_salary my-2">
                    <div class="fieldelement">
                      <i class="material-icons std_icon iconval__sell">sell</i>
                      <span>{{localform.value["min_job_salary"] | fieldvaluetransform:'formatcurrency'}}</span>
                      <span class="validationerror min" *ngIf="localform.controls['min_job_salary'].errors && localform.controls['min_job_salary'].errors.min">Must be greater than 0</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 field field_type__label field_name__num_of_openings my-2">
                    <div class="fieldelement">
                      <i class="material-icons std_icon iconval__stream">stream</i>
                      <span>{{localform.value["num_of_openings"]}}</span>
                      <span class="validationerror min" *ngIf="localform.controls['num_of_openings'].errors && localform.controls['num_of_openings'].errors.min">Must be greater than 0</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 field field_type__label field_name__experience my-2">
                    <div class="fieldelement">
                      <i class="material-icons std_icon iconval__switch_account">switch_account</i>
                      <span>{{localform.value["experience"] | fieldvaluetransform:'append':' Yrs'}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 field field_type__group field_name__candidate_search_jobs_buttons std_threecolumn_flex mt-2 mb-2 buttons_group">
              <div class="fieldelement">
                <div class="fieldsgroup">
                  <div class="col-12 col-md-4 mb-4 field field_type__button field_name__view_details">
                    <div class="fieldelement">
                      <button class="btn btn-link text-warning font-weight-bold" (click)="templateutilsService.navigateToRoute('candidate/job/' + localform.value['id'])"><i class="icontype__element material-icons std_icon iconval__remove_red_eye">remove_red_eye</i> View</button>
                    </div>
                  </div>
                  <ng-container *ngIf="!localform.value['applied_on']">
                    <div class="col-12 col-md-4 mb-4 field field_type__button field_name__apply">
                      <div class="fieldelement">
                        <button class="btn btn-link text-primary font-weight-bold" (click)="templateutilsService.navigateToRoute('candidate/applyforjob/' + localform.value['id'])"><i class="icontype__element material-icons std_icon iconval__remove_red_eye">remove_red_eye</i> Apply</button>
                      </div>
                    </div> </ng-container
                  ><ng-container *ngIf="localform.value['applied_on']">
                    <div class="col-12 col-md-4 mb-4 field field_type__button field_name__apply">
                      <div class="fieldelement">
                        <button class="btn btn-link text-dark font-weight-bold" (click)="templateutilsService.navigateToRoute('candidate/jobapplication/' + localform.value['application_id'])"><i class="icontype__element material-icons std_icon iconval__offline_pin">offline_pin</i> Applied</button>
                      </div>
                    </div> </ng-container
                  ><ng-container *ngIf="!localform.value['favorite']">
                    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__not_favorite text-danger py-0 clickable">
                      <div class="fieldelement">
                        <span (click)="markJobAsFavorite(localform)"> <i class="text-danger icontype__element material-icons std_icon iconval__favorite_border">favorite_border</i> </span>
                      </div>
                    </div> </ng-container
                  ><ng-container *ngIf="localform.value['favorite']">
                    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__favorite text-danger py-0 clickable">
                      <div class="fieldelement">
                        <span (click)="unmarkJobAsFavorite(localform)"> <i class="text-danger icontype__element material-icons std_icon iconval__favorite">favorite</i> </span>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div class="pagination-container">
  <ul class="pagination justify-content-center" *ngIf="total_pages>1">
    <li class="page-item"><button [disabled]="page_number==1" [class.disabled]="page_number==1" class="page-link" (click)="load_data_page(1)">First</button></li>
    <li class="page-item"><button [disabled]="page_number==1" [class.disabled]="page_number==1" class="page-link" (click)="load_data_page(page_number-1)">Prev</button></li>
    <li class="page-item active">
      <button class="page-link"><strong>{{page_number}}</strong></button>
    </li>
    <li class="page-item"><button [disabled]="page_number==total_pages" [class.disabled]="page_number==total_pages" class="page-link" (click)="load_data_page(page_number+1)">Next</button></li>
    <li class="page-item"><button [disabled]="page_number==total_pages" [class.disabled]="page_number==total_pages" class="page-link" (click)="load_data_page(total_pages)">Last</button></li>
  </ul>
</div>
