<div class="standardalertmessagetitle text-center my-2 py-2 bg-light font-weight-bold">{{ title }}</div>
<div class="standardalertmessage">{{ message }}</div>
<div class="standardalertmessagebutton">
  <button class="btn btn-primary" (click)="closeDialog()">OK</button>
</div>
