<div class="text-right px-3 pt-3 fixed-top position-absolute closecontainer">
  <span class="clickable d-inline-block" (click)="closeDialog()"><i class="material-icons">cancel</i></span>
</div>
<div><button *ngIf="!loaded">Loading please wait...</button></div>
<div *ngIf="loaded">
  <ng-container *ngComponentOutlet="loadedComponent"></ng-container>
</div>
