<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="px-2 py-2 col-12">
      <div class="rounded navbarelementbody kpibox1 mb-2">
        <div class="fieldelement">
          <div class="image-cropper-field" [field]="{editable: false, media_name_key: 'photo_id_media_file_internal_name', media_id_key: 'photo_id', category: 'userprofile__image__base64', roundCropper: true, data: response_data}" [localform]="localform"></div>
          <span class="validationerror required" *ngIf="localform.controls['photo_id'].errors && localform.controls['photo_id'].errors.required">This field is required</span>
        </div>
      </div>
    </div>
    <div class="col-6 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('candidate/dashboard')">
      <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
        <i class="text-left navbaricon material-icons std_icon iconval__speed">speed</i>
        <div class="font-weight-bold fieldlabel mb-0">
          <span class="h4 font-weight-bold"> Dashboard </span>
        </div>
        <div class="fieldelement">
          <span>A dashboard of your activity</span>
        </div>
      </div>
    </div>
    <div class="col-6 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('candidate/myprofile')">
      <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
        <i class="text-left navbaricon material-icons std_icon iconval__account_circle">account_circle</i>
        <div class="font-weight-bold fieldlabel mb-0">
          <span class="h4 font-weight-bold"> My Profile </span>
        </div>
        <div class="fieldelement">
          <span>Look the best to the World</span>
        </div>
      </div>
    </div>
    <div class="col-6 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('candidate/searchjobs')">
      <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
        <i class="text-left navbaricon material-icons std_icon iconval__manage_search">manage_search</i>
        <div class="font-weight-bold fieldlabel mb-0">
          <span class="h4 font-weight-bold"> Find Jobs </span>
        </div>
        <div class="fieldelement">
          <span>Search & find your Dream Jobs</span>
        </div>
      </div>
    </div>
    <div class="col-6 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('candidate/myjobs')">
      <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
        <i class="text-left navbaricon material-icons std_icon iconval__playlist_add_check">playlist_add_check</i>
        <div class="font-weight-bold fieldlabel mb-0">
          <span class="h4 font-weight-bold"> Applied Jobs </span>
        </div>
        <div class="fieldelement">
          <span>Your applications & shortlists</span>
        </div>
      </div>
    </div>
    <div class="col-6 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('candidate/favoritejobs')">
      <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
        <i class="text-left navbaricon material-icons std_icon iconval__favorite">favorite</i>
        <div class="font-weight-bold fieldlabel mb-0">
          <span class="h4 font-weight-bold"> Favorite Jobs </span>
        </div>
        <div class="fieldelement">
          <span>Jobs you like and want to track</span>
        </div>
      </div>
    </div>
    <div class="col-6 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('candidate/notifications')">
      <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
        <i class="text-left navbaricon material-icons std_icon iconval__notifications_active">notifications_active</i>
        <div class="font-weight-bold fieldlabel mb-0">
          <span class="h4 font-weight-bold"> My Notifications </span>
        </div>
        <div class="fieldelement">
          <span>All your notifications in one place</span>
        </div>
      </div>
    </div>
    <div class="col-6 px-2 py-2 navbarelement" (click)="templateutilsService.dismissAndNavigate('lms')">
      <div class="px-3 py-3 rounded shadow-sm navbarelementbody kpibox1">
        <i class="text-left navbaricon material-icons std_icon iconval__settings_accessibility">settings_accessibility</i>
        <div class="font-weight-bold fieldlabel mb-0">
          <span class="h4 font-weight-bold"> Swaayam Seekho </span>
        </div>
        <div class="fieldelement">
          <span>Learn, grow and move up to the next level</span>
        </div>
      </div>
    </div>
    <div class="text-center mt-2 mb-3 col-12">
      <button class="btn btn-danger btn-md col-12 shadow py-2" (click)="logout()"><i class="icontype__element material-icons std_icon iconval__logout">logout</i> Logout</button>
    </div>
  </div>
</div>
