<div class="text-right p-2 fixed-top position-absolute">
  <span class="clickable d-inline-block" (click)="closeDialog()"><i class="material-icons">cancel</i></span>
</div>
<div class="imagecropper_holder">
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="aspectRatio"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (imageLoaded)="(imageLoaded)"
    (loadImageFailed)="loadImageFailed()"
    resizeToWidth="500"
    [roundCropper]="roundCropper"
  ></image-cropper>
</div>
<div class="text-center py-3">
  <button class="btn btn-primary btn-sm" (click)="done()"><i class="material-icons">check</i> Done</button>
  <button class="btn btn-danger btn-sm ml-2" (click)="closeDialog()"><i class="material-icons">highlight_off</i> Close</button>
</div>
