<div *ngIf="field.media_name == null && field.editable" class="imagecropper_iconholder fieldeditable" (click)="imagecropper_upload()">
  <i class="material-icons">cloud_upload</i>
</div>
<div *ngIf="field.media_name == null && !field.editable" class="imagecropper_imageholder">
  <div class="image-display position-relative">
    <img src="assets/user.png" />
  </div>
</div>
<div *ngIf="field.media_name != null" class="imagecropper_imageholder" [class.roundcropper]="field.roundCropper" [class.nonroundcropper]="!field.roundCropper">
  <div class="image-display position-relative">
    <div class="col-12 px-0" *ngIf="!refreshingImage">
      <img [src]="field.computed_media_name" (error)="imageNotLoading($event)" />
    </div>
    <div class="col-12 px-0" *ngIf="refreshingImage">
      <img [src]="envService.values['staticmediaurl'] + 'loading.gif'" />
    </div>
    <div *ngIf="field.editable" class="text-right text-sm-center nonstandardiconcontainer col-12 px-0">
      <button class="btn btn-link text-danger" (click)="imagecropper_upload()"><i class="material-icons">drive_file_rename_outline</i>Change</button>
    </div>
  </div>
</div>
<div>
  <input style="display: none" [id]="randomid" capture="user" accept="image/*" type="file" class="imagecropper_fileselector" (change)="imagecropper_event($event)" />
</div>
