<div class="d-flex flex-column min-vh-100 pb-4" [class.appuploadinprogress]="appstateService.central_upload_obj.uploadInProgress">
  <div class="component__header"></div>
  <div class="pagebody flex-grow-1 d-flex flex-column">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <div class="apiinprogress bg-warning font-weight-bold text-white" *ngIf="loading"><img src="https://i.gifer.com/ZZ5H.gif" />Processing please wait...</div>
  </div>
  <div class="pagenav d-none d-sm-block">
    <div class="component__navbarexpandedcandidate"></div>
  </div>
  <div class="progress" *ngIf="appstateService.central_upload_obj.uploadInProgress" style="position: fixed; width: 100%; height: auto; min-height: 65px; bottom: 0em; left: 0em; padding: 1em; border-top: 3px solid #FFA500;">
    <div class="title" style="line-height:1.5em !important; font-size: 13px; font-weight:600; padding-bottom:15px;">{{appstateService.central_upload_obj.uploadingTitle}} <span class="text-danger">({{appstateService.central_upload_obj.uploadingProgress}}%)</span></div>
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="height:10px; border-radius:5px; width: {{appstateService.central_upload_obj.uploadingProgress}}%;" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" ></div>
  </div>
</div>
