<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Sort</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__sort_by">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Sort By </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <customdropdown
          [form]="localform"
          [field]="{config: {assign_first_option: true}, name: 'sort_by', editable: true, options: [{'key':'tbl_jobs.created_at','label':'Recent'},{'key':'tbl_jobs.job_category_id','label':'Category Wise'},{'key':'tbl_jobs.job_role_id','label':'Role Wise'}]}"
        ></customdropdown>
        <span class="validationerror required" *ngIf="localform.controls['sort_by'].errors && localform.controls['sort_by'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__sort_order">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Sorting Order </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <customdropdown [form]="localform" [field]="{config: {assign_first_option: true}, name: 'sort_order', editable: true, options: [{'key':'DESC','label':'Descending'},{'key':'ASC','label':'Ascending'}]}"></customdropdown>
        <span class="validationerror required" *ngIf="localform.controls['sort_order'].errors && localform.controls['sort_order'].errors.required">This field is required</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__button field_name__sort_button text-center nonstandardiconcontainer">
      <div class="fieldelement">
        <button class="btn btn-md btn-warning col-6 nonroundedbutton" (click)="submitSortData()"><i class="icontype__element material-icons std_icon iconval__swap_vert">swap_vert</i> Sort</button>
      </div>
    </div>
  </div>
</div>
