<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Filters</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__preferred_job_location_city">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> City </span>
      </div>
      <div class="fieldelement">
        <customdropdown [form]="localform" [field]="{config: {assign_first_option: false}, name: 'preferred_job_location_city', editable: true, options: response_city_options, data: this.filter_data}"></customdropdown>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__job_category_id">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Preferred Job Category </span>
      </div>
      <div class="fieldelement">
        <customdropdown [form]="localform" [field]="{config: {assign_first_option: false, addblankoption: {'key':'','value':''}}, name: 'job_category_id', editable: true, options: response_category_id_options, data: this.filter_data}"></customdropdown>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__job_role_id">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Preferred Job Role </span>
      </div>
      <div class="fieldelement">
        <customdropdown [form]="localform" [field]="{config: {assign_first_option: false, addblankoption: {'key':'','value':''}}, name: 'job_role_id', editable: true, options: response_role_id_options, data: this.filter_data}"></customdropdown>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__number field_name__min_experience">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Minimum Experience </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__switch_account">switch_account</i>
        <input [formControl]="localform.controls['min_experience']" type="number" name="min_experience" />
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__button field_name__filter_button text-center nonstandardiconcontainer">
      <div class="fieldelement">
        <button class="btn btn-md btn-warning col-6 nonroundedbutton" (click)="submitFilterData()"><i class="icontype__element material-icons std_icon iconval__filter_alt">filter_alt</i> Filter</button>
      </div>
    </div>
  </div>
</div>
