<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Your Application</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <ng-container *ngIf="appstateService.appState.user.video_id===null">
      <div class="col-12 col-md-4 mb-4 field field_type__video-record field_name__candidate_video_id">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Profile Video </span>
        </div>
        <div class="fieldelement">
          <div
            class="video-record-field"
            [field]="{editable: false, hideupload: false, uploadtype: '', sprout_embedded_url_key: 'video_id_sprout_embedded_url', media_name_key: 'candidate_video_id_media_file_internal_name', media_url_key: 'candidate_video_id_media_file_url', media_frame_key: 'candidate_video_id_media_frame_url', media_id_key: 'candidate_video_id', embedvideodirectly: false, category: 'userprofile__video', data: response_data}"
            [localform]="localform"
          ></div>
        </div>
      </div> </ng-container
    ><ng-container *ngIf="appstateService.appState.user.pan_card===null">
      <div class="col-12 col-md-4 mb-4 field field_type__label field_name__pan_card">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Aadhaar Card / PAN </span>
        </div>
        <div class="fieldelement">
          <i class="material-icons std_icon iconval__credit_card">credit_card</i>
          <span>{{appstateService.appState.user.pan_card}}</span>
        </div>
      </div>
    </ng-container>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__company_name">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Company Name </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__domain">domain</i>
        <span>{{localform.value["company_name"]}}</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__job_title">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Job Title </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__work">work</i>
        <span>{{localform.value["job_title"]}}</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__richtextlabel field_name__message">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Message to the Employer </span>
      </div>
      <div class="fieldelement">
        <div class="fieldvalue" innerHTML='{{localform.value["message"]}}'></div>
      </div>
    </div>
  </div>
  <div class="row mx-0 section px-md-3">
    <div class="sectiontitlesubtitlegroup px-0 mt-2 mb-3 col-12">
      <h2 class="font-weight-bold col-12 sectiontitle my-md-2 text-primary py-0 my-0">Interview Questions</h2>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__node_obj_list field_name__screening_questions">
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['screening_questions']['controls'])?localform.controls['screening_questions']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['screening_questions']['controls'] && localform.controls['screening_questions']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['screening_questions']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_screening_questions" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['screening_questions']['controls'] && localform.controls['screening_questions']['controls'].length===0">
              <div class="px-2 text-center">No Interview Questions for this Job</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template_nodelist_screening_questions let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 field field_type__label field_name__question mb-2">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Question </span>
        </div>
        <div class="fieldelement">
          <span>{{localform.value["question"]}}</span>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4 field field_type__video-record field_name__answer_id">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Your answer </span>
        </div>
        <div class="fieldelement">
          <div
            class="video-record-field"
            [field]="{editable: false, hideupload: false, uploadtype: '', sprout_embedded_url_key: 'answer_id_sprout_embedded_url', media_name_key: 'answer_id_media_file_internal_name', media_url_key: 'answer_id_media_file_url', media_frame_key: 'answer_id_media_frame_url', media_id_key: 'answer_id', embedvideodirectly: false, category: 'company__video', data: (response_data['screening_questions'])?response_data['screening_questions'][index]:undefined}"
            [localform]="localform"
          ></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
