<div class="text-center py-3 h2 font-weight-bold">Share</div>
<share-buttons class="text-center px-2 pb-4" [url]="url" [theme]="theme" [image]="image" [title]="title" [description]="description" [include]="include"></share-buttons>
