<div class="row m-0 col-md-12 py-0 py-sm-4">
  <div class="px-0 row col-md-6 col-sm-12 no-gutters">
    <div class="col-12 mb-4 field field_type__img field_name__loginscreen_image col-md-12 px-3 px-0">
      <div class="fieldelement">
        <img src="../assets/login-splash.avif" />
      </div>
    </div>
  </div>
  <div class="px-0 row col-md-6 col-sm-12 no-gutters">
    <div class="sectiontitlesubtitlegroup px-0 mt-2 mb-3 col-12">
      <h2 class="font-weight-bold col-12 my-md-2 py-0 my-0 text-center">Login / Signup</h2>
    </div>
    <div class="col-12 mb-4 field field_type__mobile_number field_name__mobile col-md-12 px-3">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Mobile Number </span>
        <span class="text-danger fieldlabelrequired"> * </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__mobile_friendly">mobile_friendly</i>
        <span class="emptyspan"></span>
        <input placeholder="Enter 10 digit Mobile Number" [formControl]="localform.controls['mobile']" type="tel" name="mobile" />
        <span class="validationerror required" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.required">This field is required</span>
        <span class="validationerror minLength" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.minlength">Must contain minimum 10 characters</span>
        <span class="validationerror maxLength" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.maxlength">Must contain maximum 10 characters</span>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__button field_name__submit col-md-12 px-3 nonstandardiconfield">
      <div class="fieldelement text-center">
        <button class="btn btn-md btn-primary" (click)="submitForm()"><i class="icontype__element material-icons std_icon iconval__touch_app">touch_app</i> Login / Signup</button>
      </div>
    </div>
  </div>
</div>
