<input type="file" class="d-none" [id]="randomid" (change)="handleFileInput($event.target.files)" />
<div *ngIf="!field.file_id" class="filebuttonholder fieldeditable">
  <button *ngIf="field.editable" class="btn btn-sm btn-warning col-4" (click)="file_upload()">Choose</button>
  <span *ngIf="!field.editable" class="">No File Attached</span>
</div>
<div *ngIf="field.file_id" class="fileholder fieldeditable nonstandardiconcontainer">
  <div *ngIf="!field.editable" class="filename">
    <div (click)="view_file(field.file_url)">
      <span class="fileiconinuploader"><i class="material-icons">file_open</i></span
      ><br />
      <span>{{field.file_name}}</span>
    </div>
  </div>
  <div *ngIf="field.editable" class="filename">{{field.file_name}}</div>
  <div *ngIf="field.editable" class="filechange mt-1">
    <button class="btn btn-link text-primary mr-2" (click)="view_file(field.file_url)"><i class="material-icons">remove_red_eye</i>View</button>
    <button class="btn btn-link text-danger" (click)="file_upload()"><i class="material-icons">drive_file_rename_outline</i>Change</button>
  </div>
</div>
