<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 field field_type__label field_name__content_article_name font-weight-bold text-dark pr-1 pl-4 my-2 lesson_icon_holder">
      <div class="fieldelement">
        <span> <i class="icontype__element material-icons std_icon iconval__chevron_right">chevron_right</i> {{localform.value["content_article_name"]}}</span>
      </div>
    </div>
    <div class="col-12 field field_type__node_obj_list field_name__attachments col-md-10 m-auto stdhorizontallist">
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['attachments']['controls'])?localform.controls['attachments']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['attachments']['controls'] && localform.controls['attachments']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['attachments']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_attachments" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__richtextlabel field_name__content_article_content">
      <div class="fieldelement">
        <div class="fieldvalue" innerHTML='{{localform.value["content_article_content"]}}'></div>
      </div>
    </div>
  </div>
</div>
<ng-template #template_nodelist_attachments let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 field field_type__label field_name__attachment_name text-center font-weight-bold my-2">
        <div class="fieldelement">
          <span>{{localform.value["attachment_name"]}}</span>
        </div>
      </div>
      <ng-container *ngIf="localform.value['attachment_type']==='PICTURE'">
        <div class="col-12 col-md-4 mb-4 field field_type__image-cropper field_name__course_lesson_media_dummy_id">
          <div class="fieldelement">
            <div
              class="image-cropper-field"
              [field]="{editable: false, media_name_key: 'media_file_internal_name', media_id_key: 'course_lesson_media_dummy_id', category: '', roundCropper: false, data: (response_data['attachments'])?response_data['attachments'][index]:undefined}"
              [localform]="localform"
            ></div>
          </div>
        </div> </ng-container
      ><ng-container *ngIf="localform.value['attachment_type']==='VIDEO'">
        <div class="col-12 col-md-4 mb-4 field field_type__video-record field_name__course_lesson_media_dummy_id2">
          <div class="fieldelement">
            <div
              class="video-record-field"
              [field]="{editable: false, hideupload: false, sprout_embedded_url_key: 'video_id_sprout_embedded_url', uploadtype: '', media_name_key: 'media_file_internal_name', media_url_key: 'media_file_url', media_frame_key: '', media_id_key: 'course_lesson_media_dummy_id', embedvideodirectly: false, category: '', data: (response_data['attachments'])?response_data['attachments'][index]:undefined}"
              [localform]="localform"
            ></div>
          </div>
        </div> </ng-container
      ><ng-container *ngIf="localform.value['attachment_type']==='FILE'">
        <div class="col-12 col-md-4 mb-4 field field_type__label field_name__dummy_label_for_fileicon">
          <div class="fieldelement">
            <span>{{localform.value["dummy_label_for_fileicon"]}}</span>
          </div>
        </div> </ng-container
      ><ng-container *ngIf="localform.value['attachment_type']==='YOUTUBE_URL'">
        <div class="col-12 col-md-4 mb-4 field field_type__youtube-video field_name__media_file_internal_name">
          <div class="fieldelement">
            <div><youtube-player videoId='{{localform.value["media_file_internal_name"]}}'></youtube-player></div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>
