<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Apply for Job</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <ng-container *ngIf="appstateService.appState.user.video_id===null">
      <div class="col-12 col-md-4 mb-4 field field_type__video-record field_name__candidate_video_id">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Profile Video </span>
          <span class="text-danger fieldlabelrequired"> * </span>
        </div>
        <div class="fieldelement">
          <div
            class="video-record-field"
            [field]="{editable: true, hideupload: false, sprout_embedded_url_key: 'video_id_sprout_embedded_url', uploadtype: '', media_name_key: 'candidate_video_id_media_file_internal_name', media_url_key: 'candidate_video_id_media_file_url', media_frame_key: 'candidate_video_id_media_frame_url', media_id_key: 'candidate_video_id', embedvideodirectly: false, category: 'userprofile__video', data: response_data}"
            [localform]="localform"
          ></div>
          <span class="validationerror required" *ngIf="localform.controls['candidate_video_id'].errors && localform.controls['candidate_video_id'].errors.required">This field is required</span>
        </div>
      </div> </ng-container
    ><ng-container *ngIf="appstateService.appState.user.pan_card===null || appstateService.appState.user.pan_card===''">
      <div class="col-12 col-md-4 mb-4 field field_type__text field_name__pan_card">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Aadhaar Card / PAN </span>
          <span class="text-danger fieldlabelrequired"> * </span>
        </div>
        <div class="fieldelement">
          <i class="material-icons std_icon iconval__credit_card">credit_card</i>
          <input [formControl]="localform.controls['pan_card']" type="text" name="pan_card" />
          <span class="validationerror required" *ngIf="localform.controls['pan_card'].errors && localform.controls['pan_card'].errors.required">This field is required</span>
        </div>
      </div>
    </ng-container>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__company_name">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Company Name </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__domain">domain</i>
        <span>{{localform.value["company_name"]}}</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__label field_name__job_title">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Job Title </span>
      </div>
      <div class="fieldelement">
        <i class="material-icons std_icon iconval__work">work</i>
        <span>{{localform.value["job_title"]}}</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__richtext field_name__message">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Message to the Employer </span>
      </div>
      <div class="fieldelement">
        <div class="customtextarea" [field]="{editable: true, value_key: 'message', data: response_data}" [form]="localform"></div>
      </div>
    </div>
  </div>
</div>
<div class="text-center my-4 nonstandardiconfield" (click)="submitForm(false)" *ngIf="response_data!==undefined && response_data['screening_questions'] && response_data['screening_questions'].length==0">
  <button class="btn btn-primary btn-md shadow-sm col-6 col-md-2 stdsubmitbutton" type="button">
    <i class="material-icons std_icon iconval__check_circle">check_circle</i>
    Apply
  </button>
</div>
<div class="text-center my-2 nonstandardiconfield" (click)="submitForm(true)" *ngIf="response_data!==undefined && response_data['screening_questions'] && response_data['screening_questions'].length!=0">
  <button class="btn btn-primary btn-md shadow-sm col-10 col-md-2 stdsubmitbutton" type="button">
    <i class="material-icons std_icon iconval__check_circle">check_circle</i>
    Answer Interview Questions
  </button>
</div>
<ng-template #template_nodelist_screening_questions let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 field field_type__label field_name__question mb-2">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Question </span>
        </div>
        <div class="fieldelement">
          <span>{{localform.value["question"]}}</span>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4 field field_type__video-record field_name__answer_id">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Your answer </span>
          <span class="text-danger fieldlabelrequired"> * </span>
        </div>
        <div class="fieldelement">
          <div
            class="video-record-field"
            [field]="{editable: true, hideupload: false, uploadtype: '', sprout_embedded_url_key: 'video_id_sprout_embedded_url', media_name_key: 'answer_id_media_file_internal_name', media_url_key: 'answer_id_media_file_url', media_frame_key: 'answer_id_media_frame_url', media_id_key: 'answer_id', embedvideodirectly: false, category: 'company__video', data: (response_data['screening_questions'])?response_data['screening_questions'][index]:undefined}"
            [localform]="localform"
          ></div>
          <span class="validationerror required" *ngIf="localform.controls['answer_id'].errors && localform.controls['answer_id'].errors.required">This field is required</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
