<div class="col-12 mt-4 mb-1">
  <h1 class="text-dark hosttitle font-weight-bold">Companies</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 field field_type__button field_name__post_job mb-2 pr-2 text-right px-0">
      <div class="fieldelement">
        <button class="btn btn-link text-danger font-weight-bold pr-2" (click)="templateutilsService.navigateToRoute('employer/addcompany')"><i class="icontype__element material-icons std_icon iconval__add_circle">add_circle</i> Add Company</button>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__node_obj_list field_name__companies">
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['companies']['controls'])?localform.controls['companies']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['companies']['controls'] && localform.controls['companies']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['companies']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_companies" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['companies']['controls'] && localform.controls['companies']['controls'].length===0">
              <div class="px-2 text-center">No Companies available</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template_nodelist_companies let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 mb-4 field field_type__group field_name__company_card standardcard basicpadding">
        <div class="fieldelement">
          <div class="fieldsgroup">
            <div class="col-12 col-md-4 mb-4 field field_type__video-record field_name__video_id mt-3">
              <div class="fieldelement">
                <div
                  class="video-record-field"
                  [field]="{editable: false, hideupload: false, uploadtype: '', sprout_embedded_url_key: 'video_id_sprout_embedded_url', media_name_key: 'video_id_media_file_internal_name', media_url_key: 'video_id_media_file_url', media_frame_key: 'video_id_media_frame_url', media_id_key: 'video_id', embedvideodirectly: false, category: 'company__video', data: (response_data['companies'])?response_data['companies'][index]:undefined}"
                  [localform]="localform"
                ></div>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-4 field field_type__group field_name__company_top_card companylogocardcontainer std_card_iconimg_text px-0">
              <div class="fieldelement">
                <div class="fieldsgroup">
                  <div class="col-12 col-md-4 mb-4 field field_type__label field_name__company_name font-weight-bold h4">
                    <div class="fieldelement">
                      <span>{{localform.value["company_name"]}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 field field_type__group field_name__company_noncard_details std_twocolumn_flex mb-2 px-0">
              <div class="fieldelement">
                <div class="bg-secondary rounded-sm p-2 fieldsgroup">
                  <div class="col-12 col-md-4 mb-4 field field_type__label field_name__company_location_city">
                    <div class="fieldelement">
                      <i class="material-icons std_icon iconval__fmd_good">fmd_good</i>
                      <span>{{localform.value["company_location_city"] | fieldvaluetransform:'truncate':12}}</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-4 field field_type__label field_name__no_of_employees labelfield_labelvalueinline_withcolon">
                    <i class="material-icons std_icon iconval__groups">groups</i>
                    <div class="font-weight-bold fieldlabel">
                      <span class="fieldlabeltext"> Employees </span>
                    </div>
                    <div class="fieldelement">
                      <i class="material-icons std_icon iconval__groups">groups</i>
                      <span>{{localform.value["no_of_employees"]}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 field field_type__group field_name__buttons_group buttons_group px-0">
              <div class="fieldelement">
                <div class="fieldsgroup">
                  <div class="col-md-4 field field_type__button field_name__view_details mb-2 col-4 px-0">
                    <div class="fieldelement">
                      <button class="btn btn-link text-warning font-weight-bold" (click)="templateutilsService.navigateToRoute('employer/company/' + localform.value['id'])"><i class="icontype__element material-icons std_icon iconval__remove_red_eye">remove_red_eye</i> View</button>
                    </div>
                  </div>
                  <div class="col-md-4 field field_type__button field_name__view_details mb-2 col-4 px-0">
                    <div class="fieldelement">
                      <button class="btn btn-link text-danger font-weight-bold" (click)="templateutilsService.navigateToRoute('employer/addjob/' + localform.value['id'])"><i class="icontype__element material-icons std_icon iconval__thumb_up">thumb_up</i> Post Job</button>
                    </div>
                  </div>
                  <div class="col-md-4 field field_type__button field_name__view_details mb-2 col-4 px-0">
                    <div class="fieldelement">
                      <button class="btn btn-link text-primary font-weight-bold" (click)="templateutilsService.navigateToRoute('employer/myjobs', undefined, {company_id: localform.value['id']})">
                        <i class="icontype__element material-icons std_icon iconval__copy_all">copy_all</i> {{("Jobs (" + localform.value['num_of_jobs'] + ")")}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4 field field_type__image-cropper field_name__company_logo_id nonroundedimg">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Company Logo </span>
        </div>
        <div class="fieldelement">
          <div
            class="image-cropper-field"
            [field]="{editable: false, media_name_key: 'company_logo_id_media_file_internal_name', media_id_key: 'company_logo_id', category: 'userprofile__image__base64', roundCropper: false, data: (response_data['companies'])?response_data['companies'][index]:undefined}"
            [localform]="localform"
          ></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
