<div class="col-12 mb-4">
  <h1 class="text-dark hosttitle font-weight-bold">Manage Team</h1>
</div>
<div class="page_content">
        <div class="row">
            <div class="col text-left">
                <h2>Add User</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="formgroup">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" [formControl]="localform.controls['name']" />
                </div>
                
            </div>
            <div class="col">
                <div class="formgroup">
                    <label for="" class="form-label">Mobile Number</label>
                    <input type="number" class="form-control" name="mobile" [formControl]="localform.controls['mobile']" />
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-sm mt-20" (click)="addEmployee()">Save and Notify New User</button>
        </div>
        <div class="row mt-20">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Mobile</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees">
                        <th scope="row">{{employee.mobile}}</th>
                        <td>{{employee.name}}</td>
                        <td><button id="" type="submit" class="custom-btn" (click)="deleteEmployee(employee.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center my-2 w-100" *ngIf="employees.length==0">You haven't added any Employees yet.</div>
        </div>
</div>