<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 mb-4 field field_type__group field_name__job_card standardcard">
      <div class="fieldelement">
        <div class="fieldsgroup">
          <div class="col-12 col-md-4 field field_type__video-record field_name__video_id my-3">
            <div class="fieldelement">
              <div
                class="video-record-field"
                [field]="{editable: false, hideupload: false, sprout_embedded_url_key: 'video_id_sprout_embedded_url', uploadtype: '', media_name_key: 'video_id_media_file_internal_name', media_url_key: 'video_id_media_file_url', media_frame_key: 'video_id_media_frame_url', media_id_key: 'video_id', embedvideodirectly: false, category: 'job__video', data: response_data}"
                [localform]="localform"
              ></div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__group field_name__job_top_card std_card_iconimg_text companylogocardcontainer">
            <div class="fieldelement">
              <div class="fieldsgroup">
                <div class="col-12 col-md-4 mb-4 field field_type__image-cropper field_name__company_photo_id nonroundedimg">
                  <div class="fieldelement">
                    <div class="image-cropper-field" [field]="{editable: false, media_name_key: 'company_photo_id_media_file_internal_name', media_id_key: 'company_photo_id', category: 'userprofile__image__base64', roundCropper: false, data: response_data}" [localform]="localform"></div>
                  </div>
                </div>
                <div class="col-12 col-md-4 mb-4 field field_type__group field_name__company_name_job_title std_card_text_group">
                  <div class="fieldelement">
                    <div class="fieldsgroup">
                      <div class="col-12 col-md-4 mb-4 field field_type__label field_name__job_title">
                        <div class="fieldelement">
                          <span>{{localform.value["job_title"]}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 field field_type__group field_name__job_noncard_details std_twocolumn_flex">
            <div class="fieldelement">
              <div class="bg-secondary rounded-sm p-2 fieldsgroup">
                <div class="col-12 col-md-4 field field_type__label field_name__job_location_city my-2">
                  <div class="fieldelement">
                    <i class="material-icons std_icon iconval__fmd_good">fmd_good</i>
                    <span>{{localform.value["job_location_city"] | fieldvaluetransform:'truncate':15}}</span>
                  </div>
                </div>
                <div class="col-12 col-md-4 field field_type__label field_name__min_job_salary my-2">
                  <div class="fieldelement">
                    <i class="material-icons std_icon iconval__sell">sell</i>
                    <span>{{localform.value["min_job_salary"] | fieldvaluetransform:'formatcurrency'}}</span>
                    <span class="validationerror min" *ngIf="localform.controls['min_job_salary'].errors && localform.controls['min_job_salary'].errors.min">Must be greater than 0</span>
                  </div>
                </div>
                <div class="col-12 col-md-4 field field_type__label field_name__num_of_openings my-2">
                  <div class="fieldelement">
                    <i class="material-icons std_icon iconval__stream">stream</i>
                    <span>{{localform.value["num_of_openings"]}}</span>
                    <span class="validationerror min" *ngIf="localform.controls['num_of_openings'].errors && localform.controls['num_of_openings'].errors.min">Must be greater than 0</span>
                  </div>
                </div>
                <div class="col-12 col-md-4 field field_type__label field_name__experience my-2">
                  <div class="fieldelement">
                    <i class="material-icons std_icon iconval__switch_account">switch_account</i>
                    <span>{{localform.value["experience"] | fieldvaluetransform:'append':' Yrs'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 field field_type__social-share-buttons field_name__social_share my-2 text-center">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Share Job </span>
            </div>
            <div class="fieldelement">
              <share-buttons
                [url]="'https://app.swaayam.co/job/'+localform.value['id']"
                [theme]="'material-dark'"
                [image]="localform.value['video_id_media_frame_url']"
                [title]="localform.value['job_title']"
                [description]="localform.value['job_description_clean']"
                [include]="['facebook','twitter','linkedin','whatsapp']"
              ></share-buttons>
            </div>
          </div>
          <div class="col-12 col-md-4 field field_type__group field_name__buttons_group my-2 buttons_group std_threecolumn_flex">
            <div class="fieldelement">
              <div class="fieldsgroup">
                <div class="col-md-4 field field_type__button field_name__view_details mb-2 col-4 px-0">
                  <div class="fieldelement">
                    <button class="btn btn-link text-danger font-weight-bold" (click)="templateutilsService.navigateToRoute('employer/editjob/' + localform.value['id'])">
                      <i class="icontype__element material-icons std_icon iconval__drive_file_rename_outline">drive_file_rename_outline</i> Edit
                    </button>
                  </div>
                </div>
                <div class="col-md-4 field field_type__button field_name__view_applications mb-2 col-8 px-0">
                  <div class="fieldelement">
                    <button class="btn btn-link text-primary font-weight-bold" (click)="templateutilsService.navigateToRoute('employer/myjobapplications', undefined, {job_id: localform.value['id']})">
                      <i class="icontype__element material-icons std_icon iconval__copy_all">copy_all</i> {{("Applications (" + localform.value['num_of_applications'] + ")")}}
                    </button>
                  </div>
                </div>
                <ng-container *ngIf="localform.value['status_id']===1">
                  <div class="col-md-4 field field_type__button field_name__unpublish_details mb-2 col-4 px-0 text-center">
                    <div class="fieldelement">
                      <button class="btn btn-link text-danger font-weight-bold" (click)="unpublishJob(localform.value['id'])"><i class="icontype__element material-icons std_icon iconval__delete">delete</i> Unpublish</button>
                    </div>
                  </div> </ng-container
                ><ng-container *ngIf="localform.value['status_id']===2">
                  <div class="col-md-4 field field_type__button field_name__publish_details mb-2 col-4 px-0 text-center">
                    <div class="fieldelement">
                      <button class="btn btn-link text-info font-weight-bold" (click)="publishJob(localform.value['id'])"><i class="icontype__element material-icons std_icon iconval__done">done</i> Publish</button>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <ng-container *ngIf="localform.value['status_id']===2">
            <div class="col-12 col-md-4 field field_type__label field_name__dummyunpublished text-center py-2 mb-2 text-danger bg-secondary font-weight-bold">
              <div class="fieldelement">
                <span>This Job is INACTIVE</span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__group field_name__job_non_card std_twocolumn_flex-md mt-md-4 bg-light py-3">
      <div class="fieldelement">
        <div class="fieldsgroup">
          <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__job_category_id">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Job Category </span>
            </div>
            <div class="fieldelement">
              <customdropdown [form]="localform" [field]="{config: {assign_first_option: true}, name: 'job_category_id', editable: false, options: response_category_id_options, data: response_data}"></customdropdown>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__job_role_id">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Job Role </span>
            </div>
            <div class="fieldelement">
              <customdropdown [form]="localform" [field]="{config: {assign_first_option: true}, name: 'job_role_id', editable: false, options: response_role_id_options, data: response_data}"></customdropdown>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__label field_name__min_experience">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Minimum Experience (in years) </span>
            </div>
            <div class="fieldelement">
              <i class="material-icons std_icon iconval__switch_account">switch_account</i>
              <span>{{localform.value["min_experience"]}}</span>
              <span class="validationerror min" *ngIf="localform.controls['min_experience'].errors && localform.controls['min_experience'].errors.min">Must be greater than 0</span>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__label field_name__max_experience">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Maximum Experience (in years) </span>
            </div>
            <div class="fieldelement">
              <i class="material-icons std_icon iconval__switch_account">switch_account</i>
              <span>{{localform.value["max_experience"]}}</span>
              <span class="validationerror min" *ngIf="localform.controls['max_experience'].errors && localform.controls['max_experience'].errors.min">Must be greater than 0</span>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__is_remote_job">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Can Work Remotely? </span>
            </div>
            <div class="fieldelement">
              <customdropdown [form]="localform" [field]="{config: {assign_first_option: false}, name: 'is_remote_job', editable: false, options: [{'key':'No','label':'No'},{'key':'Yes','label':'Yes'}], data: response_data}"></customdropdown>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__label field_name__job_location">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Job Location </span>
            </div>
            <div class="fieldelement">
              <span>{{localform.value["job_location"]}}</span>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__label field_name__min_job_salary">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Minium Monthly Salary (in Rs.) </span>
            </div>
            <div class="fieldelement">
              <i class="material-icons std_icon iconval__sell">sell</i>
              <span>{{localform.value["min_job_salary"]}}</span>
              <span class="validationerror min" *ngIf="localform.controls['min_job_salary'].errors && localform.controls['min_job_salary'].errors.min">Must be greater than 0</span>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__label field_name__max_job_salary">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Maximum Monthly Salary (in Rs.) </span>
            </div>
            <div class="fieldelement">
              <i class="material-icons std_icon iconval__sell">sell</i>
              <span>{{localform.value["max_job_salary"]}}</span>
              <span class="validationerror min" *ngIf="localform.controls['max_job_salary'].errors && localform.controls['max_job_salary'].errors.min">Must be greater than 0</span>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__dropdown field_name__education_requirement">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> Education </span>
            </div>
            <div class="fieldelement">
              <customdropdown
                [form]="localform"
                [field]="{config: {assign_first_option: true}, name: 'education_requirement', editable: false, options: [{'key':'8th Class Pass','label':'8th Class Pass'},{'key':'10th Class Pass','label':'10th Class Pass'},{'key':'12th Class Pass','label':'12th Class Pass'},{'key':'Graduation','label':'Graduation'},{'key':'Post Graduation','label':'Post Graduation'}], data: response_data}"
              ></customdropdown>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 field field_type__label field_name__num_of_openings">
            <div class="mb-2 font-weight-bold fieldlabel">
              <span class="font-weight-bold fieldlabeltext"> No. of Openings </span>
            </div>
            <div class="fieldelement">
              <i class="material-icons std_icon iconval__stream">stream</i>
              <span>{{localform.value["num_of_openings"]}}</span>
              <span class="validationerror min" *ngIf="localform.controls['num_of_openings'].errors && localform.controls['num_of_openings'].errors.min">Must be greater than 0</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__richtextlabel field_name__job_description col-md-12 border py-3 rounded">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Job Description </span>
      </div>
      <div class="fieldelement">
        <div class="fieldvalue" innerHTML='{{localform.value["job_description"]}}'></div>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__node_obj_list field_name__attachments multifile col-md-12 py-3">
      <div class="mb-2 font-weight-bold fieldlabel">
        <span class="font-weight-bold fieldlabeltext"> Additional Media </span>
      </div>
      <div class="fieldelement">
        <span class="validationerror min" *ngIf="localform.controls['attachments'].errors && localform.controls['attachments'].errors.min">Must be greater than 1</span>
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['attachments']['controls'])?localform.controls['attachments']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['attachments']['controls'] && localform.controls['attachments']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['attachments']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_attachments" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['attachments']['controls'] && localform.controls['attachments']['controls'].length===0">
              <div class="px-2 text-center">No additional attachments for this Job</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-0 section px-md-3">
    <div class="sectiontitlesubtitlegroup px-0 mt-2 mb-3 col-12">
      <h2 class="font-weight-bold col-12 sectiontitle my-md-2 text-primary py-0 my-0">Interview Questions</h2>
      <small class="col-12 sectionsubtitle py-0"> Need to be answered by candidates while applying </small>
    </div>
    <div class="col-12 mb-4 field field_type__node_obj_list field_name__screening_questions col-md-12">
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['screening_questions']['controls'])?localform.controls['screening_questions']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['screening_questions']['controls'] && localform.controls['screening_questions']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['screening_questions']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_screening_questions" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['screening_questions']['controls'] && localform.controls['screening_questions']['controls'].length===0">
              <div class="px-2 text-center">No Interview Questions for this Job</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template_nodelist_attachments let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 mb-4 field field_type__file field_name__attachment_media_id">
        <div class="fieldelement">
          <div
            class="file-upload"
            [field]="{editable: false, file_url_key: 'media_file_url', file_aws_name_key: 'media_file_internal_name', file_name_key: 'media_file_external_name', file_id_key: 'attachment_media_id', category: 'additional__attachment', allowedtypes: ['pdf','image','video'], data: (response_data['attachments'])?response_data['attachments'][index]:undefined}"
            [localform]="localform"
          ></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #template_nodelist_screening_questions let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 field field_type__label field_name__question mb-2">
        <div class="mb-2 font-weight-bold fieldlabel">
          <span class="font-weight-bold fieldlabeltext"> Question </span>
        </div>
        <div class="fieldelement">
          <span>{{localform.value["question"]}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
