<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Your First Post</h1>
  <h4 class="w-100 my-2 text-center hostsubtitle text-danger font-weight-bold">Get started with your Jobs</h4>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 field field_type__label field_name__dummytext col-md-8 offset-md-2">
      <div class="fieldelement">
        <span>Please enter your name and your company details with video which talks about company's work to complete your registration. Click the below video, To learn how to add company.</span>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__video-record field_name__video_id">
      <div class="fieldelement">
        <div
          class="video-record-field"
          [field]="{editable: false, hideupload: false, sprout_embedded_url_key: 'video_id_sprout_embedded_url', uploadtype: '', media_name_key: 'video_id_media_file_internal_name', media_url_key: 'video_id_media_file_url', media_frame_key: 'video_id_media_frame_url', media_id_key: 'video_id', embedvideodirectly: true, category: 'company__video', data: response_data}"
          [localform]="localform"
        ></div>
      </div>
    </div>
    <div class="col-12 mb-4 field field_type__button field_name__okay text-center nonstandardiconcontainer col-md-8 offset-md-2">
      <div class="fieldelement">
        <button class="px-4 btn btn-sm btn-primary" (click)="templateutilsService.navigateToRoute(this.response_data.next)"><i class="icontype__element material-icons std_icon iconval__done">done</i> Okay</button>
      </div>
    </div>
  </div>
</div>
