@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

body{
  background: #ffffff !important;
  text-shadow: none !important;
}
.mat-h1, .mat-headline, .mat-typography .mat-h1, .mat-typography .mat-headline, .mat-typography h1{
  font: 500 1.25rem/32px "Jost", sans-serif !important;
  color: #22215B !important;
}
.mat-h2, .mat-title, .mat-typography .mat-h2, .mat-typography .mat-title, .mat-typography h2 {
    font: 500 1.25rem/32px "Jost", sans-serif !important;
    letter-spacing: normal;
    margin: 0 0 16px;
    font-weight: 500 !important;
}
.mat-h3, .mat-title, .mat-typography h3, .mat-typography .h3 {
  font: 500 1.25rem/32px "Jost", sans-serif !important;
    margin: 0px;
}
.material-icons, .material-icons-outlined {
    vertical-align: text-top;
    font-size: 15px !important;
    text-shadow: none;
}
.logo img {
    max-height: 1.8em !important;
    margin-top: 0.5em;
}
.shadow-sm{
  box-shadow: none !important;
}
.viewfor__EDIT .section, .viewfor__ADD .section{
  box-shadow: none !important;
}
.btn-primary{
  border: none !important;
  width: 100%;
}
.btn{
  line-height: 2 !important;
  border-radius: 50px !important;
}
button.btn{
  font-size: 14px !important;
}
input, select, textarea, .ql-editor{text-shadow: none !important;}
.field_type__mobile_number .fieldelement span.emptyspan:before{font-weight: 600 !important;}
.fieldelement input, .fieldelement select{
  font-family: "Roboto", sans-serif !important;
}
.standardfilterscard {
    position: fixed;
    width: auto !important;
    height: auto !important;
    bottom: 1em !important;
    right: 1em !important;
    z-index: 6;
    background: #FFF;
    border-top: none !important;
    box-shadow: 0px 0px 10px #eee;
    font-weight: 600;
}
.standardfilterscard .fieldelement {
    text-align: center;
    padding: 1px 3px;
}
.standardfilterscard .fieldelement i.text-dark{color: var(--primary) !important;}

.fieldelement input, .fieldelement select{
  border-radius: 0 !important;
}
.form-control{font-size: 13px !important;}
.form-control:focus{
  box-shadow: none !important;
  border-color: #606060 !important;
}
.imagecropper_imageholder img, .imagecropper_iconholder{
  width: 5em !important;
  height: 5em !important;
}
.imagecropper_iconholder i, .video_iconholder i{
  font-size: 6em !important;
}
.image-cropper-dialog .btn-primary{
  width: auto !important;
}
.component__employer_insuff_profile button.btn.btn-sm{
  position: relative;
}
.imagecropper_iconholder::before{
  display: none;
}
.imagecropper_iconholder.fieldeditable::after{
  width: 2em !important;
  height: 2em !important;
  background-size: 1.2em !important;
}
.video_iconholder{
  border: 2px dashed var(--primary) !important;
}

.videoupload.cdk-overlay-pane{
  height: auto !important;
}
.component__employer_dashboard .fieldset > div:first-child{
  padding: 0 !important;
}
.component__employer_dashboard .fieldset > div:first-child .bg-dark{
  background: #5540e4 !important;
}
.viewfor__DETAILS .section{
  border-radius: 0 !important;
  box-shadow: none !important;
  border-bottom: 1px solid #eee;

}
.otp-splash{
  width: 75% !important;
}


/* Custom Classes for Updated Screens */

.page_content{
  width: 100%;
  padding: 0 20px;
}
.page_content .form-label {
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.page_content label {
    display: flex;
}
.page_content .formgroup p {
    display: flex;
    margin-bottom: 0.5rem;
}
.page_content .form-control{
  display: block;
  width: 100%;
  padding: .6rem .9rem;
  font-size: .9063rem;
  line-height: 1.5;
  color: #141821;
}
.mt-20{
  margin-top: 20px;
  text-align: left;
}
.custom-btn{
  border: none;
}
.noradius{
  border-radius: 0 !important;
  position: absolute;
  bottom: 0;
  left: 0;
}
.cust-img{
  width: 80%;
}
.gap10{
  gap:10px;
}
.button-ghost{
  background: none !important;
  border:2px solid #00af67 !important;
  color: #00af67 !important;
}
.info-icon{
  width: 10%;
  padding-bottom: 10px;
}
.text-orange{
  color: #D16C20;
  text-decoration: underline;
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: #4bb543;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
.guided-list li{
  padding-bottom: 15px;
}
.progress{
  margin-top: 30px;
  display: block !important;
  background:#fff !important; 
}

.candiate-oneway-interview{
  text-align: center; 
  margin-top: 20px;
}
.candiate-oneway-interview h3{
  text-decoration: underline;
}
.candiate-oneway-interview span{
  color: #C33243;
}
.candiate-oneway-interview .btn-reject {
    border: 2px solid #00af67;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #00af67;
}
.custom-skip{
  color: #D16C20;
  text-decoration: underline;
}
.text3{
    background: #eee;
    display: inline;
    padding: 10px;
    border-radius: 50px;
}
.intro{
  align-items: center;
}
.intro h5{
  font-size: 1rem !important;
  margin: 0 !important;
  padding-left: 15px;
}
.justify-between{
  justify-content: space-between;
}
.align-baseline{
  align-items: baseline;
}
.align-baseline p{
  padding-left: 10px;
}
.align-start{
  align-items: flex-start;
}
.align-end{
  justify-content: flex-end;
}
.btn-orange{
    text-align: center !important;
    color: #D16C20 !important;
    text-decoration: underline;
    margin-top: 5px;
    width: 100%;
}
.custom-height{
  padding: 70px 0;
}
.chat-content{
  background: #F9FFFE;
  border: 1px solid #F5F5F5;
  padding: 20px;
  margin-left: 10px;
  border-radius: 10px;
  
}
.chat-preview{
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}
.chat-preview a{
  position: absolute;
  top: 37px;
  right: 15px;
  background: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.chat-preview a i{
    vertical-align: baseline;
    padding: 3px;
}
.btn-warning2{
  background: #FFECDE !important;
  color: #FF974A !important;
}
.new-card{
  background: #FDFDFD;
  border: 1px solid #EBEBEB;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.new-card-header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #E2E2E2;
}
.new-card-header h4{
  color: #07977E;
  margin-bottom: 10px !important;
}
.new-card-body{
  padding: 15px 0;
}
.new-card-body label{
  font-weight: 600;
}
.new-card-body input, select{
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #CBCBCB;
  padding: 7px 0;
}
.btn-action-red {
    background: #C33243 !important;
    padding: 0px 10px !important;
    margin: 0 !important;
    border-radius: 5px !important;
    color: #fff !important;
}
.btn-action-red i{
    padding-right: 5px;
    vertical-align: middle;
    font-size: 1.1rem !important;
}
.btn-plain{
  background: none;
  border: none;
}
.btn-reject {
    border: 2px solid #00af67 !important;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #00af67 !important;
}
.search-questions input{
  width: 100%;
  border: 1px solid #ECE8E8;
  background: #fff;
  color: #A1A1A1;
  border-radius: 50px;
  padding: 10px;
}
.question-list{
  border-bottom:1px solid #eee;
  justify-content: space-between;
  margin: 20px 0;
  text-align: left;
  align-items: center;
}
.question-list p{
  font-weight: 600;
}
.question-list p.highlight{
  font-weight: 600;
  color: #07977E;
  display: grid;
  text-align: center;
}
.added-question{
  text-align:left;
}
.added-question .text-red{
  font-weight: 600;
  color: #C33243;
}
.question-box{
  background: #fff;
  border: 1px solid #CBCBCB;
  padding: 10px;
  height: 55px;
  font-weight: 600;
  margin-bottom: 15px;
}
.quantity {
    display: flex;
    align-items: center;
    padding: 0;
    border: 1px solid #eee;
}
.quantity--small, .quantity__button {
    padding: 5px 15px;
}
.quantity__button {
    padding: 10px 20px !important;
    background: none !important;
    border: none !important;
    color: #1b6cfc;
    font-size: 1rem;
    text-align: center;
    border-radius: 25px;
}
.quantity__input {
    width: 20px !important;
    text-align: center !important;
    background: none !important;
    border: none !important;
    font-size: 0.9rem;
}
.custom-question-list{
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  margin-top: 15px;
  font-weight: 600;
}
.invite-oneway{
  text-align: left;
}
.invite-oneway input{
  border:none;
  border-bottom: 1px solid #CBCBCB;
}
.highlight2{
  font-weight: 600;
  color: #07977E;
}
.selection-tab{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-bottom: 30px;
}
.selection-tab .select{
  font-weight: 600;
  color: #07977E;
}
.oneway-interview-list{
    display: flex;
    text-align: left;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 20px 10px;
}
.oneway-interview-list img{
  height: max-content;
  padding-right: 15px;
  max-width: 30%;
}
.oneway-interview-list .interview-info{}
.oneway-interview-list .interview-info h4{
  margin-bottom: 0;
}
.oneway-interview-list .interview-info p{
  margin-bottom: 0;
}
.oneway-interview-list .interview-info span{
  color: #07977E;
}
.final-interview-list{
    display: flex;
    justify-content: space-between;
    align-items: normal;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.final-interview-list i{
  font-size: 1.4rem !important;
}
.rating-list{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    align-items: flex-start;
}
.rating-list i{
  color: #FF974A;
  font-size: 1.4rem !important;
}
.videotitle {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0;
}