@import 'theme';
@import 'custom.css';

@import '~video.js/dist/video-js.css';
@import '~videojs-record/dist/css/videojs.record.css';

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@import '~ngx-sharebuttons/themes/material/material-dark-theme';
@import '~ngx-sharebuttons/themes/modern/modern-light-theme';
@import '~css-star-rating/scss/star-rating';

.logo img {max-height: 4em; margin-top: 0.5em;}
.twocolumnleftimage .field_type__img {margin-bottom: 0em !important;display: flex;align-items: center;justify-content: center;}

.ng-tooltip {position: absolute; max-width: 500px; max-height: 200px; overflow: auto; font-size: 14px; color: #f8f8f2; padding: 3px 8px; background: #282a36; border-radius: 4px; z-index: 1000; opacity: 0;}
.ng-tooltip:after {content: ""; position: absolute; border-style: solid;}
.ng-tooltip-top:after {top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-color: black transparent transparent transparent;}
.ng-tooltip-bottom:after {bottom: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-color: transparent transparent black transparent;}
.ng-tooltip-left:after {top: 50%; left: 100%; margin-top: -5px; border-width: 5px; border-color: transparent transparent transparent black;}
.ng-tooltip-right:after {top: 50%; right: 100%; margin-top: -5px; border-width: 5px; border-color: transparent black transparent transparent;}
.ng-tooltip-show {opacity: 1;}

.cdk-overlay-pane {position: fixed !important; bottom: 0em;}
.videoplayer.cdk-overlay-pane, .videoupload.cdk-overlay-pane, .imagecropper.cdk-overlay-pane {max-width: 100vw !important; max-height: 90vh !important;}
.videoplayer .video-js {width: 320px !important; height: 160px !important;}
.video-frame-display-embed iframe {width: 100% !important; height: auto !important;}
.fieldelement .video-js {width: 160px; height: 120px; border: 3px solid #FFF; border-radius: 5px; box-shadow: 0px 0px 8px #999;}
.imagecropper .cropper {outline: rgba(0, 0, 0, .5) solid 100vw !important;}

image-cropper {max-height: 30em !important;}
.image-cropper-field, .video-record-field {text-align: center;}
.imagecropper_iconholder {background-image: url("assets/user.png");background-size: cover;box-shadow: none !important;}
.imagecropper_iconholder::before {content: "Add your Photo";position: absolute;top: 45%;width: 100%;left: 0em;font-weight: bold;font-size: 150%;color: #FFF;}
.imagecropper_iconholder.fieldeditable::after {content: '';background-image: url("assets/pencil.png");background-size: 1.75em;box-shadow: 0px 0px 2px #444;height: 3em;width: 3em;position: absolute; bottom: 0em; right: 0em; display: block; background-repeat: no-repeat; background-position: center; background-color: #FFF; border-radius: 20px;}
.imagecropper_iconholder i {display: none;}

.field_name__videobox {padding: 0px !important; margin-bottom: 0em !important;}


.std_threecolumn_flex .fieldsgroup .field.field_name__job_location_city {flex-basis: 38%;}
.std_threecolumn_flex .fieldsgroup .field.field_name__job_salary {flex-basis: 34%; padding-left: 2px !important;}
.std_threecolumn_flex .fieldsgroup .field.field_name__experience {flex-basis: 28%;}

.std_threecolumn_flex .fieldsgroup .field.field_name__job_view, .std_threecolumn_flex .fieldsgroup .field.field_name__job_edit {flex-basis: 25%; text-align: center;}
.std_threecolumn_flex .fieldsgroup .field.field_name__job_applications {flex-basis: 50%; text-align: center;}

.std_twocolumn_flex.field_name__candidate_jobdetails_buttons .fieldsgroup .field:first-child {flex-basis: 40%;}
.std_twocolumn_flex.field_name__candidate_jobdetails_buttons .fieldsgroup .field:last-child {flex-basis: 60%;}

.std_threecolumn_flex.field_name__candidate_search_jobs_buttons .fieldsgroup .field {padding-left: 5px !important; padding-right: 5px !important;}
.std_threecolumn_flex.field_name__candidate_search_jobs_buttons .fieldsgroup .field:nth-child(3) {text-align: center; position: relative;}
.field_name__company_top_card {color: #000000; font-weight: bold;}
.field_name__notifications .std_threecolumn_flex {padding-bottom: 1em;}

.component__choose_language .iconimg img {width: 3em; margin-bottom: 0.5em;}
.component__header {box-shadow: 0px 0px 2px #999; padding-bottom: 1.4em !important;}

.companylogocardcontainer.std_card_iconimg_text .imagecropper_imageholder {text-align: right;}
.companylogocardcontainer.std_card_iconimg_text .imagecropper_imageholder img {max-height: 3em; border: 0px; padding-right: 0.5em; max-width: 100%;}
.companylogocardcontainer.std_card_iconimg_text .fieldsgroup .field:first-child {order: 1;}
.companylogocardcontainer.std_card_iconimg_text .fieldsgroup .fieldsgroup .field:first-child {order: 0 !important;}

.jobapplicationviewbutton {position: absolute; right: 0em; top: auto; bottom: auto; text-align: right !important; max-width: 40% !important; padding: 0em;}
.hiddeniconscontainer .field_type__tellink.field_name__mobile a i {display: inline; margin-right: 0px;}

.component__employer_company_add .field_name__photo_id .imagecropper_iconholder {background-image: url("assets/uploadicon.png");}
.menuicon.backbutton i {font-size: 25px;}
.field_name__sort_filter_buttons_group .fieldsgroup.row {display: block;}
.field_name__notifications .nodeslist_node {position: relative;}
.notification_createdat {position: absolute; top: 0.5em; right: 0.5em; width: 100%; text-align: right; font-size: 80%; font-weight: bold;}

.apiinprogress {position: fixed; bottom: 0em; left: 0em; width: 100%; height: 2.5em; text-align: center; background: #FFF; padding-top: 0.5em;}
.apiinprogress img {height: 1.5em; margin-right: 0.5em;}
@media (min-width: 420px) {
    .pagebody {margin-top: 1em;}
}

@media (min-width: 768px) {
    .field_name__job_non_card, .field_name__company_non_card, .field_name__candidate_non_card {flex: 0 0 66.66%; max-width: 66.66%;}
}

.component__public_jobs .field_name__job_top_card {margin-bottom: 0.5rem !important; padding: 0px;}
.component__public_jobs .field_name__company_name_buttons {padding: 0em 1em !important; margin-bottom: 1rem !important;}
.component__public_jobs .field_name__company_name_buttons .fieldsgroup {display: flex; flex-wrap: wrap;}
.component__public_jobs .field_name__sort_filter_buttons_group {display: none;}

.field_name__job_noncard_details.std_twocolumn_flex .field:nth-child(even) {flex-basis: 35%;}
.field_name__job_noncard_details.std_twocolumn_flex .field:nth-child(odd) {flex-basis: 65%;}

.component__employer_job_view_details  .field_name__buttons_group .field {flex-basis: 25%;}
.component__employer_job_view_details  .field_name__buttons_group .field:nth-child(2) {flex-basis: 40%;}
.component__employer_job_view_details  .field_name__buttons_group .field:nth-child(3) {flex-basis: 35%;}

.component__employer_employer_view_details .section {padding-top: 4em;}
.component__employer_employer_view_details .field_name__edit_details_top {position: absolute; right: 0.25em; top: 1em;}
.component__employer_employer_view_details .field_name__candidate_top_card {flex: 0 0 66%; margin-left: 33%; max-width: 66%;}
.component__employer_company_edit_details .field_name__company_description,
.component__employer_company_view_details .field_name__company_description,
.component__employer_company_edit_details .field_name__attachments,
.component__employer_company_view_details .field_name__attachments {flex: 0 0 100%; max-width: 100%;}
@media (min-width: 768px) {
    .component__employer_dashboard .kpibox2 {flex: 0 0 20%; max-width: 20%;}
}

.lesson_icon_holder .fieldelement i {top: 0em; left: -1.25em; bottom: auto; right: auto; font-size:  150%;}
.component__lesson_view .field_name__attachments .section {box-shadow: none; padding: 0em;}
.component__lesson_view .field_name__attachments .field_name__dummy_label_for_fileicon {min-height: 12em; background-image: url(assets/filepreview.png); background-size: auto 100%; background-position: center;
 background-repeat: no-repeat;}

input::placeholder {color: #AAAAAA !important; font-weight: normal;}