.border-right-separator-gray {position: relative;}
.border-right-separator-gray:before {content: ""; background-image: linear-gradient(#FFF, #CCC, #FFF); position: absolute; top: 0em; right: 0em; height: 100%; width: 1px;}
