.material-icons, .material-icons-outlined {vertical-align: text-top; font-size: 18px; text-shadow: none;}

/*
.fieldelement i, .fieldelement .iconimg {max-width: 1.2em;}
.fieldelement .iconimg {display: inline-block; line-height: 1.5em; top: -5px;}
.fieldelement .iconimg.freesizeimg {max-width: 100%;}
.fieldelement i.icontype__element {position: relative; top: 0.25em !important; right: 0px !important; left: auto !important;}
.btn.btn-md i {position: relative; top: 0.25em !important;}
.btn.btn-sm i {position: relative; top: 0em !important; display: inline; display: none;}
.text-danger i {color: theme-color-level(danger, 0) !important;}
.text-warning i {color: theme-color-level(warning, 0) !important;}
.text-primary i {color: theme-color-level(primary, 0) !important;}
.text-info i {color: theme-color-level(info, 0) !important;}
.btn-primary i, .btn-warning i, .btn-info i {color: #FFFFFF !important;}
*/
