/* You can add global styles to this file, and also import other style files */
@import 'themevariables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'themeicons';
@import 'themestdclasses';

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html, body{height: 100%;}
body {margin: 0em 0em 1em; font-size: 1rem; font-weight: 400; line-height: 1.5rem; color: $body-text; background-color: var(--light); -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-shadow: 0px 0px #606060;}
.mat-body, .mat-body-1, .mat-typography {font: 400 13px/20px "Open Sans", sans-serif !important;}
::placeholder {color: #CCC; font-weight: 600;}
.mat-h1, .mat-headline, .mat-typography h1,
.mat-h2, .mat-title, .mat-typography h2 {font: 400 18px/18px "Open Sans", sans-serif; margin: 0px;}

.mat-h3, .mat-title, .mat-typography h3, .mat-typography .h3 {font: 400 18px/18px "Open Sans", sans-serif; margin: 0px;}

.h4, h4 {font-size: 100%;}
.h5, h5 {font-size: 90%;}

[tabindex="-1"]:focus:not(:focus-visible) {outline: 0 !important;}
img {max-width: 100%;}
.iconimg img {width: 2em;}
.iconimg.freesizeimg img {width: auto;}
button.disabled {opacity: 0.5;}
button.btn {font-weight: 700 !important; padding: 0.75em 2em; text-align: center; font-size: 0.75rem; }

button.btn.nonroundedbutton {border-radius: 2px;}
button.btn.btn-link {padding: 0px;}
button.btn-link:focus {box-shadow: none; text-decoration: none;}
button.btn:active {transform: translateY(4px);}
button.btn.btn-sm {padding: 0.5em; font-size: 0.8rem;}
button.btn.btn-md {padding: 0.75em 1.5em; font-weight: bold;}
.btn-warning {color: var(--white)}
.stdsubmitbutton {padding: 0.75em 0em !important;}
.opacity_littlelow {opacity: 0.75;}
.text-underline {text-decoration: underline;}
.font-weight-bold {font-weight: 600 !important;}
.shadow-sm {box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 -1px 2px 0 rgb(0 0 0 / 14%) !important;}

youtube-player {max-width: 100%; display: block;}
youtube-player iframe {display: block; max-width: 100%; height: auto;}

/* Field Responsive styling begin */
.field .field {flex: 0 0 100%; max-width: 100%;}
@media (max-width: 768px) {
    .field {flex: 0 0 100%; max-width: 100%;}
}
/* Field Responsive styling end */

/* Different types of default fields begin  */
.fieldelement, .fieldlabel {position: relative;}
.fieldelement i.large {transform: scale(1.5);}
.fieldelement i, .fieldelement .iconimg, .fieldlabel i, .fieldlabel .iconimg {position: absolute; bottom: 0.35em; right: 0.5em;}
.fieldelement i, .fieldlabel i {color: var(--primary);}
.text-danger .fieldelement i, .fieldelement i.text-danger, .fieldelement .text-danger i {color: var(--danger);}
.text-info .fieldelement i, .fieldelement i.text-info, .fieldelement .text-info i {color: var(--info);}
.text-primary .fieldelement i, .fieldelement i.text-primary, .fieldelement .text-primary i {color: var(--primary);}
.text-warning .fieldelement i, .fieldelement i.text-warning, .fieldelement .text-warning i {color: var(--warning);}
.text-dark .fieldelement i, .fieldelement i.text-dark, .fieldelement .text-dark i {color: var(--dark);}
.btn-primary i, .btn-warning i, .btn-info i, .bg-dark i, .btn-danger i {color: var(--white);}
.bg-secondary i {color: $body-text;}


.nonstandardiconfield .fieldelement i, .nonstandardiconfield .fieldelement .iconimg,
.nonstandardiconcontainer i, .nonstandardiconcontainer .iconimg {position: relative; bottom: auto; right: auto; margin-right: 3px;}
.nonstandardiconcontainer.btn i, .nonstandardiconcontainer .btn i, .nonstandardiconcontainer.btn .iconimg, .nonstandardiconcontainer .btn .iconimg {margin-right: 0px;}

.fileiconinuploader i {font-size: 4em; margin-bottom: 8px; color: var(--danger);}
/* Different types of default fields end  */

/* Different types of INPUTS styling begin  */
input, select, textarea, .ql-editor {color: $body-text !important;}
.fieldelement input, .fieldelement select {width: 100%; border: 0px; border-bottom: 1px solid $body-text; padding-right: 2em; padding-bottom: 3px;}
.fieldelement input[type="checkbox"] {width: 18px; height: 18px; position: relative; top: 4px; margin-right: 8px;}
.fieldelement textarea {width: 100%; padding: 0.25em; color: var(--gray); border: 1px solid #ddd;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active,
select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus, select:-webkit-autofill:active {transition: background-color 5000s;-webkit-text-fill-color: $body-text !important;}
.fieldelement input:valid, .fieldelement select:valid {background-color: transparent; outline: none;}
.field_type__mobile_number .fieldelement input {padding-left: 2.75em;}
.field_type__mobile_number .fieldelement span.emptyspan:before {content: "+91"; position: absolute; top: 1px; left: 5px;}
.fieldelement input:focus {outline: none;}
.fieldelement select option {font-size: 90%;}
.field_type__label .fieldvalue {line-height: 2em;}
.field_type__node_obj_list {padding: 0.5em !important;}
.field_type__hidden {display: none;}

.field.labelfield_labelvalueinline_withcolon {position: relative;}
.field.labelfield_labelvalueinline_withcolon .fieldlabel,
.field.labelfield_labelvalueinline_withcolon .fieldelement {display: inline-block;}
.field.labelfield_labelvalueinline_withcolon .fieldlabel::after {content: ":"; padding-right: 0.25em;}
.field.labelfield_labelvalueinline_withcolon .fieldelement i {display: none;}
/* Different types of INPUTS styling end  */

/* Image Element styling begin  */
.field_type__img .fieldelement {text-align: center;}
/* Image Element styling end  */

/* Custom Elements styling begin  */
.viewascardondesktop {align-self: center; display: flex; justify-content: center; box-shadow: 0px 0px 15px #ededed; width: 75%; border-radius: 5px; flex-wrap: wrap; max-width: 650px;}
.kpibox1 .fieldelement i {position: relative; top: auto; right: auto; left: auto; bottom: auto; font-size: 2.5em; margin: 0.2em 0em;}
.kpibox2 .fieldlabeltext {font-weight: normal !important;}
.kpibox2 .fieldelement {margin-left: 1.5em;}
.kpibox2 .fieldelement i {position: absolute; right: 0em; top: -0.25em; font-size: 1.5em;}
.clickable {cursor: pointer;}
/* Custom Elements styling end  */

/* Validation styling begin  */
.validationerror {display: none;}
.showvalidationerrors .validationerror {display: block; margin-top: 0.25em; font-size: 0.8rem; color: theme-color-level(danger, 0); position: absolute; top: 2.25em; left: 0.5em;}
.showvalidationerrors .relativevalidations .validationerror {position: static;}
/* Validation styling end  */

.fullscreendialog {height: 100%; border-radius: 0px;}
.mat-dialog-container {padding: 3em 0em 0em !important; position: relative; overflow: visible !important; height: auto !important; color: #606060;}
.mat-dialog-container .dialog-template {height: 100%; overflow: auto;}

.alertdialog.cdk-overlay-pane {max-height: 16em; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 320px !important;}
.alertdialog.cdk-overlay-pane .mat-dialog-container {padding-top: 0.5em !important; min-height: auto; height: auto !important;}
.standardalertmessage, .standardalertmessagebutton {text-align: center; margin: 1em;}
.standardalertmessagebutton button {width: 6em;}

@media (min-width: 768px) {
  .floatingsmallform.cdk-overlay-pane {left: 50%; top: 50%; transform: translate(-50%, -50%); width: 500px !important;}
  .floatingsmallform .container {width: 90%; margin-left: 5%;}
}

.field_type__image-cropper {flex: 0 0 100%; max-width: 100%;}
.imagecropper_iconholder, .video_iconholder {padding: 1em; text-align: center;}
.imagecropper_holder {max-height: 300px; display: flex;}
.imagecropper_imageholder, .imagecropper_iconholder, .video_iconholder, .video_frameholder {margin: 0 auto;position: relative;}
.imagecropper_imageholder button {position: absolute; bottom: 0em; right: 0em;}
@media (min-width: 768px) {
    .imagecropper_imageholder button {position: relative; bottom: auto; right: auto; margin: 0.5em 0em;}
}
.nonroundedimg .imagecropper_imageholder button {bottom: -2em;}
.imagecropper_imageholder img, .imagecropper_iconholder, .video_frameholder img, .video_iconholder {width: 12em; height: 12em; box-shadow: 0px 0px 3px #999; border-radius: 100px; border: 2px solid #FFF; text-align: center;}
.nonroundedimg .imagecropper_imageholder img {height: auto; border-radius: 0px; box-shadow: none;}

.field_type__video-record {flex: 0 0 100%; max-width: 100%;}
.video_frameholder img {width: 90%; height: auto; border-radius: 4px; max-width: 30em;}
.imagecropper_iconholder i, .video_iconholder i {font-size: 6em; line-height: 1em; position: relative; right: auto; top: 0em; position: relative;}
.video_iconholder {border: 3px solid var(--primary); box-shadow: none;}
.video_iconholder:before {content: "Upload"; position: absolute; bottom: 2em; margin: 0 auto; width: 60%; left: 20%; text-align: center; background-color: var(--danger); color: white; font-weight: bold; padding: 0.25em; border-radius: 20px; text-transform: uppercase; font-size: 0.8rem;}
.videorecorder-readymessage {top: 3em; width: 80%; left: 12%; z-index: 10;}

.nodeslist_add {text-align: center; padding-right: 1em; margin-bottom: 1em;}
.nodeslist_remove {text-align: right; padding-right: 1em;}

.std_card_iconimg_text {padding-top: 0.5em;}
.std_card_iconimg_text .fieldsgroup {display: flex; width: 100%; align-items: center;}
.std_card_iconimg_text .fieldsgroup .field {margin-bottom: 0px !important;}
.std_card_iconimg_text .fieldsgroup .field:first-child {flex-basis: 25%; padding: 0px !important;}
.std_card_iconimg_text .fieldsgroup .imagecropper_imageholder img {width: auto !important; height: auto !important;}
.std_card_iconimg_text .fieldsgroup .field:nth-child(2) {flex-basis: 75%;}

.std_card_text_group .fieldsgroup {display: flex; width: 100%; flex-direction: column;}
.std_card_text_group .field {margin-bottom: 0em !important; padding: 0px !important; flex-basis: 100% !important;}
.std_card_text_group .field .fieldvalue {line-height: 1.5em;}
.std_card_text_group .field:first-child {color: #000000; font-weight: bold;}

.buttons_group .fieldsgroup {display: flex; flex-wrap: wrap; padding-top: 0.5em; position: relative;}
.std_threecolumn_flex .fieldsgroup {display: flex; width: 100%; flex-wrap: wrap;}
.std_threecolumn_flex .fieldsgroup .field {padding-left: 0px; padding-right: 5px; margin-bottom: 0px !important; flex-basis: 33%;}
.std_threecolumn_flex .fieldsgroup .field:nth-child(2), .buttons_group .fieldsgroup .field {text-align: center;}
.buttons_group .fieldsgroup .field:nth-child(2):before, .buttons_group .fieldsgroup .field:nth-child(2):after {content: ""; background-image: linear-gradient(#FFF, #CCC, #FFF); position: absolute; top: 0em; height: 100%; width: 1px;}
.buttons_group .fieldsgroup .field:nth-child(2):before {left: 0em; right: auto;}
.buttons_group .fieldsgroup .field:nth-child(2):after {left: auto; right: 0em;}
.buttons_group .fieldsgroup .field:last-child:after {background-image: none;}
.std_threecolumn_flex .fieldsgroup .field:nth-child(3) {text-align: right;}

.std_twocolumn_flex .fieldsgroup {display: flex; width: 100%; flex-wrap: wrap;}
.std_twocolumn_flex .fieldsgroup .field {flex-basis: 50%; padding-left: 0px;}
@media (min-width: 768px) {
    .std_twocolumn_flex-md .fieldsgroup {display: flex; width: 100%; flex-wrap: wrap;}
    .std_twocolumn_flex-md .fieldsgroup .field {flex-basis: 50%; padding-left: 0px;}
}


.standardcard {padding: 0.5em 0em 0.25em !important; margin-bottom: 1.25em !important; background: var(--white); border-bottom: 1px solid #DDD;}
.standardcard.basicpadding {padding-left: 0.5em !important; padding-right: 0.5em !important;}
.standardcard .field_type__video-record {margin-top: 1em;}
@media (min-width: 768px) {
    .standardcard {border-bottom: 0px;}
}

.nodeslist_node {margin-bottom: 0.5em;}
.nodeslist_node .standardcard {margin-bottom: 0em !important;}

.standardfilterscard {position: fixed; flex: 0 0 100%; bottom: 0em; left: 50%; transform: translateX(-50%); z-index: 6; background: var(--warning); font-weight: bold; line-height: 1em; text-transform: uppercase; box-shadow: 0px 0px 4px #000;}
.standardfilterscard .row.fieldsgroup {padding: 0.4em 0em !important; justify-content: center; display: flex !important; color: #FFF;}
.standardfilterscard i {display: none;}

.filternotempty .fieldelement span {position: relative;}
.filternotempty .fieldelement span:before {content: ""; position: absolute; top: -0.25em; right: 0em; width: 0.5em; height: 0.5em; background-color: var(--danger); border-radius: 100px;}

video {outline:none !important;}
.video-frame-display-img {position: relative;}
.video-frame-display-img:before {    position: absolute;
    bottom: 0.75em;
    border-radius: 50px;
    right: 7.5%;
    width: 3em;
    background-image: url(https://img.pngio.com/play-button-coral-icon-video-player-icon-png-red-play-button-video-play-icon-png-920_780.png);
    height: 3em;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;}
@media (min-width: 768px) {
  .video-frame-display-img:before {left: 50%; right: auto; top: 50%; transform: translate(-50%, -50%); bottom: auto; width: 5em; height: 5em;}
}

.menucollapsebutton {position: absolute; width: 100%; top: 0em; left: 0em; text-align: center;}
.menucollapsebutton button {position: relative; width: 3em; padding: 0em !important; height: 3em; top: -1.5em; border: 4px solid white !important; text-align: center; background-color: var(--warning) !important; border-radius: 20px; box-shadow: 0px 0px 5px #666;}
.menucollapsebutton button i {width: 1em; font-weight: bold; font-size: 1.5rem; top: 0.25em; padding-top: 0.3em;}
p.disabled {opacity: 0.5;}
.navbaricon {font-size: 1.75rem !important; margin-bottom: 0.25em;}
.fieldset .navbarelement .navbarelementbody {border-radius: 10px !important;}
.closecontainer .material-icons {font-size: 2em !important;}
.fieldset .navbarelement:nth-child(3) .navbarelementbody, .fieldset .navbarelement:nth-child(7) .navbarelementbody, .fieldset .navbarelement:nth-child(11) .navbarelementbody {color: var(--white); background-color: var(--warning)}
.fieldset .navbarelement:nth-child(4) .navbarelementbody, .fieldset .navbarelement:nth-child(8) .navbarelementbody, .fieldset .navbarelement:nth-child(12) .navbarelementbody {color: var(--white); background-color: var(--primary)}
.fieldset .navbarelement:nth-child(2) i, .fieldset .navbarelement:nth-child(6) i, .fieldset .navbarelement:nth-child(10) i {color: var(--warning);}
.fieldset .navbarelement:nth-child(5) i, .fieldset .navbarelement:nth-child(9) i, .fieldset .navbarelement:nth-child(13) i {color: var(--primary);}

.mobilenavbar {height: 100%;}
@media (min-width: 768px) {
  .mobilenavbar, .fullscreendialog.cdk-overlay-pane {height: auto; width: 50% !important; bottom: 0 !important;}
}
.mobilenavbar .fieldset img {border: 0px; box-shadow: 0px 0px 5px #666;}
.mobilenavbar .mat-dialog-container {padding-top: 1.5em !important;}

.hosttitle {text-align: center; font-size: 20px !important;}
.hosttitle:before, .hosttitle:after {display: inline-block; content: ""; width: 3rem; height: 1px; margin: 0 0.5rem; transform: translateY(-0.25rem);}
.hosttitle:before {background-image: linear-gradient(to right, var(--white), var(--gray));}
.hosttitle:after {background-image: linear-gradient(to right, var(--gray), var(--white));}

.section {position: relative;}
.viewfor__DETAILS .section, .viewfor__EDIT .section, .viewfor__ADD .section {border-radius: 2px; box-shadow: 0px 0px 2px #aaa; background-color: var(--white); padding: 1em 0.5em; margin-bottom: 1em;}
.viewfor__DETAILS .section:last-child, .viewfor__EDIT .section:last-child, .viewfor__ADD .section:last-child {margin-bottom: 0em !important;}
.viewfor__DETAILS .nodeslist_node {background: var(--white); margin: 0em 1%; border-radius: 4px; margin-bottom: 1em; box-shadow: 0px 0px 4px #dedede;}
.ql-container.ql-snow {min-height: 10em;}

.hiddeniconscontainer i {display: none;}

.field_type__richtextlabel p:last-child {margin-bottom: 0em;}
.viewhas__filters {padding-bottom: 3.5em;}
.pagination-container {margin: 1em auto;}

.multifile.field_type__node_obj_list .nodeslist_add {text-align: right; margin-bottom: 0.5em;}
.multifile.field_type__node_obj_list .nodeslist_nodes_container {display: flex; text-align: center; flex-wrap: wrap;}
.multifile.field_type__node_obj_list .nodeslist_nodes_container .nodeslist_node {flex-basis: 44%; max-width: 44%; margin-right: 5%;}
@media (min-width: 768px) {
  .multifile.field_type__node_obj_list .nodeslist_nodes_container .nodeslist_node {flex-basis: 22%; max-width: 22%; margin-right: 2%;}
}
.multifile.field_type__node_obj_list .nodeslist_nodes_container .nodeslist_node .nodeslist_remove {margin-top: 0.5em !important; padding-right: 0em; margin-bottom: 0.5em;}
.multifile.field_type__node_obj_list .nodeslist_nodes_container .nodeslist_node .filebuttonholder .btn {flex: 0 0 100%; padding: 0px !important; max-width: 100%; height: 2.5em;}
.multifile.field_type__node_obj_list .nodeslist_nodes_container .nodeslist_node .fieldset .field:first-child {margin-bottom: 1em !important; margin-top: 1em !important;}
.multifile.field_type__node_obj_list .nodeslist_nodes_container .filename {display: inline-block; width: 90%; overflow: hidden; cursor: pointer;}
.multifile.field_type__node_obj_list .nodeslist_nodes_container .filename:hover {text-decoration: underline;}

@media (max-width: 768px) {

  /* Custom Elements styling begin  */
  .viewascardondesktop {align-self: flex-start; justify-content: center; box-shadow: none; width: 100%; border-radius: 0px; flex-grow: 1 !important;}
  .kpibox1, .kpibox2 {flex: 0 0 50% !important;}
  .col-12 {padding-left: 10px; padding-right: 10px;}
  /* Custom Elements styling end  */

}
@media (min-width: 768px) {
  .viewascardondesktop {padding: 2em 0em; width: 80%; margin-top: 5em; max-width: auto;}
}


@media (min-width: 768px) {
  .stdgridresults1 {flex: 0 0 100%; max-width: 100%;}
  .stdgridresults1 .nodeslist_nodes_container {display: flex; flex-wrap: wrap;}
  .stdgridresults1 .nodeslist_nodes_container .nodeslist_node {flex: 0 0 31.33%; max-width: 31.33%;}
}

.stdhorizontallist .nodeslist {width: 100%; overflow-x: auto;}
@media (min-width: 768px) {
  .stdhorizontallist .nodeslist_nodes_container {flex-wrap: wrap;}
}
.stdhorizontallist .nodeslist_nodes_container {display: flex; padding: 0.5em 0em; justify-content: space-between; max-width: 1000%; width: auto;}
.viewfor__DETAILS .stdhorizontallist .nodeslist_nodes_container .section {box-shadow: none;}
.stdhorizontallist .nodeslist_ofsize_1 .nodeslist_nodes_container {width: 99%;}
.stdhorizontallist .nodeslist_ofsize_1 .nodeslist_nodes_container .nodeslist_node {flex: 0 0 99%; max-width: 99%;}
.stdhorizontallist .nodeslist_ofsize_2 .nodeslist_nodes_container {width: 160%;}
.stdhorizontallist .nodeslist_ofsize_2 .nodeslist_nodes_container .nodeslist_node {flex: 0 0 49%; max-width: 49%;}
.stdhorizontallist .nodeslist_ofsize_3 .nodeslist_nodes_container {width: 240%;}
.stdhorizontallist .nodeslist_ofsize_3 .nodeslist_nodes_container .nodeslist_node {flex: 0 0 32.33%; max-width: 32.33%;}

.stdhorizontallist .nodeslist_ofsize_4 .nodeslist_nodes_container {width: 320%;}
.stdhorizontallist .nodeslist_ofsize_4 .nodeslist_nodes_container .nodeslist_node {flex: 0 0 24%; max-width: 24%;}
.stdhorizontallist .nodeslist_ofsize_5 .nodeslist_nodes_container {width: 400%;}
.stdhorizontallist .nodeslist_ofsize_5 .nodeslist_nodes_container .nodeslist_node {flex: 0 0 19%; max-width: 19%;}
.stdhorizontallist .nodeslist_ofsize_6 .nodeslist_nodes_container {width: 480%;}
.stdhorizontallist .nodeslist_ofsize_6 .nodeslist_nodes_container .nodeslist_node {flex: 0 0 15%; max-width: 15%;}
.stdhorizontallist .nodeslist_ofsize_7 .nodeslist_nodes_container {width: 560%;}
.stdhorizontallist .nodeslist_ofsize_7 .nodeslist_nodes_container .nodeslist_node {flex: 0 0 13%; max-width: 13%;}
.stdhorizontallist .nodeslist_ofsize_8 .nodeslist_nodes_container {width: 640%;}
.stdhorizontallist .nodeslist_ofsize_8 .nodeslist_nodes_container .nodeslist_node {flex: 0 0 11%; max-width: 11%;}
.stdhorizontallist .nodeslist_ofsize_9 .nodeslist_nodes_container {width: 720%;}
.stdhorizontallist .nodeslist_ofsize_9 .nodeslist_nodes_container .nodeslist_node {flex: 0 0 10%; max-width: 10%;}

.nonroundcropper.imagecropper_imageholder img {width: 100% !important; height: auto !important; border-radius: 5px; max-width: 40em;}

.recording-cancel-btn{
  background: #fff;
  color: #EA4359;
}
.recording-done-btn{
  background: #EA4359;
  color: #fff;
}
.recording-action-btn{
  display: flex;
  justify-content: space-evenly;
}