<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Job Seekers</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 field field_type__group field_name__sort_filter_buttons_group mb-0 standardfilterscard py-2 nonstandardiconcontainer">
      <div class="fieldelement">
        <div class="row pb-1 fieldsgroup">
          <div class="col-md-4 field field_type__label field_name__filter_button text-center" [class.filternotempty]="(filter_data | isvalueempty) !== true">
            <div class="fieldelement">
              <span class="col-12" (click)="openFilterModal()"> <i class="text-dark icontype__element material-icons std_icon iconval__filter_alt">filter_alt</i> Filter Results</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 field field_type__node_obj_list field_name__candidates stdgridresults1">
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['candidates']['controls'])?localform.controls['candidates']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['candidates']['controls'] && localform.controls['candidates']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['candidates']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_candidates" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['candidates']['controls'] && localform.controls['candidates']['controls'].length===0">
              <div class="px-2 text-center">No Job Seekers Found</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template_nodelist_candidates let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 mb-4 field field_type__group field_name__candidate_card px-0 standardcard nonstandardiconcontainer">
        <div class="fieldelement">
          <div class="fieldsgroup">
            <div class="col-12 col-md-4 field field_type__video-record field_name__video_id mb-3">
              <div class="fieldelement">
                <div
                  class="video-record-field"
                  [field]="{editable: false, hideupload: false, sprout_embedded_url_key: 'video_id_sprout_embedded_url', uploadtype: '', media_name_key: 'video_id_media_file_internal_name', media_url_key: 'video_id_media_file_url', media_frame_key: 'video_id_media_frame_url', media_id_key: 'video_id', embedvideodirectly: false, category: 'userprofile__video', data: (response_data['candidates'])?response_data['candidates'][index]:undefined}"
                  [localform]="localform"
                ></div>
              </div>
            </div>
            <div class="col-12 col-md-4 field field_type__group field_name__candidate_noncard_details std_threecolumn_flex mb-2 bg-light p-2" *ngIf="localform.value['video_id']=='' || localform.value['video_id']==null">
              <div class="text-center font-weight-bold mb-2" *ngIf="localform.value['video_requested_id']!==null">This user has not uploaded a Video. A request to upload video has been shared with the user on {{localform.value['video_requested_created_at'] | date: 'mediumDate'}} and the response is awaited.</div>
              <div class="text-center font-weight-bold mb-2" *ngIf="localform.value['video_requested_id']==null">This user has not uploaded a Video. Click the button below to request.</div>
              <div class="text-center font-weight-bold mb-2" *ngIf="localform.value['video_requested_id']==null">
                <button class="btn btn-danger btn-sm font-weight-bold px-4" (click)="request_video_from_user(localform.value['id'])">
                  <i class="icontype__element material-icons std_icon iconval__crop_free" style="font-size: 130% !important;">missed_video_call</i> Request Video
                </button>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-4 field field_type__group field_name__candidate_top_card std_card_iconimg_text">
              <div class="fieldelement">
                <div class="fieldsgroup">
                  <div class="col-12 col-md-4 mb-4 field field_type__image-cropper field_name__photo_id">
                    <div class="fieldelement">
                      <div
                        class="image-cropper-field"
                        [field]="{editable: false, media_name_key: 'photo_id_media_file_internal_name', media_id_key: 'photo_id', category: 'userprofile__image__base64', roundCropper: true, data: (response_data['candidates'])?response_data['candidates'][index]:undefined}"
                        [localform]="localform"
                      ></div>
                    </div>
                  </div>
                  <div class="col-12 col-md-8 mb-4 field field_type__group field_name__candidate_name_phone hiddeniconscontainer">
                    <div class="fieldelement">
                      <div class="flex-column fieldsgroup">
                        <div class="col-12 col-md-4 mb-4 field field_type__label field_name__name font-weight-bold h4">
                          <div class="fieldelement">
                            <i class="material-icons std_icon iconval__person">person</i>
                            <span>{{localform.value["name"]}}</span>
                          </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4 field field_type__tellink field_name__mobile px-0">
                          <i class="material-icons std_icon iconval__mobile_friendly">mobile_friendly</i>
                          <div class="fieldelement">
                            <a href="tel:{{localform.value['mobile']}}"> <i class="icontype__element material-icons std_icon iconval__settings_phone">settings_phone</i> Click to call </a>
                            <span class="validationerror minLength" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.minlength">Must contain minimum 10 characters</span>
                            <span class="validationerror maxLength" *ngIf="localform.controls['mobile'].errors && localform.controls['mobile'].errors.maxlength">Must contain maximum 10 characters</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mx-0">
                  <div class="col-md-12 field field_type__button field_name__sort_button px-0">
                    <div class="fieldelement text-right">
                      <button class="btn btn-sm btn-primary px-2 col-6" (click)="templateutilsService.navigateToRoute('employer/jobseeker/' + localform.value['id'])"><i class="icontype__element material-icons std_icon iconval__remove_red_eye">remove_red_eye</i> VIEW</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 field field_type__group field_name__candidate_noncard_details std_threecolumn_flex mb-2">
              <div class="fieldelement">
                <div class="bg-secondary rounded-sm p-2 fieldsgroup">
                  <div class="col-12 col-md-4 mb-4 field field_type__label field_name__preferred_job_location_city">
                    <div class="fieldelement">
                      <i class="material-icons std_icon iconval__fmd_good">fmd_good</i>
                      <span>{{localform.value["preferred_job_location_city"] | fieldvaluetransform:'truncate':10}}</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-4 field field_type__label field_name__current_salary">
                    <div class="fieldelement">
                      <i class="material-icons std_icon iconval__payments">payments</i>
                      <span>{{localform.value["current_salary"] | fieldvaluetransform:'formatcurrency'}}</span>
                      <span class="validationerror min" *ngIf="localform.controls['current_salary'].errors && localform.controls['current_salary'].errors.min">Must be greater than 0</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-4 field field_type__label field_name__dob">
                    <div class="fieldelement">
                      <i class="material-icons std_icon iconval__perm_contact_calendar">perm_contact_calendar</i>
                      <span>{{localform.value["dob"] | fieldvaluetransform:'calculateage'}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 field field_type__social-share-buttons field_name__social_share my-2 text-center">
              <div class="mb-2 font-weight-bold fieldlabel">
                <span class="font-weight-bold fieldlabeltext"> Share Online </span>
              </div>
              <div class="fieldelement">
                <share-buttons
                  [url]="'https://app.swaayam.co/candidate/profile/'+localform.value['id']"
                  [theme]="'material-dark'"
                  [image]="localform.value['video_id_media_frame_url']"
                  [title]="localform.value['name']"
                  [description]="localform.value['name']"
                  [include]="['whatsapp',  'copy']"
                ></share-buttons>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div class="pagination-container">
  <ul class="pagination justify-content-center" *ngIf="total_pages>1">
    <li class="page-item"><button [disabled]="page_number==1" [class.disabled]="page_number==1" class="page-link" (click)="load_data_page(1)">First</button></li>
    <li class="page-item"><button [disabled]="page_number==1" [class.disabled]="page_number==1" class="page-link" (click)="load_data_page(page_number-1)">Prev</button></li>
    <li class="page-item active">
      <button class="page-link"><strong>{{page_number}}</strong></button>
    </li>
    <li class="page-item"><button [disabled]="page_number==total_pages" [class.disabled]="page_number==total_pages" class="page-link" (click)="load_data_page(page_number+1)">Next</button></li>
    <li class="page-item"><button [disabled]="page_number==total_pages" [class.disabled]="page_number==total_pages" class="page-link" (click)="load_data_page(total_pages)">Last</button></li>
  </ul>
</div>
