<div class="col-12 my-4">
  <h1 class="text-dark hosttitle font-weight-bold">Notifications</h1>
</div>
<div class="fieldset">
  <div class="row mx-0 section px-md-3">
    <div class="col-12 col-md-4 mb-4 field field_type__node_obj_list field_name__notifications stdgridresults1">
      <div class="fieldelement">
        <div class="nodeslist nodeslist_ofsize_{{(localform.controls['notifications']['controls'])?localform.controls['notifications']['controls'].length:'controlsmissing'}}">
          <div class="nodeslist_nodes_container">
            <ng-container *ngIf="localform.controls['notifications']['controls'] && localform.controls['notifications']['controls'].length>0">
              <div class="nodeslist_node" *ngFor="let node of localform.controls['notifications']['controls'];let i=index;">
                <ng-container [ngTemplateOutlet]="template_nodelist_notifications" [ngTemplateOutletContext]="{localform: node, index: i}"></ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="response_data!==undefined && localform.controls['notifications']['controls'] && localform.controls['notifications']['controls'].length===0">
              <div class="px-2 text-center">Your notifications are empty</div>
            </ng-container>
            <ng-container *ngIf="response_data===undefined">
              <div class="px-2 text-center font-weight-bold">Loading results...</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template_nodelist_notifications let-localform="localform" let-index="index">
  <div class="fieldset">
    <div class="row mx-0 section px-md-3">
      <div class="col-12 col-md-4 field field_type__richtextlabel field_name__created_at notification_createdat">
        <div class="fieldelement">
          <div class="fieldvalue" innerHTML='{{localform.value["created_at"]}}'></div>
        </div>
      </div>
      <div class="col-12 col-md-4 field field_type__richtextlabel field_name__notification_title my-2">
        <div class="fieldelement">
          <div class="fieldvalue" innerHTML='{{localform.value["notification_title"]}}'></div>
        </div>
      </div>
      <div class="col-12 col-md-4 field field_type__richtextlabel field_name__notification_text mb-2">
        <div class="fieldelement">
          <div class="fieldvalue" innerHTML='{{localform.value["notification_text"]}}'></div>
        </div>
      </div>
      <div class="col-12 col-md-4 field field_type__group field_name__notification_actions text-center buttons_group nonstandardiconcontainer std_threecolumn_flex">
        <div class="fieldelement">
          <div class="fieldsgroup">
            <div class="col-md-4 field field_type__button field_name__select col-4 mb-2 px-0">
              <div class="fieldelement">
                <button class="btn btn-link font-weight-bold text-primary" (click)="evalCode(localform.value['notification_action_onclick'])"><i class="icontype__element material-icons std_icon iconval__file_download_done">file_download_done</i> View</button>
              </div>
            </div>
            <div class="col-md-4 field field_type__button field_name__onhold col-4 mb-2 px-0">
              <div class="fieldelement">
                <button class="btn btn-link font-weight-bold text-danger" (click)="markNotification(localform, localform.value['notification_read_status'], 0)"><i class="icontype__element material-icons std_icon iconval__delete">delete</i> Delete</button>
              </div>
            </div>
            <ng-container *ngIf="localform.value['notification_read_status']=='UNREAD'">
              <div class="col-md-4 field field_type__button field_name__reject col-4 mb-2 px-0">
                <div class="fieldelement">
                  <button class="btn btn-link font-weight-bold text-dark" (click)="markNotification(localform, 'READ', localform.value['status_id'])">Mark Read</button>
                </div>
              </div> </ng-container
            ><ng-container *ngIf="localform.value['notification_read_status']=='READ'">
              <div class="col-md-4 field field_type__button field_name__reject col-4 mb-2 px-0">
                <div class="fieldelement">
                  <button class="btn btn-link font-weight-bold text-warning" (click)="markNotification(localform, 'UNREAD', localform.value['status_id'])">Mark Unread</button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div class="pagination-container">
  <ul class="pagination justify-content-center" *ngIf="total_pages>1">
    <li class="page-item"><button [disabled]="page_number==1" [class.disabled]="page_number==1" class="page-link" (click)="load_data_page(1)">First</button></li>
    <li class="page-item"><button [disabled]="page_number==1" [class.disabled]="page_number==1" class="page-link" (click)="load_data_page(page_number-1)">Prev</button></li>
    <li class="page-item active">
      <button class="page-link"><strong>{{page_number}}</strong></button>
    </li>
    <li class="page-item"><button [disabled]="page_number==total_pages" [class.disabled]="page_number==total_pages" class="page-link" (click)="load_data_page(page_number+1)">Next</button></li>
    <li class="page-item"><button [disabled]="page_number==total_pages" [class.disabled]="page_number==total_pages" class="page-link" (click)="load_data_page(total_pages)">Last</button></li>
  </ul>
</div>
